[2019-07-20 02:45] #482 closed

[2019-07-20 02:47] yoyo837 commented on #481
看不懂的项目你是不是都要开个issue？别搞得自己像苍蝇一样好不好, 其他国人在这里受偏见的时候不见你发言...

[2019-07-20 02:58] Yoefs commented on #446
抖你M的机灵呢，丢人

[2019-07-20 03:14] WeilunFong commented on #481
I hate such stupid person, even if I'm Chinese, too. | 同為中國人，為你這樣隨意發佈issue的行為感到丟臉。

[2019-07-20 03:19] 4thirteen2one commented on #481
不懂就学去啊......人家开源出来给你看就好不过了，你还指望让人家包教包会一条龙服务？伸手党当习惯了吗发这种毫无意义的issue......而且用的还是卡卡西的头像...... Shame on you.

[2019-07-20 03:23] AshLeung commented on #481
兄dei你火了呀。

[2019-07-20 03:27] yoyo837 commented on #481
Ask the owner to close the issue and lock it, Please...

[2019-07-20 03:30] haizhilin2013 opened #484 "Front-end interview 3+1 per day"
* [Vue 248 questions](https://github.com/haizlin/fe-interview/blob/master/lib/Vue.md)
* [React 328 questions](https://github.com/haizlin/fe-interview/blob/master/lib/React.md)

[Look at it](https://github.com/haizlin/fe-interview)

[2019-07-20 03:33] cannotbeblank commented on #480
你妈死了

[2019-07-20 03:36] ysy950803 commented on #481
哥们不能哗众取宠哦！

[2019-07-20 03:37] cerebrowang commented on #481
看不懂回去学，看懂了再来

[2019-07-20 03:37] tlztanluhe commented on #481
哪来的丢人的贱货

[2019-07-20 03:38] cannotbeblank commented on #446
nmsl

[2019-07-20 03:39] cannotbeblank commented on #446
nmsl

[2019-07-20 03:40] cannotbeblank commented on #438
nmsl

[2019-07-20 03:40] yxkhaha commented on #484
nb

[2019-07-20 03:40] MorningJack commented on #484
cool

[2019-07-20 03:43] yt-theme commented on #481
因为你一个issues中国开发者会被蔑视

[2019-07-20 03:43] dcy0701 commented on #480
你妈死了

[2019-07-20 03:45] thinkinweb commented on #481
99元汇编包教包会，不会退款。

[2019-07-20 03:45] dcy0701 commented on #484
你妈死了 别在这恶心人

[2019-07-20 03:46] dcy0701 commented on #482
特工把你妈干死了

[2019-07-20 03:48] 402392291 commented on #484
不错不错

[2019-07-20 03:51] shaoduo123 commented on #481
为什么这条中文issue没被closed ，大家自己都想想吧。这是一种歧视？

[2019-07-20 03:56] yoyo837 commented on #481
@shaoduo123 搜索全文就你在提‘歧视’二字。。。没有被关闭可能是时差，可能是无视，可能是任何其他原因，但都不是随意开issue的理由，任何项目都不喜欢随意开issue的人...

[2019-07-20 04:01] curse-zhina commented on #480
去你妈逼里领

[2019-07-20 04:02] curse-zhina commented on #446
你妈死了

[2019-07-20 04:04] curse-zhina commented on #480
死妈杠精玩意儿,还说别人是杠精

[2019-07-20 04:04] curse-zhina commented on #438
你们家妈都死了

[2019-07-20 04:04] aqutor commented on #481
Instead of learning, you choose to open a new issue. I don't know if this the way you learn. I assume you will never learn.

[2019-07-20 04:04] curse-zhina commented on #432
你们家妈都死了

[2019-07-20 04:07] nyer commented on #484
this issue is not relevant with this project, please close it.  by the way ,  it is impolite to advertise here

[2019-07-20 04:09] logic-wei commented on #481
Please say something meaningful.I hope GitHub could be a serious platform rather than "GayHub" like what we have joked.

[2019-07-20 04:12] oldmud0 commented on #481
Can't believe the number of downvotes these posts receive within two hours.

[2019-07-20 04:12] #481 closed

[2019-07-20 04:12] #484 closed

[2019-07-20 04:13] oldmud0 commented on #479
@drewster99 If you unsubscribe, you only unsubscribe to one issue - you have to unwatch the repository as  well.

[2019-07-20 04:13] #479 closed

[2019-07-20 04:14] nyer commented on #476
别人干的事，他们自己道歉

[2019-07-20 04:24] KennyWho commented on #484
`I love my family very much, cherish the ownership, health is blessing`

你是不是孤儿啊，你还有🏠吗？

[2019-07-20 05:03] chrislgarry opened #485 "Handling Issues"
Im currently working on the best way to deal with recent influx of issues. It seems there arent any features for dealing with this problem in bulk, so I submitted a feature request to bulk flag/delete in the UI (pretty sure it can be done using the API via a simple python script) and to limit issue creation etc. to accounts older than age X. Ill close this once we have a long-term solution. Unfort

[2019-07-20 05:27] hollykunge commented on #482
唯一一个可以接触外接的网站 中国人怎么就不能在这发泄一下了？

[2019-07-20 05:34] panfeng-Hn commented on #480
你们继续骂，我就当在看狗叫。请继续！！！

[2019-07-20 05:53] HandsomeKang commented on #476
I feel so sorry for our bad behavior.

[2019-07-20 06:13] JoelTsui commented on #480
应该把你加入到黑名单

[2019-07-20 06:16] JoelTsui commented on #482
丢人的傻逼玩意

[2019-07-20 06:18] liangchenhe55 commented on #476
话是没错。但是我们都是中国人，哪怕为了自己的未来也得帮忙一起维护中国人的形象。

---

That's right. Since we are all Chinese, just for our own future, we have to help maintain the image of the Chinese people together.

[2019-07-20 06:22] qwas982 commented on #476
为什么要道歉?莫名其妙.
你不会是山东大学(或与其有相似风气大学)教出来的崇洋媚外学生吧?
中文汉字汉语使你感到自卑吗?

[2019-07-20 06:26] qwas982 commented on #482
为什么丢人?莫名其妙.
你不会是山东大学(或与其有相似风气大学)教出来的崇洋媚外学生吧?
中文汉字汉语使你感到自卑吗?

[2019-07-20 06:31] liangchenhe55 commented on #476
可能我没说清楚，并不是因为中文而道歉，而是因为许多中文 issues 是低质量的，例如广告。我已经修改了原文以便更好地表述。

PS：英文是通用性最高的语言，在这样一个国际社区使用英文可以提高沟通效率。这与文化自信没有关系。当然，使用中文也不是不可以。再次强调，是为了内容而致歉。

[2019-07-20 06:32] JoelTsui commented on #482
在这种地方灌水不丢人是吧。垃圾。你觉得很自豪，可以，叫什么名字，哪个大学的？在哪儿上班呢？说出来让大家敬佩敬佩你。啥水平拿出来看看有没有资格说别人崇洋媚外

[2019-07-20 06:33] pihao commented on #480
![Snip20190720_2](https://user-images.githubusercontent.com/3308394/61575184-5c167680-aafb-11e9-9cc0-16b26be81951.png)
举报吧

[2019-07-20 06:34] pihao commented on #482
![Snip20190720_2](https://user-images.githubusercontent.com/3308394/61575198-87996100-aafb-11e9-8f31-8d6830fb1ddd.png)

[2019-07-20 06:37] qwas982 commented on #476
我算是明白为什么毛大爷要搞文 革格了,果然是酸腐文人,对外舔资本主义列强添得兴致高昂,对内在本国明搞暗搞资本主义,搞得社会底层生活艰难艰辛痛苦不堪,甚至拖累国家经济发展,果然是毒源!活该被批斗!毕竟这是因你们的本质而诞生的惩罚方式!中国很有必要再来一次文
 革!你以为文 革是革谁?!  就是革你们这群反革命!
毛大爷那一代人费九牛二虎之力要推翻的东西,经过改开40年又出现在中华大地上,不可思议.

[2019-07-20 06:40] qwas982 commented on #482
我算是明白为什么毛大爷要搞文 革格了,果然是酸腐文人,对外舔资本主义列强添得兴致高昂,对内在本国明搞暗搞资本主义,搞得社会底层生活艰难艰辛痛苦不堪,甚至拖累国家经济发展(经济泡沫,经济陷阱),果然是毒源!活该被批斗!毕竟这是因你们的本质而诞生的惩罚方式!中国很有必要再来一次文 革!你以为文 革是革谁?! 就是革你们这群反革命!
毛大爷那一代人费九牛二虎之力要推翻的东西,经过改开40年又重新出现在中华大地上,不可思议.

[2019-07-20 06:51] JoelTsui commented on #482
@qwas982 哈哈哈哈哈哈，真的是笑死我了，没想到你这种余孽还有，看了你的github，还顺便搜了一下知乎上的你，真的是要笑死我。我真的没想到，这个世界上还有你这种人存在。

[2019-07-20 06:55] dwiyatci commented on #485
I can understand and relate though 😅 🚀

![D_rv8nAW4AE6lrW](https://user-images.githubusercontent.com/4405796/61575428-e515b980-aacb-11e9-8aae-cb6276a79a23.jpg)

[2019-07-20 07:01] qwas982 commented on #482
@JoelTsui
毕竟你是沙雕瘾癌毒邪病癫娼呀,
我也没想到,本国推翻三座大山已经过去半个多世纪后,这个世界上也还有你们这群抱着三座大山不放的腐臭人存在。地富反坏右们,等着被清算吧!

[2019-07-20 07:32] vince7839 commented on #482
你觉得很搞笑？真尼玛丢净cn开发者的脸 你知不知道这项目issure页面的这种中文水帖在各论坛都被骂了个遍？

[2019-07-20 08:04] JoelTsui commented on #482
大哥，看清楚啊，友军

[2019-07-20 08:34] rdonegan09rr opened #487 "Node_js"
Node_js

[2019-07-20 08:44] o-u-p commented on #482
限制的是你这种技术不行的人， 我任何外网都能上

[2019-07-20 08:49] Xmug opened #488 "有些人总觉得别人丢脸，赶忙出来代表道歉，但实际上，在人家眼里，丢脸的是这种急哄哄道歉的人"

[2019-07-20 08:59] linfili commented on #476
I feel shameful for you as a Chinese.
People like you are not qualified to be a DEVELOPER.
You pulled down the qualities of Chinese programmers in front of the world.
Shame on you!

[2019-07-20 09:00] Jhonsem commented on #482
嘴巴嘟嘟 嘟嘟嘟

[2019-07-20 09:10] ZsgsDesign commented on #488
Please do not abuse Issues.

[2019-07-20 09:13] haixiang245 commented on #488
CCP please enhance the GFW further, tkx.

[2019-07-20 09:32] Rinacm commented on #482
哈哈，想不到github上也有五毛

[2019-07-20 09:34] Rinacm commented on #482
把"毛爷爷废了九牛二虎之力推翻的东西"给复辟了的不是敬爱的"邓爷爷"吗？你在这里不可思议什么呢？

[2019-07-20 09:35] jhy1234 commented on #488
What's your problem? Please do not abuse Issues.

[2019-07-20 09:40] qwas982 commented on #476
你是丑垃圾,崇洋媚外,我呸,不知廉耻.

[2019-07-20 09:43] Rinacm commented on #482
@qwas982 stop sending emoji and answer my question plz

[2019-07-20 09:44] linfili commented on #488
It's a shameful thing for the way you are using "Issues".

[2019-07-20 09:45] cyp0633 commented on #476
Some people are ruining the issue page and some of them are even ruining the apology?
That's such a pity.
另外，尊重别人的项目并不代表崇洋媚外。如果是中国人开的项目，某些人会再“啤酒饮料矿泉水”吗？
没素质咯，大家不要和他们闹。
真希望GitHub也有一个屏蔽功能。或者GFW应该精准墙一下~

[2019-07-20 09:46] qwas982 commented on #482
@Rinacm
你是美分,崇洋媚外,我呸,不知廉耻.
你想用你精西,和你洋大人的价值观来要求我吗?
你想把你当狗当出的快感自己觉得舒服所以就要强加给我吗?
烂人,恶臭!

[2019-07-20 09:47] Rinacm commented on #482
算了算了你这么可爱真的不想骂你了，但是你真的是把我整笑了

[2019-07-20 09:49] charming7201 commented on #488
不就是灌水多了点，issue不就是这么玩的（滑稽）

[2019-07-20 09:50] qwas982 commented on #476
一堆舔洋大人舔出快感的沙雕,
尼玛你洋大人刚刚表达了对你们这群野狗的厌恶,https://www.oschina.net/news/108334/chinese-repos-are-ruining-the-github-trending-page
你又不厌其烦地去舔你洋大人拉出来的新鲜屎.
你也是够牛逼, 咋滴,你还不允许别人自由发言了? 这么想当美分,竟然不知道第一修正案说的是啥.当狗当得很失败呀.

[2019-07-20 09:51] cyp0633 commented on #488
个人认为，灌水也应该先close掉，而且这么多确实影响正经阅读了

[2019-07-20 09:52] qwas982 commented on #482
一堆舔洋大人舔出快感的沙雕,
尼玛你洋大人刚刚表达了对你们这群野狗的厌恶,https://www.oschina.net/news/108334/chinese-repos-are-ruining-the-github-trending-page
 ,你又不厌其烦地去舔你洋大人拉出来的新鲜屎.
你也是够牛逼, 咋滴,你还不允许别人自由发言了? 这么想当美分,竟然不知道第一修正案说的是啥.当狗当得很失败呀..

[2019-07-20 09:52] charming7201 commented on #488
毕竟这是排行榜第一，人多点儿正常

[2019-07-20 09:55] NanamiArihara commented on #482
你说别人恶臭，他是中国人，你就是说中国人恶臭。既然中国人恶臭，你是中国人，你恶臭。你也恶臭，你就和他一样，说的都是屁话，如果你说你不恶臭，是放屁。卖国贼是句句屁话的，所以你是卖国贼。因为我骂你，所以我爱国，爱国的人说的话最有价值，所以我骂你很对，你就是恶臭的卖国贼

[2019-07-20 09:57] qwas982 commented on #482
你这种恶臭癫7吐出的狺狺狂吠,一句话就能回答了,
因为你是**爱国贼**啊.

[2019-07-20 09:57] yoyo837 commented on #482
@qwas982 你在这里带节奏，还发表政治言论。先不说这是国际社区应该尽量使用国际语言，而是这个issue的内容毫无异议存粹是灌水，换成其他语言的发出来也是一样讨厌，只是因为很多人看不懂才没参与进来，根本就没人在提说汉字自己觉得丢人的事。

**重点是无意义的灌水issue**，repo浏览者就必须被迫接受看到，和中文不中文无关，大多数情况都是国人在干这种事，比如上次Node.js之父的新项目就是这样。就好比总接到骚扰电话一样。再说回语言，至于为什么国际语言不是中文，你应该去问殖民者。

总之@qwas982 你的言论根本让人觉得就莫名其妙。

[2019-07-20 09:59] NianhengWu commented on #488
Who told you this is the way of using 'issue'?! If you want to start a fight, do it on Chinese crappy social platform like Weibo. We want to see real discussion here, not stupid flaming.

谁跟你说Issue就是这么用的，你要是想骂人在微博这种中国垃圾社交网络上去骂。我们在这是看认真讨论的，不是泼妇骂街。

[2019-07-20 09:59] NanamiArihara commented on #488
你📖的都怼，，，你📖啥就是啥不狡辩，，，

[2019-07-20 09:59] #487 closed

[2019-07-20 10:00] qwas982 commented on #482
不好意思哈,我就看不惯贬低我中华文明的存在,甭管你是外国鬼佬还是跪舔洋人的舔狗.

[2019-07-20 10:01] Rinacm commented on #488
然而敢于站出来道歉的至少有那个勇气，你在这里拥护那群灌水的废物是什么意思呢？

[2019-07-20 10:03] egdw commented on #488
请不要在出来丢中国人的脸了谢谢.

[2019-07-20 10:03] #488 closed

[2019-07-20 10:07] Rinacm commented on #482
恐怕你这秀智商的言论已经不仅仅是以偏概全的的问题了，建议去精神病院看一看，免得日后做出类似京都动画纵火犯之类的事情

[2019-07-20 10:10] qwas982 commented on #482
哎呀,你已经表达过你欲当跪舔狗的愿望了呀,我已经知道了,无需重复.
小心你狗主子要索你的狗命哟.哈哈哈哈哈.
索你狗命时,记得看清楚是谁索的,肆意嫁祸他人那你就不是是否有精神病的问题那么简单了.

[2019-07-20 10:23] HandsomeKang opened #490 "deleted"
deleted

[2019-07-20 10:23] #490 closed

[2019-07-20 10:42] medusar commented on #485
@dwiyatci I just wonder from where did you get these results ?

[2019-07-20 11:30] zhaoweijing2003 commented on #480
素质素质!

[2019-07-20 12:15] ddzy commented on #480
那么请问圣母, 他的下限在哪里? 别人没有一句侮辱、贬低该`repo`的言语, 你的下限又在哪里?

[2019-07-20 12:19] AnonymousIIIII commented on #480
？？
---原始邮件---
发件人:"三年级老猫"<notifications@github.com>
发送时间:2019年7月20日 星期六 下午8:16
收件人:"chrislgarry/Apollo-11"<Apollo-11@noreply.github.com>
抄送:"Subscribed"<subscribed@noreply.github.com>
主题:Re: [chrislgarry/Apollo-11] 代码我已经下载下来了，请问飞船我去哪领？ (#480)

丢人丢到国际上来了，别人致敬技术和这个伟大的项目，而一些有害垃圾到这里秀下限。

那么请问圣母, 他的下限在哪里? 别人没有一句侮辱、贬低该repo的言语, 你的下限又在哪里?

&mdash;
You are receiving this because you are subscribed to this

[2019-07-20 12:21] AnonymousIIIII commented on #480
我没说过这样的话啊，我是一名高中学生，也很热爱代码，我没说过这些话啊，可以加微信私聊吗？交个朋友也好
---原始邮件---
发件人:"三年级老猫"<notifications@github.com>
发送时间:2019年7月20日 星期六 下午8:16
收件人:"chrislgarry/Apollo-11"<Apollo-11@noreply.github.com>
抄送:"Subscribed"<subscribed@noreply.github.com>
主题:Re: [chrislgarry/Apollo-11] 代码我已经下载下来了，请问飞船我去哪领？ (#480)

丢人丢到国际上来了，别人致敬技术和这个伟大的项目，而一些有害垃圾到这里秀下限。

那么请问圣母, 他的下限在哪里? 别人没有一句侮辱、贬低该repo的言语, 你的下限又在哪里?

&mdash;
You are re

[2019-07-20 12:25] qwas982 commented on #480
觉得丢人的那群人的心理究竟是怎样形成的,我很好奇.

[2019-07-20 12:26] KennyWho commented on #480
github issue 不是让你玩梗 秀智商 玩幽默的地方，麻烦去微博 朋友圈发，一点问题没有。你这种傻逼行为，不配让我跟你好好说话，你有素质，我就有素质，你没素质，我没必要跟你讲，你听不懂，上面说圣母的弟弟，你妈是圣母吗，那我想kkp

[2019-07-20 12:27] AnonymousIIIII commented on #480
嗯嗯
---原始邮件---
发件人:"leng gu du"<notifications@github.com>
发送时间:2019年7月20日 星期六 下午8:26
收件人:"chrislgarry/Apollo-11"<Apollo-11@noreply.github.com>
抄送:"INnoVation"<596033559@qq.com>;"Comment"<comment@noreply.github.com>
主题:Re: [chrislgarry/Apollo-11] 代码我已经下载下来了，请问飞船我去哪领？ (#480)

觉得丢人的那群人的心理究竟是怎样形成的,我很好奇.

&mdash;
You are receiving this because you commented.
Reply to this email directly,view it on GitHu

[2019-07-20 12:31] KennyWho commented on #480
智商是个好东西，你在你家卧室拉屎吗？还是你用嘴吃屎？issue 请问 你怎么理解？github是微博还是你朋友圈，自己丢人还他妈有理了？那你实名截图发公司群里，我看看公司人觉得你幽默还是你傻逼。

[2019-07-20 12:44] qwas982 commented on #480
病癫邪鬼,红门恐丑,太多,太多,来势凶残,楼主小心.

[2019-07-20 13:31] fuchangle commented on #480
SB，你觉得你很幽默吗？在这儿丢人

[2019-07-20 16:45] oldmud0 commented on #485
I'd like to publicize the analytics for this repo:
![GitHub analytics](https://user-images.githubusercontent.com/5247009/61581379-367d7300-aae3-11e9-8172-32e19f288bed.png)
Last time the repo flared up like this was about 2 years ago. I don't remember at what number it peaked at, but this is a magnitude larger than the traffic we received at that time. GitHub is pretty good on spam, but "user-gener

[2019-07-21 04:11] suhanyujie commented on #485
Hi, I'm Chinese, and I feeling shame for those bad issues. But those people aren't standing all of us, I believe most of Chinese are friendly, for GitHub, for "Apollo-11"  ^ ^

[2019-07-21 04:21] chrislgarry commented on #485
@suhanyujie dont worry, joking is ok! We get a lot of joke issues from English speakers as well. But if the issues are violence, hate speech, etc, towards others, then we have to try to keep it peaceful.

[2019-07-21 04:24] chrislgarry commented on #485
@oldmud0 that's some insightful data. Perhaps we prepare before the anniversary each year. Scripts for bulk deletion via the REST API, etc.

[2019-07-21 10:06] fuuckgfw opened #495 "香港加油"
香港加油

[2019-07-21 10:09] fuuckgfw opened #496 "航天局招我当CTO吧，我保证能干好"
最多再招一个写方案的

[2019-07-21 10:57] dzyim commented on #496
Question: Have you ever written a compiler?

[2019-07-21 11:37] WJWXY opened #497 "膨胀了，我现在有点飘啊"

[2019-07-21 13:06] caridle commented on #485
你是中国人的悲剧，跪久了。社区言论谁都可以灌水，这是约定俗成的规矩。

[2019-07-21 15:34] W-Ping opened #498 "What hardware support"
What hardware support?  What is missing if you want to log in to the moon?

[2019-07-21 16:05] walkermanx opened #499 "我也是review过阿波罗11号登月项目源码的人了啊！！！激动 哈哈 有点飘了😄"
是不是review完这个源码   我就能走上人生巅峰了？

[2019-07-21 16:11] liyujiang-gzu commented on #499
兄弟，这两天凑热闹的中国人真多，又双叒叕霸榜了

[2019-07-21 16:13] liyujiang-gzu commented on #498
兄弟，别想了，凭一己之力就算给你硬件你也上不了天

[2019-07-21 16:28] liyujiang-gzu commented on #485
向伟大的作者致敬，我想这几天那么多中国朋友滥用issue凑热闹并无恶意，纯粹是增加参与感，毕竟阿波罗11号这么伟大的工程从小中国教科书里就说了，做梦也想不到我们有朝一日还能看到它的源码。

[2019-07-21 16:33] yichunl commented on #499
兄弟微信文章看过没: https://mp.weixin.qq.com/s/sP087NBWPw9BWf2oJKuxLw
pls stop abusing issue

[2019-07-21 17:04] #230 closed

[2019-07-21 22:19] #495 closed

[2019-07-21 22:19] #496 closed

[2019-07-21 22:19] #497 closed

[2019-07-21 22:20] #499 closed

[2019-07-21 22:20] #498 closed

[2019-07-22 01:46] qq1037861239 commented on #485
just as you know, the issues wrote by Chinese is good well joking, that is a lively way for us to cheering for it. It's a global site contains the multicultural, and I think now this project is not a technical problem any more, so, I don't think that's inappropriate. Unless you think these people are not earthlings. some people think they are gentlemen, despising this kind of celebrating, how does

[2019-07-22 01:53] wangyongquan666 commented on #485
so, what happen?

[2019-07-22 02:33] oldmud0 commented on #485
@wopian Let's stop categorically locking Chinese-only issues as spam - if they don't seem relevant, just close them, but locking as spam is becoming excessive.

@qq1037861239 I apologize for the locking. I cannot pretend to know Chinese to determine if it is really spam or not.

[2019-07-22 02:39] phqvince opened #502 "huo qian liu ming"
xie yao,gang xia feiji ,ren zai guangzhou

[2019-07-22 02:40] jhoneybee commented on #485
@oldmud0  Although GitHub is a diversified community, I think we should use English to communicate. This should be actively recommended. I don't think we should apologize for the lock-in of Chinese. (PS: I come to China)

[2019-07-22 02:43] #502 closed

[2019-07-22 03:33] qq1037861239 opened #503 "@wopian Let's stop categorically locking Chinese-only issues as spam - if they don't seem relevant, just close them, but locking as spam is becoming excessive."
@wopian Let's stop categorically locking Chinese-only issues as spam - if they don't seem relevant, just close them, but locking as spam is becoming excessive.

@qq1037861239 I apologize for the locking. I cannot pretend to know Chinese to determine if it is really spam or not, and the downvotes are becoming a little misleading.

no, don's need apologize, that nothing. It is interesting that most

[2019-07-22 03:33] #503 closed

[2019-07-22 03:34] qq1037861239 commented on #485
no, don's need apologize, that nothing. It is interesting that most of those people against Chinese joking is Chinese, they someone attacked me on my project page issues.
they say the issues have to be serious and technical, how? Real funny, just like someone told me I don't know how to play github.

[2019-07-22 04:35] quhaojieame opened #504 "终于参加了一个nb的项目了，膨胀了"

[2019-07-22 04:37] qq1037861239 commented on #504
很快就会有些傻逼骂你了，搞得好像是他爸的项目一样

[2019-07-22 04:38] #504 closed

[2019-07-22 05:35] jhoneybee commented on #485
@qq1037861239

https://github.com/seajs/seajs/issues/545 , We should respect the open source community and maintain it. We should not abuse it.

[2019-07-22 05:35] jhoneybee commented on #485
https://github.com/seajs/seajs/issues/545 , We should respect the open source community and maintain it. We should not abuse it.

[2019-07-22 05:40] qq1037861239 commented on #485
yes, you are right, but I think some harmless banter is not damage here. just like we also get joking in english here.

[2019-07-22 05:41] jhoneybee commented on #485
I hope you can take a good look at the code of conduct. It's a very good community and you don't want to destroy it (PS: Don't make life attacks).

+ https://www.contributor-covenant.org/version/1/4/code-of-conduct.md

[2019-07-22 05:44] jhoneybee commented on #485
If everyone talks about irrelevant topics, the real problems will be covered. This behavior is not advocated.

[2019-07-22 05:47] qq1037861239 commented on #485
yeah, I won't do that(attacked somebody), of course I respect it cause it's a great thing that human did. And I will listen to you who gives an opinion

[2019-07-22 06:14] lang-hu opened #505 "what's your problem？"
what's your problem？

[2019-07-22 06:18] dangyanglim commented on #505
are u ok？

[2019-07-22 06:34] dangyanglim commented on #504
@qq1037861239 对的，开玩笑而已，那些人太紧张了

[2019-07-22 06:51] jiduofengyufan commented on #505
Hello，thank you！Thank you very much！

[2019-07-22 07:40] ZhanChaoHan commented on #505
do u love mi fan???

[2019-07-22 08:15] Mosttaskiller commented on #505
Mi fans! Do you like? I'm very happy to，to be a(an) Indian

[2019-07-22 08:48] HaiyangDING commented on #505
What a shame. Please close this.

[2019-07-22 09:02] HaiyangDING commented on #485
We use issues as an effective way to communicate what needs to be done or what needs to be discussed. It is as simple as that. Being a Chinese you should be well aware that those issues in Chinese are not helping in any sense. If you want to celebrate, COOL, just go and find somewhere else, or create your own git project/repo on celebrating this, no problem.

[2019-07-22 09:23] birdie-github commented on #505
Reported Abuse to GitHub.

[2019-07-22 09:27] jiduofengyufan commented on #485
So we need to be calm, because we must understand clearly that most Chinese people always keep something only for a short while, and I believe that those useless Chinese issues will not be in flood in the near future.

[2019-07-22 09:32] YasPHP commented on #305
@johnhigginsavila not yet, can you translate it to Filipino?

[2019-07-22 09:35] qq1037861239 commented on #485
I wonder if the author is in charge or you are

[2019-07-22 09:57] linfili commented on #504
别丢人现眼了！在这里刷什么存在感，先去看看GitHub的issue是干什么用的行不行？
瞎提issue要所有关注这个项目的人都浪费精力看你的没有建设意见的口水灌水贴？

[2019-07-22 10:03] Eastion commented on #505
hi my name is Lilei

[2019-07-22 10:17] HaiyangDING commented on #485
It is very clear I am not in charge, but it is not relevant. It is all about trying to maintain a good atmosphere for efficient communicate, which is key to cooperate and innovation. Chinese or not, as long as you are a so-you-called earthling, and you are keen to help collaboration other than ruining it, you should follow the community code.

I am out of the discussion, and if you feel like winni

[2019-07-22 12:03] qrqiuren commented on #217
Hi, I checked page 1107 and made a PR #508 . Could you please check if it suits the contribution guidelines?

I'm also welcome if other people want to contribute to this issue.

[2019-07-22 12:17] DanFoad commented on #215
PR Created: https://github.com/chrislgarry/Apollo-11/pull/509

[2019-07-22 12:23] #505 closed

[2019-07-22 14:14] oldmud0 commented on #485
@wopian I really, really think locking everything is causing more harm than good right now.

[2019-07-23 04:52] liyujiang-gzu commented on #485
讨论真激烈啊！兄弟们建议用英语交流？抱歉，我用英文写不出来，只能借助翻译工具。
我认为github就是个全球化的多语言社区，凭啥就得必须用英语才能交流？老外不懂汉语，难道连翻译工具也不会用吗？
♥♥♥
What a heated discussion! Brothers suggest communicating in English? Sorry, I can't write in English. I can only use translation tools.
I think github is a global multilingual community. Why do we have to communicate in English? Foreigners don't know Chinese, can't they even use translation tools?

[2019-07-23 06:07] V-GreenTea commented on #485
都是中国人，用中文能死？

[2019-07-23 06:18] V-GreenTea commented on #485
都是中国人，用中文能死？

[2019-07-23 06:50] qq1037861239 commented on #485
@V-GreenTea 这儿有无数的贵宾犬，他们看到汉字就恶心犯晕，那还能怎样

[2019-07-23 07:06] caridle commented on #485
对呀，坚决使用中文，让中文走向全世界，希望 cell、nature 和 science 全部使用中文或者中国人至少要使用中文文章，包括很多的 SCI、EI 论文。我们程序猿首先走在前列，使用中文说明开源程序。

[2019-07-23 08:39] qq1037861239 commented on #485
@HaiyangDING I just can't understand that why don't you pull requests if you think about anything in this project? why? why you think stubbornly there should be no anything like joking or Chinese?
We are all individuals, no one stop you getting respect from the damn friendly upscale community!
Or maybe you should send an email to github telling them what a issue space should be.

[2019-07-23 08:56] qq1037861239 commented on #485
@HaiyangDING Let's stop talking about how to pull a issue. I am not stupid and I know clearly what thing are correct or not. I don't need anyone else to teach me how to use github.

[2019-07-23 09:35] jiduofengyufan commented on #485
We can't deny that it is a diversified world, and we can't deny that github is the world's largest open source community that attracts developers around the world. However, what we hope is to communicate more effectively and quickly here.Like a friend of mine in Sichuan who spoke to me in pure Sichuan dialect, I couldn't understand him at all. I hope he can speak to me in Mandarin as much as possi

[2019-07-23 13:32] lilydjwg commented on #485
I have skimmed some Chinese issues, and...I ended up blocking almost all authors of them because they are impolite or meaningless. Sigh...btw, the only person I've blocked as spam previously is likely Chinese too.

@caridle in order to promote Chinese to the world, the first thing to not do is use dirty words to spam, creating an impression that Chinese are dirty. (I don't like nor use my local di

[2019-07-23 18:22] oliver-yu opened #515 "这些代码，能在VMWARE 虚拟机上运行吗？"

[2019-07-23 18:31] oliver-yu opened #516 "This is the greatest technology sharing in human history！Human Hope in America！"
Human Hope in America

[2019-07-23 18:36] #516 closed

[2019-07-23 18:36] oliver-yu commented on #516
Human Hope in America！

[2019-07-23 18:36] #515 closed

[2019-07-23 18:48] wopian commented on #515
Check out http://www.ibiblio.org/apollo/ which has software to run AGC 👍

[2019-07-23 20:25] liyishuai commented on #485
1. As the [GitHub Community Guidelines](//help.github.com/en/articles/github-community-guidelines#building-a-strong-community) suggests, spamming repositories is by no means recommended:

2. GitHub is an inclusive community. Everyone has the right to use their favorite language, as long as they're contributive. Not all are experts in English. Even if someone can read English, they might not be con

[2019-07-24 02:03] jhoneybee commented on #485
You know exactly how to use github, but why don't you follow the community guidelines of github?

[2019-07-24 02:23] yujiangshui commented on #485
Maybe GitHub can learn from StackOverflow, give every account a reputation score (based on the registered time, pull requests, contribution, and other people's report). And the repo admin can set the criteria (like reputation more than 15) to contribute or submit an issue to this project?

[2019-07-24 02:25] qq1037861239 commented on #485
@jhoneybee
Yes, usually we talk about technical questions when sub an issue. most of these issues in joking do not contain any attacked words or hate speech, some unfriendly will be closed.

[2019-07-24 02:49] oldmud0 commented on #485
I don't understand what is being debated here. If there is something to be discussed, please keep it from being inflammatory; ad hominem is not tolerated. As for joke and off-topic issues, they will continue to be closed regardless of the language spoken. They are hidden away with all the other closed issues.

[2019-07-24 02:55] feiduan1211 commented on #305
Why don't you use Google Translate?-.-

[2019-07-24 03:05] qq1037861239 commented on #485
def main():
    bye()
    quit()

if __name__ == '__main__':
    main()

[2019-07-24 03:51] xia-tong opened #518 "我虎哥带我去月球上骑马。"

[2019-07-24 03:55] Zero1System commented on #518
GTFO bitch

[2019-07-24 04:34] loopq commented on #485
because English is the most extensive language......

[2019-07-24 04:54] V-GreenTea commented on #485
慕洋犬666。

[2019-07-24 05:28] qwas982 commented on #485
如果阅者访客看不惯-贬低和嘲讽和歧视我华夏文明与中文汉字汉语的那些慕洋犬们-的话,
请大声和踊跃地用中文汉字汉语发表自己的看法.
我观察到一个现象,为何在众多国际会议上,代表他那一国发言的人都是用他本国的语言?
经过搜索我找到的答案是;那是爱他的国和他的民族的表现,

[2019-07-24 05:57] veasion opened #519 "这代码谁看的懂，敬畏..."

[2019-07-24 06:09] qwas982 commented on #519
那个年代c语言还没诞生呢.甚至x86和arm都没诞生,因此用的汇编自然也不是x86汇编和arm汇编.
这是一种专用的硬件(专门设计的电路)和专门为这种硬件设计的语言,算法是直接用数学方程式先写在纸上的,然后再由汇编工程师当人肉编译器翻译为这种专用电路可执行的汇编代码.

[2019-07-24 07:13] zhaoyun006 opened #520 "已关注，虽然都看不明白，但是这是一个梦啊"

[2019-07-24 07:21] #520 closed

[2019-07-24 07:57] jhoneybee commented on #485
Github is an academic community. The default language of communication is English. If you don't like English, you can go to CSDN or Zhihu .

[2019-07-24 09:05] liqiushui opened #521 "有人能讲解一下么？"

[2019-07-24 12:12] user-Mrh commented on #485
我们抵触的只是以诋毁祖国文化来获取畸形的优越感的人。
你是个Easyboy？请收起你对着太平洋的屁股。
Why do some people always hate their compatriots using their own language to discuss problems? We admit that some people post rubbish in the community but only China produces assholes?
We are only against those who vilify the culture of their motherland in order to gain a distorted sense of superiority.

[2019-07-24 13:57] lgnan opened #522 "噜啊噜，农药专业掉段，需要的请联系QQ2222222222，质量安全有保障"
，噜啊噜，农药专业掉段，需要的请联系QQ2222222222，质量安全有保障

[2019-07-24 14:46] yqy159 commented on #518
求你了，给国人留点脸。

[2019-07-24 14:58] #519 closed

[2019-07-24 14:58] #521 closed

[2019-07-24 14:59] #518 closed

[2019-07-24 15:00] #522 closed

[2019-07-25 01:16] jhoneybee commented on #485
We should abide by the rules of github, which does not welcome anyone with verbal aggression.  if you can , please go to CSDN or Zhihu

[2019-07-25 01:22] yanzhao77 opened #523 "How to run this code"
These codes can be opened in visual Studio, but cannot run

[2019-07-25 02:38] holidaypenguin commented on #522
发生了什么？

[2019-07-25 07:24] Develkone commented on #485
https://www.zhihu.com/question/66642888,you can take a look at zhihu,look what qwas982 did and how does everyone think of his behavior.If you admit he is your compatriot,do as you like.

[2019-07-25 07:26] richardgong1987 opened #524 "用汇编语言写的？我需要买一台阿波罗号飞船运行此代码，请哪里可以买到阿波罗号"
用汇编语言写的？我需要买一台阿波罗号飞船运行此代码，请问哪里可以买到

[2019-07-25 08:10] V-GreenTea commented on #485
不是很懂慕洋犬们的脑子什么构造，用你妈和你爸教你的中文来表达就这么难？扯东扯西不明所以，直接说你们喜欢英文不就行了，低端的中文不配让你们这种高端人士使用。

[2019-07-25 09:17] ZhuJiaYou commented on #485
GitHub is a international community, so we should use international language to communicate.
Only in this way, we can understand each other.
I think there must be some people blackening Chinese deliberately.

[2019-07-25 12:28] larack8 commented on #524
I have someone for sell. If you would like to buy , please contact me secretly!

[2019-07-25 13:12] wangrunbo commented on #523
You need to buy a spaceship on amazon first

[2019-07-25 13:16] liyishuai commented on #485
This thread has derailed from “handing issues” into endless off-topic personal attacks on “Chinese or no Chinese on GitHub”. I’d recommend freezing such non-contributive discussions and craft a multilingual announcement, unless we intentionally treat here as a dustbin for spammers.

[2019-07-25 13:28] #524 closed

[2019-07-25 15:01] oldmud0 commented on #485
I agree. It seems that the discussion has spun off into a moot debate about representation of Chinese people by using Chinese instead of English. As I don't see a clear resolution to that debate, I have hidden it to concentrate on the actual discussion about how to handle incoming noise.

However, I also see that the traffic is gradually declining back to normal levels:
![Analytics screenshot](htt

[2019-07-26 02:20] surifans commented on #523
you should this,and do this ,then do this ,then it can run~

[2019-07-26 02:21] surifans commented on #523
you should do this,and do that ,then do this ,then it can run~

[2019-07-26 02:23] surifans commented on #523
你先这样，再这样，再那样，明白了吧，最后就可以跑了～

[2019-07-26 02:25] oszone opened #527 "最新神器、科学上网、ssr、VPN、翻墙、外网 、梯子、免费、天行、蓝灯、 油管、youtube、mac、开发者、设计师、工具、网址 https://jiasu.gitbook.io/index/"
最新神器、科学上网、ssr、VPN、翻墙、外网 、梯子、免费、天行、蓝灯、 油管、youtube、mac、开发者、设计师、工具、网址 https://jiasu.gitbook.io/index/

[2019-07-26 02:46] ictw commented on #527
真是丢人啊你.

[2019-07-26 02:54] #527 closed

[2019-07-26 03:03] oldmud0 commented on #523
I recommend an IBM System/360.

[2019-07-26 03:03] #523 closed

[2019-07-26 05:32] netpi commented on #527
悲哀！

[2019-07-26 08:39] ZnZry opened #529 "试试看还能不能发中文了"
呵呵呵呵呵

[2019-07-26 08:39] #529 closed

[2019-07-26 10:01] YouYouZhi commented on #527
丢人

[2019-07-28 05:38] curse-zhina commented on #524
去你妈逼里领

[2019-07-28 05:38] curse-zhina commented on #518
骑你妈逼

[2019-07-28 08:02] Aryezz commented on #233
Is help from "outsiders" wanted here? Because i could take this one.

[2019-07-28 11:09] wopian commented on #233
@Aryezz help by anyone is appreciated. Make sure to read the CONTRIBUTING file to know what to look out for :)

[2019-07-28 11:24] Aryezz commented on #233
Alright, i still got a couple questions that id like to clear before making a pull request:

1. `--` or `-`?
2. There's some comments that are right aligned, should i keep the tab/space combo or use only spaces?
3. Empty lines should never have any content, right? (so no # at the beginning of the line)
4. Is there a case where `# Page *` comments  need to have a newline before or after?

[2019-07-28 11:31] wopian commented on #233
`-` if its 1-character wide, `--` if it's two.

Tabs. Comments are all aligned by the same amount beside sections which is a wall of comments and no actual code. If you use an editor with [EditorConfig](https://editorconfig.org/#download) built-in (or available as a plugin) it'll set the files to the correct tab size (8) for you based on [our configuration](https://github.com/chrislgarry/Apollo-11

[2019-07-28 12:01] wopian commented on #485
Now that it's settled down, I think I'll go ahead and close this.

Most issues were locked for spam as they were low effort posts with only a title and an empty body (there were also some high-effort posts in Chinese/English that were closed and not locked).

This repository is the 69th most starred\[1] on GitHub and currently the 3rd highest trending repository on GitHub this week\[2]. 74 issues

[2019-07-28 12:01] #485 closed

[2019-07-29 12:27] Aryezz commented on #233
Ok, thanks for the tips, i'll go over the code again, because i'm sure i've missed some small things but it should be done in a week or so.

Also another question:
I've read on ibiblio that the Comanche 055 Code was "Validated". Does that mean that the actual code doesn't need to be proofread for typos or am i taking this out of context?

[2019-08-05 20:56] wopian commented on #233
Code doesn't need to be checked 👍

[2019-08-13 06:02] wonghumen commented on #524
mark

[2019-08-13 06:08] wonghumen commented on #523
www.taobao.com price:$1024 free shipping

[2019-08-13 06:18] wonghumen commented on #521
1:pull code
2:buy spaceship on www.taobao.com
3:docker run image:apollo
4:biu.......biu.......

[2019-08-28 02:00] dcy0701 commented on #524
买一艘把你妈骨灰送上天

[2019-09-02 15:11] #208 closed

[2019-09-03 04:16] Stevie-C commented on #3
This is just like that time you complained that the autopilot's "hold altitude" function caused a 200 foot per minute descent. No matter how hard I try, I have **yet** to successfully reproduce this problem on the ground!

[2019-09-03 05:55] brianmay commented on #3
Don't understand why this was tagged "Won't fix" and "Humour". Seems to me you don't appreciate the seriousness of this report.

[2019-09-03 08:19] theodesp commented on #3
@brianmay what do you expect? They are the same people that worked on the [Apollo13](https://en.wikipedia.org/wiki/Apollo_13) and we all know what happened...

[2019-09-11 19:01] #264 closed

[2019-09-15 19:04] #206 closed

[2019-10-01 23:06] darthrodolfo commented on #426
AWESOME!!!!!!!!

[2019-10-14 20:08] #213 closed

[2019-10-16 06:40] sabbirshawon opened #543 "added bangla language contribution"
I had added Bangla language contribution one month ago but it still not added. Can @chrislgarry  Add this from the checkout pull request?

[2019-10-16 09:35] moranegg commented on #426
Hi @dbouquin,
This repository is archived on Software Heritage and you can use for a persistent identifier for the software source code artifact this identifier:
`swh:1:snp:206c27c0c031c6aac6b5fedddba8fe082dea9836;origin=https://github.com/chrislgarry/Apollo-11` [[link](https://archive.softwareheritage.org/swh:1:snp:206c27c0c031c6aac6b5fedddba8fe082dea9836;origin=https://github.com/chrislgarry/Apo

[2019-10-17 12:55] wopian commented on #543
I'm going through the PRs from oldest to newest, with priority to proofing PRs which I unfortunately got quite behind on over the summer.

I've been slowly catching up and been looking around for native users to review the translation PRs (we got a huge amount over the summer) for the past few months, so they will be reviewed and merged in due time. :+1:

[2019-10-17 13:18] sabbirshawon commented on #543
thanks for reply @wopian

[2019-10-17 20:50] #543 closed

[2019-11-28 07:21] amin007 opened #545 "Are SpaceX run from this coding?"
Are Elon Musk's space company, SpaceX make they rocket fly from this coding?

[2019-12-01 14:20] elsandosgrande commented on #545
My guess would be a no, since the code is fifty years old and computing technology has moved on by **QUITE** a bit since then.

[2019-12-01 14:25] elsandosgrande commented on #305
@wasquared9 @feiduan1211 Google Translate and Bing Translator are not adequate for anything more than being interactive dictionaries at the moment. Come back with this suggestion in a few decades and the situation *might* be different.

[2019-12-02 01:59] #545 closed

[2019-12-02 03:10] RustyRaptor commented on #545
ye

[2019-12-05 16:59] #215 closed

[2020-01-05 15:24] danielz02 opened #551 "Misleading Chinese Translation"
The original Chinese translation is misleading with actual meaning being as follows:

It translated a single address into four institutions seperated by commas. Pull request #550 is associated with this issue.

[2020-01-05 16:54] #551 closed

[2020-01-05 17:06] #233 closed

[2020-02-19 02:27] rubyFeedback opened #557 "[Tutorial] Well ... :)"
This may be a bit much to ask, because people don't have much time available, I suppose ...

... but I think I am not the only one who thinks that it would be nice if someone could explain the code too.

This does NOT have to be to every minute details, mind you; just a single high quality document perhaps that introduces to the essentials, sort of like a semi-detailed overview, and linked in from

[2020-02-19 05:22] wopian commented on #557
You may be interested in the Space Guidance Analysis (SGA) memos:

http://www.ibiblio.org/apollo/links.html#Space_Guidance_Analysis_SGA_memos

And the User's Guide (by the same people who wrote the code) for what each subroutine does:

http://www.ibiblio.org/apollo/Documents/j2-80-E-2448-REV1_text.pdf
http://www.ibiblio.org/apollo/NARA-SW/SkylabDataCards.pdf

[2020-02-19 22:44] supakeen opened #560 "Provide Dutch translations"
I've provided a pull request to supply Dutch translations for the CONTRIBUTING and README parts of the repository.

[2020-02-19 23:31] #560 closed

[2020-02-19 23:57] wopian opened #562 "Proof AGC_BLOCK_TWO_SELF_CHECK"
Proof read transcribed code of [AGC_BLOCK_TWO_SELF_CHECK](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/AGC_BLOCK_TWO_SELF_CHECK.agc) against scans

Lines: 511
Page: 1284—1293

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-19 23:58] wopian opened #563 "Proof AGS_INITIALIZATION"
Proof read transcribed code of [AGS_INITIALIZATION](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/AGS_INITIALIZATION.agc) against scans

Lines: 229
Page: 0206—0210 (5)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-19 23:59] wopian opened #564 "Proof ALARM_AND_ABORT"
Proof read transcribed code of [ALARM_AND_ABORT](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/ALARM_AND_ABORT.agc) against scans

Lines: 251
Page: 1381—1385 (4)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-19 23:59] wopian opened #565 "Proof AOSTASK_AND_AOSJOB"
Proof read transcribed code of [AOSTASK_AND_AOSJOB](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/AOSTASK_AND_AOSJOB.agc) against scans

**ℹ️  Multiple PRs for ~15 pages at a time are recommended!**

Lines: 1069
Page: 1485—1506 (21)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:00] wopian opened #566 "Proof AOTMARK"
Proof read transcribed code of [AOTMARK](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/AOTMARK.agc) against scans

Lines: 695
Page: 244—261

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:01] wopian opened #567 "Proof ASCENT_GUIDANCE"
Proof read transcribed code of [ASCENT_GUIDANCE](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/ASCENT_GUIDANCE.agc) against scans

Lines: 647
Page: 843—856

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:02] wopian opened #568 "Proof ASSEMBLY_AND_OPERATION_INFORMATION"
Proof read transcribed code of [ASSEMBLY_AND_OPERATION_INFORMATION](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/ASSEMBLY_AND_OPERATION_INFORMATION.agc) against scans

Lines: 1069
Page: 001—027

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:02] wopian opened #569 "Proof ATTITUDE_MANEUVER_ROUTINE"
Proof read transcribed code of [ATTITUDE_MANEUVER_ROUTINE](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/ATTITUDE_MANEUVER_ROUTINE.agc) against scans

Lines: 1027
Page: 342—363

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:03] wopian opened #570 "Proof BURN_BABY_BURN--MASTER_IGNITION_ROUTINE"
Proof read transcribed code of [BURN_BABY_BURN--MASTER_IGNITION_ROUTINE](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/BURN_BABY_BURN--MASTER_IGNITION_ROUTINE.agc) against scans

Lines: 1059
Page: 731—751

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:19] wopian opened #571 "Proof CONIC_SUBROUTINES"
Proof read transcribed code of [CONIC_SUBROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/CONIC_SUBROUTINES.agc) against scans

Lines: 1864
Page: 1159—1204

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:20] wopian opened #572 "Proof CONTROLLED_CONSTANTS"
Proof read transcribed code of [CONTROLLED_CONSTANTS](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/CONTROLLED_CONSTANTS.agc) against scans

Lines: 558
Page: 038—053

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:20] wopian opened #573 "Proof DAPIDLER_PROGRAM"
Proof read transcribed code of [DAPIDLER_PROGRAM](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/DAPIDLER_PROGRAM.agc) against scans

Lines: 481
Page: 1410—1420 (10)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:21] wopian opened #574 "Proof DAP_INTERFACE_SUBROUTINES"
Proof read transcribed code of [DAP_INTERFACE_SUBROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/DAP_INTERFACE_SUBROUTINES.agc) against scans

Lines: 176
Page: 1406—1409 (4)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:22] wopian opened #575 "Proof DISPLAY_INTERFACE_ROUTINES"
Proof read transcribed code of [DISPLAY_INTERFACE_ROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/DISPLAY_INTERFACE_ROUTINES.agc) against scans

Lines: 1459
Page: 1341—1373

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:22] wopian opened #576 "Proof DOWNLINK_LISTS"
Proof read transcribed code of [DOWNLINK_LISTS](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/DOWNLINK_LISTS.agc) against scans

Lines: 430
Page: 193—205

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:23] wopian opened #577 "Proof DOWN_TELEMETRY_PROGRAM"
Proof read transcribed code of [DOWN_TELEMETRY_PROGRAM](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/DOWN_TELEMETRY_PROGRAM.agc) against scans

Lines: 455
Page: 988—997

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:24] wopian opened #578 "Proof ERASABLE_ASSIGNMENTS"
Proof read transcribed code of [ERASABLE_ASSIGNMENTS](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/ERASABLE_ASSIGNMENTS.agc) against scans

Lines: 2635
Page: 0090—0152

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:27] wopian opened #579 "Proof EXECUTIVE"
Proof read transcribed code of [EXECUTIVE](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/EXECUTIVE.agc) against scans

Lines: 503
Page: 1103—1114

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:28] wopian opened #580 "Proof EXTENDED_VERBS"
Proof read transcribed code of [EXTENDED_VERBS](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/EXTENDED_VERBS.agc) against scans

Lines: 1681
Page: 0262—0300

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:28] wopian opened #581 "Proof FINDCDUW--GUIDAP_INTERFACE"
Proof read transcribed code of [FINDCDUW--GUIDAP_INTERFACE](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/FINDCDUW--GUIDAP_INTERFACE.agc) against scans

Lines: 743
Page: 0908—0925

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:29] wopian opened #582 "Proof FIXED_FIXED_CONSTANT_POOL"
Proof read transcribed code of [FIXED_FIXED_CONSTANT_POOL](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/FIXED_FIXED_CONSTANT_POOL.agc) against scans

Lines: 264
Page: 1095—1099 (4)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:29] wopian opened #583 "Proof FLAGWORD_ASSIGNMENTS"
Proof read transcribed code of [FLAGWORD_ASSIGNMENTS](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/FLAGWORD_ASSIGNMENTS.agc) against scans

Lines: 1269
Page: 0061—0089

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:30] wopian opened #584 "Proof FRESH_START_AND_RESTART"
Proof read transcribed code of [FRESH_START_AND_RESTART](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/FRESH_START_AND_RESTART.agc) against scans

Lines: 1242
Page: 0211—0237

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:30] wopian opened #585 "Proof GIMBAL_LOCK_AVOIDANCE"
Proof read transcribed code of [](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/.agc) against scans

Lines: 76
Page: 0364

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:31] wopian opened #586 "Proof GROUND_TRACKING_DETERMINATION_PROGRAM"
Proof read transcribed code of [GROUND_TRACKING_DETERMINATION_PROGRAM](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/GROUND_TRACKING_DETERMINATION_PROGRAM.agc) against scans

Lines: 205
Page: 0654—0657 (4)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:32] wopian opened #587 "Proof IMU_COMPENSATION_PACKAGE"
Proof read transcribed code of [IMU_COMPENSATION_PACKAGE](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/IMU_COMPENSATION_PACKAGE.agc) against scans

Lines: 418
Page: 0326—0337 (11)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:32] wopian opened #588 "Proof IMU_MODE_SWITCHING_ROUTINES"
Proof read transcribed code of [IMU_MODE_SWITCHING_ROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/IMU_MODE_SWITCHING_ROUTINES.agc) against scans

Lines: 1067
Page: 1309—1337

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:33] wopian opened #589 "Proof IMU_PERFORMANCE_TESTS_4"
Proof read transcribed code of [IMU_PERFORMANCE_TESTS_4](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/IMU_PERFORMANCE_TESTS_4.agc) against scans

Lines: 362
Page: 0382—0389

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:33] wopian opened #590 "Proof IMU_PERFORMANCE_TEST_2"
Proof read transcribed code of [IMU_PERFORMANCE_TEST_2](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/IMU_PERFORMANCE_TEST_2.agc) against scans

Lines: 421
Page: 0373—0381

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:34] wopian opened #591 "Proof INFLIGHT_ALIGNMENT_ROUTINES"
Proof read transcribed code of [INFLIGHT_ALIGNMENT_ROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/INFLIGHT_ALIGNMENT_ROUTINES.agc) against scans

Lines: 300
Page: 1249—1258 (9)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:34] wopian opened #592 "Proof INPUT_OUTPUT_CHANNEL_BIT_DESCRIPTIONS"
Proof read transcribed code of [INPUT_OUTPUT_CHANNEL_BIT_DESCRIPTIONS](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/INPUT_OUTPUT_CHANNEL_BIT_DESCRIPTIONS.agc) against scans

Lines: 224
Page: 0054—0060 (7)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:35] wopian opened #593 "Proof INTEGRATION_INITIALIZATION"
Proof read transcribed code of [INTEGRATION_INITIALIZATION](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/INTEGRATION_INITIALIZATION.agc) against scans

Lines: 1102
Page: 1205—1226

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:35] wopian opened #594 "Proof INTER-BANK_COMMUNICATION"
Proof read transcribed code of [INTER-BANK_COMMUNICATION](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/INTER-BANK_COMMUNICATION.agc) against scans

Lines: 175
Page: 0998—1001 (4)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:36] wopian opened #595 "Proof INTERPRETER"
Proof read transcribed code of [INTERPRETER](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/INTERPRETER.agc) against scans

Lines: 3075
Page: 1002—1094

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:36] wopian opened #596 "Proof INTERPRETIVE_CONSTANT"
Proof read transcribed code of [INTERPRETIVE_CONSTANT](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/INTERPRETIVE_CONSTANT.agc) against scans

Lines: 81
Page: 1100—1101

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:37] wopian opened #597 "Proof INTERRUPT_LEAD_INS"
Proof read transcribed code of [INTERRUPT_LEAD_INS](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/INTERRUPT_LEAD_INS.agc) against scans

Lines: 117
Page: 0153—0154 (2)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:38] wopian opened #598 "Proof KALCMANU_STEERING"
Proof read transcribed code of [KALCMANU_STEERING](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/KALCMANU_STEERING.agc) against scans

Lines: 229
Page: 0365—0369 (5)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:38] wopian opened #599 "Proof KALMAN_FILTER"
Proof read transcribed code of [KALMAN_FILTER](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/KALMAN_FILTER.agc) against scans

Lines: 101
Page: 1470—1471 (2)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:39] wopian opened #600 "Proof KEYRUPT_UPRUPT"
Proof read transcribed code of [KEYRUPT_UPRUPT](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/KEYRUPT_UPRUPT.agc) against scans

Lines: 132
Page: 1338—1340 (3)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:39] wopian opened #601 "Proof LAMBERT_AIMPOINT_GUIDANCE"
Proof read transcribed code of [LAMBERT_AIMPOINT_GUIDANCE](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/LAMBERT_AIMPOINT_GUIDANCE.agc) against scans

Lines: 169
Page: 0651—0653 (3)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:40] wopian opened #602 "Proof LANDING_ANALOG_DISPLAYS"
Proof read transcribed code of [LANDING_ANALOG_DISPLAYS](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/LANDING_ANALOG_DISPLAYS.agc) against scans

Lines: 536
Page: 0898—0907 (9)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:40] wopian opened #603 "Proof LATITUDE_LONGITUDE_SUBROUTINES"
Proof read transcribed code of [LATITUDE_LONGITUDE_SUBROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/LATITUDE_LONGITUDE_SUBROUTINES.agc) against scans

Lines: 308
Page: 1133—1139 (6)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:41] wopian opened #604 "Proof LEM_GEOMETRY"
Proof read transcribed code of [LEM_GEOMETRY](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/LEM_GEOMETRY.agc) against scans

Lines: 209
Page: 0320—0325 (6)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:41] wopian opened #605 "Proof LUNAR_AND_SOLAR_EPHEMERIDES_SUBROUTINES"
Proof read transcribed code of [LUNAR_AND_SOLAR_EPHEMERIDES_SUBROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/LUNAR_AND_SOLAR_EPHEMERIDES_SUBROUTINES.agc) against scans

Lines: 196
Page: 0984—0987 (4)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 00:42] wopian opened #606 "Proof LUNAR_LANDING_GUIDANCE_EQUATIONS"
Proof read transcribed code of [LUNAR_LANDING_GUIDANCE_EQUATIONS](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/LUNAR_LANDING_GUIDANCE_EQUATIONS.agc) against scans

Lines: 1474
Page: 0798—0828

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:34] wopian opened #608 "Proof MEASUREMENT_INCORPORATION"
Proof read transcribed code of [MEASUREMENT_INCORPORATION](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/MEASUREMENT_INCORPORATION.agc) against scans

Lines: 495
Page: 1149—1158

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:35] wopian opened #609 "Proof ORBITAL_INTEGRATION"
Proof read transcribed code of [ORBITAL_INTEGRATION](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/ORBITAL_INTEGRATION.agc) against scans

Lines: 977
Page: 1227—1248

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:36] wopian opened #610 "Proof P-AXIS_RCS_AUTOPILOT"
Proof read transcribed code of [P-AXIS_RCS_AUTOPILOT](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/P-AXIS_RCS_AUTOPILOT.agc) against scans

Lines: 1056
Page: 1421—1441

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:36] wopian opened #611 "Proof P12"
Proof read transcribed code of [P12](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/P12.agc) against scans

Lines: 245
Page: 0838—0842 (5)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:37] wopian opened #612 "Proof P20-P25"
Proof read transcribed code of [P20-P25](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/P20-P25.agc) against scans

Lines: 5182
Page: 0492—0613

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:38] wopian opened #613 "Proof P30_P37"
Proof read transcribed code of [P30_P37](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/P30_P37.agc) against scans

Lines: 193
Page: 0614—0617 (4)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:38] wopian opened #614 "Proof P32-P35_P72-P75"
Proof read transcribed code of [P32-P35_P72-P75](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/P32-P35_P72-P75.agc) against scans

Lines: 1394
Page: 0618—0650

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:39] wopian opened #615 "Proof P34-35_P74-75"
Proof read transcribed code of [P34-35_P74-75](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/P34-35_P74-75.agc) against scans

Lines: 1764
Page: 0658—0702

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:39] wopian opened #616 "Proof P40-P47"
Proof read transcribed code of [P40-P47](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/P40-P47.agc) against scans

Lines: 1471
Page: 0752—0784

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:40] wopian opened #617 "Proof P51-P53"
Proof read transcribed code of [P51-P53](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/P51-P53.agc) against scans

Lines: 2341
Page: 0926—0983

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:40] wopian opened #618 "Proof P70-P71"
Proof read transcribed code of [P70-P71](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/P70-P71.agc) against scans

Lines: 434
Page: 0829—0837 (8)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:41] wopian opened #619 "Proof P76"
Proof read transcribed code of [P76](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/P76.agc) against scans

Lines: 164
Page: 0709—0711 (3)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:41] wopian opened #620 "Proof PHASE_TABLE_MAINTENANCE"
Proof read transcribed code of [PHASE_TABLE_MAINTENANCE](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/PHASE_TABLE_MAINTENANCE.agc) against scans

Lines: 411
Page: 1294—1302

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:42] wopian opened #621 "Proof PINBALL_GAME_BUTTONS_AND_LIGHTS"
Proof read transcribed code of [PINBALL_GAME_BUTTONS_AND_LIGHTS](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/PINBALL_GAME_BUTTONS_AND_LIGHTS.agc) against scans

Lines: 3798
Page: 0390—0471

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:42] wopian opened #622 "Proof PINBALL_NOUN_TABLES"
Proof read transcribed code of [PINBALL_NOUN_TABLES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/PINBALL_NOUN_TABLES.agc) against scans

Lines: 906
Page: 0301—0319

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:43] wopian opened #623 "Proof PLANETARY_INERTIAL_ORIENTATION"
Proof read transcribed code of [PLANETARY_INERTIAL_ORIENTATION](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/PLANETARY_INERTIAL_ORIENTATION.agc) against scans

Lines: 391
Page: 1140—1148 (8)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:44] wopian opened #624 "Proof POWERED_FLIGHT_SUBROUTINES"
Proof read transcribed code of [POWERED_FLIGHT_SUBROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/POWERED_FLIGHT_SUBROUTINES.agc) against scans

Lines: 447
Page: 1259—1267 (8)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:44] wopian opened #625 "Proof Q_R-AXIS_RCS_AUTOPILOT"
Proof read transcribed code of [Q_R-AXIS_RCS_AUTOPILOT](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/Q_R-AXIS_RCS_AUTOPILOT.agc) against scans

Lines: 860
Page: 1442—1459

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:45] wopian opened #626 "Proof R30"
Proof read transcribed code of [R30](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/R30.agc) against scans

Lines: 465
Page: 0712—0722 (10)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:45] wopian opened #627 "Proof R31"
Proof read transcribed code of [R31](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/R31.agc) against scans

Lines: 267
Page: 0703—0708 (5)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:45] wopian opened #628 "Proof R60_62"
Proof read transcribed code of [R60_62](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/R60_62.agc) against scans

Lines: 587
Page: 0472—0485 (13)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:46] wopian opened #629 "Proof R63"
Proof read transcribed code of [R63](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/R63.agc) against scans

Lines: 156
Page: 0338—0341

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:47] wopian opened #630 "Proof RADAR_LEADIN_ROUTINES"
Proof read transcribed code of [RADAR_LEADIN_ROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/RADAR_LEADIN_ROUTINES.agc) against scans

Lines: 103
Page: 0490—0491 (2)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:47] wopian opened #631 "Proof RCS_FAILURE_MONITOR"
Proof read transcribed code of [RCS_FAILURE_MONITOR](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/RCS_FAILURE_MONITOR.agc) against scans

Lines: 173
Page: 0190—0192 (3)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:48] wopian opened #632 "Proof RESTARTS_ROUTINE"
Proof read transcribed code of [RESTARTS_ROUTINE](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/RESTARTS_ROUTINE.agc) against scans

Lines: 325
Page: 1303—1309 (6)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:48] wopian opened #633 "Proof RESTART_TABLES"
Proof read transcribed code of [RESTART_TABLES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/RESTART_TABLES.agc) against scans

Lines: 297
Page: 0238—0243 (5)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:49] wopian opened #634 "Proof RTB_OP_CODES"
Proof read transcribed code of [RTB_OP_CODES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/RTB_OP_CODES.agc) against scans

Lines: 236
Page: 1397—1401 (4)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:50] wopian opened #635 "Proof S-BAND_ANTENNA_FOR_LM"
Proof read transcribed code of [S-BAND_ANTENNA_FOR_LM](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/S-BAND_ANTENNA_FOR_LM.agc) against scans

Lines: 201
Page: 0486—0489 (3)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:50] wopian opened #636 "Proof SERVICER"
Proof read transcribed code of [SERVICER](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/SERVICER.agc) against scans

Lines: 1715
Page: 0857—0897

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:51] wopian opened #637 "Proof SERVICE_ROUTINES"
Proof read transcribed code of [SERVICE_ROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/SERVICE_ROUTINES.agc) against scans

Lines: 224
Page: 1374—1380 (6)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:51] wopian opened #638 "Proof SINGLE_PRECISION_SUBROUTINES"
Proof read transcribed code of [SINGLE_PRECISION_SUBROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/SINGLE_PRECISION_SUBROUTINES.agc) against scans

Lines: 69
Page: 1102

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:52] wopian opened #639 "Proof SPS_BACK-UP_RCS_CONTROL"
Proof read transcribed code of [SPS_BACK-UP_RCS_CONTROL](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/SPS_BACK-UP_RCS_CONTROL.agc) against scans

Lines: 196
Page: 1507—1510

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:52] wopian opened #640 "Proof STABLE_ORBIT"
Proof read transcribed code of [STABLE_ORBIT](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/STABLE_ORBIT.agc) against scans

Lines: 441
Page: 0723—0730 (7)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:53] wopian opened #641 "Proof SYSTEM_TEST_STANDARD_LEAD_INS"
Proof read transcribed code of [SYSTEM_TEST_STANDARD_LEAD_INS](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/SYSTEM_TEST_STANDARD_LEAD_INS.agc) against scans

Lines: 125
Page: 0370—0372 (3)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:53] wopian opened #642 "Proof T4RUPT_PROGRAM"
Proof read transcribed code of [T4RUPT_PROGRAM](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/T4RUPT_PROGRAM.agc) against scans

Lines: 1354
Page: 0155—0189

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:54] wopian opened #643 "Proof T6-RUPT_PROGRAMS"
Proof read transcribed code of [T6-RUPT_PROGRAMS](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/T6-RUPT_PROGRAMS.agc) against scans

Lines: 163
Page: 1403—1405

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:54] wopian opened #644 "Proof TAGS_FOR_RELATIVE_SETLOC"
Proof read transcribed code of [TAGS_FOR_RELATIVE_SETLOC](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/TAGS_FOR_RELATIVE_SETLOC.agc) against scans

Lines: 347
Page: 0028—0037 (9)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:55] wopian opened #645 "Proof THE_LUNAR_LANDING"
Proof read transcribed code of [THE_LUNAR_LANDING](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/THE_LUNAR_LANDING.agc) against scans

Lines: 335
Page: 0785—0792 (7)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:55] wopian opened #646 "Proof THROTTLE_CONTROL_ROUTINES"
Proof read transcribed code of [THROTTLE_CONTROL_ROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/THROTTLE_CONTROL_ROUTINES.agc) against scans

Lines: 224
Page: 0793—0797

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:56] wopian opened #647 "Proof TIME_OF_FREE_FALL"
Proof read transcribed code of [TIME_OF_FREE_FALL](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/TIME_OF_FREE_FALL.agc) against scans

Lines: 721
Page: 1268—1283

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:56] wopian opened #648 "Proof TJET_LAW"
Proof read transcribed code of [TJET_LAW](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/TJET_LAW.agc) against scans

Lines: 519
Page: 1460—1469

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:56] wopian opened #649 "Proof TRIM_GIMBAL_CNTROL_SYSTEM"
Proof read transcribed code of [TRIM_GIMBAL_CNTROL_SYSTEM](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/TRIM_GIMBAL_CNTROL_SYSTEM.agc) against scans

Lines: 622
Page: 1472—1485 (13)

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:57] wopian opened #650 "Proof UPDATE_PROGRAM"
Proof read transcribed code of [UPDATE_PROGRAM](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/UPDATE_PROGRAM.agc) against scans

Lines: 548
Page: 1386—1396

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 02:57] wopian opened #651 "Proof WAITLIST"
Proof read transcribed code of [WAITLIST](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/WAITLIST.agc) against scans

Lines: 564
Page: 1117—1132

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2020-02-20 04:39] jiversen commented on #629
Please see PR #652

[2020-02-20 21:09] JakeRoggenbuck opened #654 "No 'CONTRIBUTING' file in Spanish"
There is a README.md in Spanish but not a 'CONTRIBUTING' file

[2020-02-20 23:21] #654 closed

[2020-02-20 23:30] #629 closed

[2020-02-21 00:40] #557 closed

[2020-02-21 00:46] wopian commented on #38
Updated title as original title has long since been addressed (giving the impression we are still lacking Apollo 11 code) and the actual discussion was unrelated and the reason why the issue is open.

[2020-02-21 00:47] #305 closed

[2020-02-21 01:36] #646 closed

[2020-02-22 23:06] GannonTdW commented on #643
hello, no changes needed for me.

[2020-02-22 23:23] GannonTdW commented on #638
#657
One extra point at the end of the last comment

[2020-02-25 15:25] cetfor commented on #643
I also found no issues.  Thanks for posting all relevant links, it made reviewing this code extremely easy  and a fun task over coffee before work.

[2020-02-25 18:18] wopian commented on #643
Awesome!

[2020-02-25 18:19] #643 closed

[2020-02-26 03:49] cetfor commented on #651
Minor issues:

Page 1122, `BZMF	WAITP00H` should be `BZMF	WAITPOOH` Note the 0 vs O.

Link: https://github.com/chrislgarry/Apollo-11/blob/master/Luminary099/WAITLIST.agc#L206

Also on the same page, lower.
`WAITP00H	DXCH	WAITEXIT` should be `WAITPOOH	DXCH	WAITEXIT`

Link: https://github.com/chrislgarry/Apollo-11/blob/master/Luminary099/WAITLIST.agc#L561

These seem to be corroborated by https://ww

[2020-02-26 04:15] cetfor commented on #651
A similar issue occurs on page 1131 where both `LONGP00H` should be `LONGPOOH` ([link](https://github.com/chrislgarry/Apollo-11/blob/master/Luminary099/WAITLIST.agc#L509)).

The corresponding label is on page 1132 ([link](https://github.com/chrislgarry/Apollo-11/blob/master/Luminary099/WAITLIST.agc#L559)).

Page 1132, `WAITP00H` should be `WAITPOOH` ([link](https://github.com/chrislgarry/Apollo-11

[2020-02-26 04:44] cetfor commented on #645
Issue 1: `GOTOP00H` should be `GOTOPOOH` ([code](https://github.com/chrislgarry/Apollo-11/blob/master/Luminary099/THE_LUNAR_LANDING.agc#L248), [img](http://www.ibiblio.org/apollo/ScansForConversion/Luminary099/0789.jpg))

Issue 2: `GOTOP00H` should be `GOTOPOOH` ([code](https://github.com/chrislgarry/Apollo-11/blob/master/Luminary099/THE_LUNAR_LANDING.agc#L320), [img](http://www.ibiblio.org/apollo

[2020-02-26 10:25] wopian commented on #651
Please do not use the HTML source code provided by Ibiblio - those files and this repo come from the same 2009 digitisation source. The images are the only true source 👍

[2020-02-26 10:38] wopian commented on #645
Yeah, the print quality of the Luminary printouts are considerably worse than Comanche (but not the worst from the Apollo program - Colossus249 is even harder to read)

[2020-02-26 20:31] #638 closed

[2020-03-01 21:09] #619 closed

[2020-03-04 17:33] #645 closed

[2020-03-06 11:35] Aryezz commented on #570
I can take this one

[2020-04-26 01:00] mapra99 commented on #641
Hi! @wopian. I'm new here, can I work on this issue?

[2020-04-26 01:06] wopian commented on #641
Go ahead! 👍

[2020-04-26 20:09] mapra99 commented on #641
Ok, thanks @wopian :)
I have this question
1. On page 370 we have these lines I'm highlighting
![image](https://user-images.githubusercontent.com/27536621/80318366-4db66300-87cf-11ea-922f-7d5902e9ed30.png)

This is the corresponding transcription.
https://github.com/chrislgarry/Apollo-11/blob/47d20df7df55d78939ecf5a7cab14a10d1484d83/Luminary099/SYSTEM_TEST_STANDARD_LEAD_INS.agc#L64-L66

There a ta

[2020-04-26 23:41] wopian commented on #641
These are different columns in the printouts. Make sure you read https://github.com/chrislgarry/Apollo-11/blob/master/CONTRIBUTING.md#formatting - the GitHub previews don't always display tabs 8 spaces wide, it should look like the following in your editor:

![image](https://user-images.githubusercontent.com/3440094/80322889-d0670e80-881f-11ea-9e9a-4bda82b6810d.png)

[2020-04-26 23:51] mapra99 commented on #641
Ok! I opened #667 fo this issue

[2020-04-27 03:04] #641 closed

[2020-04-30 04:13] chrislgarry commented on #38
This really has just become a meta issue. Let me know what you think.

[2020-05-21 07:43] #563 closed

[2020-05-22 05:34] 0xWind commented on #518
我服了，你们这群人能不能要点脸????

[2020-05-22 05:45] 0xWind opened #671 "别让你们的低素质毁了github的风气，丢了国人的脸"
首先我很抱歉使用issues说一些项目无关的事情。

一些傻逼：
issue是用来讨论问题的，不是拿来给你们灌水吹逼当成论坛用的！
请你们在使用github之前了解一下github的社区规则，看到你们这群人就恶心。
你们还他妈的振振有词？脸呢？
学习没有礼仪这门课不代表你们不需要礼仪。
不懂得什么叫“开源”的傻逼赶紧**滚**出github，别他妈把github当成白嫖代码的地方。

[2020-05-22 05:45] #671 closed

[2020-05-28 16:17] zbigos commented on #639
Hey, can I take this one?

[2020-05-28 19:23] wopian commented on #639
@zbigos go ahead!

[2020-06-01 19:58] EGA-SUPREMO commented on #644
I only checked for typos using both reduced quality scans and the high ones and I didn't find any differences.

[2020-06-01 20:01] EGA-SUPREMO commented on #611
I'll take this one

[2020-06-01 21:47] #644 closed

[2020-06-02 19:02] #611 closed

[2020-06-05 10:05] Sid200 commented on #640
Hey @wopian! I am new here... Can I take this one?

[2020-06-05 15:07] wopian commented on #640
@Gaboso go ahead! 👍

[2020-06-05 15:28] Sid200 commented on #640
Uhh

[2020-06-05 17:52] wopian commented on #640
Oops

[2020-06-05 17:54] Sid200 commented on #640
Alrighty thanks!

[2020-06-06 10:24] Sid200 commented on #640
Hey, I am done checking. There were some line break issues, two hyphens instead of one in the comments and a date was wrong. There's just one error I am not sure of. Is this line in 0726.jpg:

![image](https://user-images.githubusercontent.com/41021075/83941982-5dcd5380-a80d-11ea-92ef-2a05f30131b3.png)

supposed to be a decimal point or a comma?

[2020-06-07 02:15] wopian commented on #640
@Sid200 It's a decimal point.

[2020-06-07 04:26] jstuyck commented on #591
Reviewed. #673

[2020-06-07 11:57] Sid200 commented on #640
Ok I am done checking. Here are the corrections:

- Changed the double hyphens with a single one as per the scans.
- Changed the date from `26JAN68` to `25JAN68`
- Changed a comma to a decimal point. (`7,1` to `7.1`)
- Removed extra line breaks.

Opened a pull request.

[2020-06-09 19:57] #591 closed

[2020-06-09 20:22] #640 closed

[2020-06-10 10:45] zbigos commented on #639
I have opened PR#675, please take a look at it.

[2020-06-17 23:54] soft9000 commented on #3
... it worked on my moon ...

[2020-06-18 17:47] s3ver1na commented on #3
that's no moon.....

[2020-06-18 18:02] lbotinelly commented on #3
Client decided to upgrade from legacy 60s tech stack alternatives like Soyuz and is now implementing https://github.com/r-spacex/SpaceX-API with at least one success case in production. Gotta say - it's about time.

[2020-06-21 11:19] ThomasJames opened #676 "Moon landing"

[2020-06-21 14:10] #676 closed

[2020-07-08 22:03] cvsmith commented on #564
I've added fixes for this file in this PR: https://github.com/chrislgarry/Apollo-11/pull/682

[2020-07-09 00:39] #564 closed

[2020-07-09 10:47] cvsmith commented on #574
https://github.com/chrislgarry/Apollo-11/pull/683

[2020-07-09 17:34] #574 closed

[2020-07-17 00:38] gamecoder-nz commented on #3
It works on my machine

[2020-08-02 19:33] lurch opened #690 "Contribution: easier way to view the AGC scans"
I was finding it quite tedious navigating through the AGC scans on ibiblio "by hand", so I knocked up a little HTML page which uses some buttons and some Javascript to make the scans **much** easier to navigate :smiley:

[code]

It doesn't really make sense to submit a PR for this though, as GitHub only displays the source-code of HTML pages, rather than allowing the browser to render the HTML its

[2020-08-03 20:43] wopian commented on #690
Thank you for this!

We can probably host it on GitHub Pages. I've modified the code slightly and committed it to the `gh-pages` branch, but @chrislgarry would need to enable Pages in the repository settings to use it.

[2020-08-03 20:56] lurch commented on #690
Cool. Now that you've added the `COMANCHE055_PAGES` and `LUMINARY099_PAGES` constants (I thought about that, but couldn't be bothered :wink: ), I guess you could also add "First Page" and "Last Page" buttons.

[2020-08-03 21:07] wopian commented on #690
Added :)

[2020-08-04 01:31] lurch opened #692 "Question: relation between this repo and virtualagc?"
Hi,

I see that https://github.com/virtualagc/virtualagc also has a bunch of source-code transcribed from the same image-scans, and http://www.ibiblio.org/apollo/faq.html#What_about_GitHub_Repositories in fact mentions this repo, and claims that their repo is more up-to-date now?

As a test, I compared https://github.com/chrislgarry/Apollo-11/blob/master/Comanche055/CONIC_SUBROUTINES.agc and https

[2020-08-04 02:19] wopian commented on #692
See https://github.com/chrislgarry/Apollo-11/issues/38 for prior discussion.

I was unable to contribute much from 2017 onwards (from being one of the most active proofers) as I was at university, which I have finished this year and will be starting to go through the proofing issues once I've dealt with maintaining my other projects I've neglected over the years.

[2020-08-04 02:29] rburkey2005 commented on #692
@lurch Regarding #690, the Virtual AGC Project already provides colorized, hyperlinked HTML forms of all known-surviving AGC code.  For example, [the HTML for Luminary 99 is here](http://www.ibiblio.org/apollo/listings/Luminary099/MAIN.agc.html), and [the HTML for Comanche 55 is here](http://www.ibiblio.org/apollo/listings/Comanche055/MAIN.agc.html).  Perhaps #690 provides some advantage over the

[2020-08-04 03:08] wopian commented on #692
It's just displaying the scans in a quicker-to-navigate way. As opposed to opening multiple tabs or constantly editing the address bar while going through the pages to check for transcription issues.

Those are welcome too.

---

I think the overall goal as of now is to finish going through the [open proofing issues](https://github.com/chrislgarry/Apollo-11/issues?q=is%3Aopen+is%3Aissue+label%3A%2

[2020-08-09 21:47] MarioSGMiND opened #693 "Apollo 11"

[2020-08-10 01:53] #693 closed

[2020-09-02 15:21] #634 closed

[2020-09-02 15:21] #635 closed

[2020-09-04 22:13] #637 closed

[2020-09-19 21:16] #585 closed

[2020-09-20 21:43] #586 closed

[2020-09-20 21:45] #692 closed

[2020-09-20 21:45] #140 closed

[2020-09-26 00:46] mapra99 commented on #650
Hey @wopian! May I work on this one?

[2020-09-26 04:09] wopian commented on #650
@mapra99 go ahead!

[2020-09-27 03:28] mapra99 commented on #650
Thanks @wopian!

I have a small question.
This section enclosed by `## [WORKAROUND] RSB 2009` doesn't appear in the [scanned doc](http://www.ibiblio.org/apollo/ScansForConversion/Luminary099/1389.jpg). Should we keep it?
https://github.com/chrislgarry/Apollo-11/blob/41dd43fce0fedca09d78b0785f2813958914c17d/Luminary099/UPDATE_PROGRAM.agc#L198-L205

This is the scanned doc
![image](https://user-imag

[2020-09-28 16:19] wopian commented on #650
@mapra99 that section can be removed

[2020-10-01 08:27] h4llow3En commented on #631
I will take a look at this

[2020-10-03 20:14] sidemt commented on #631
May I take this one?

[2020-10-03 21:24] wopian commented on #631
@sidemt go ahead! 👍

[2020-10-04 00:05] panoreak commented on #592
Hello! Can I work on this? 😄

[2020-10-04 00:28] wopian commented on #592
Go ahead! Read [CONTRIBUTING.md](https://github.com/chrislgarry/Apollo-11/blob/master/CONTRIBUTING.md) before starting 👍

[2020-10-04 04:29] panoreak commented on #592
Thank you! I'll make sure to read the guidelines 😊

[2020-10-04 10:41] Lifeindeath commented on #613
On it

[2020-10-04 15:02] zpeters commented on #620
I would like to give this a go.  Mind assigning it to me?

[2020-10-04 15:28] wopian commented on #620
@zpeters assigned!

[2020-10-04 16:55] sidemt commented on #631
@wopian Sorry I just realized there already is another pull request to this issue. Did I check a wrong one?

[2020-10-04 22:26] zpeters commented on #620
Review completed.  No typos found.

The only "discrepancy" I noted was on page 1298.  The below exists in the code, but not on the original scan.  I assume this is intentional

`## [WORKAROUND] RSB 2004`
`	SBANK= PINSUPER`
`## [WORKAROUND]`

[2020-10-04 22:28] zpeters commented on #649
I would like to give this a go

[2020-10-05 11:51] RichardPilbery commented on #633
I'd like to tackle this issue.

[2020-10-05 15:25] rnd-debug commented on #624
Hi. I would like to try my chance against this piece. *tober rules :D

[2020-10-05 15:31] rnd-debug commented on #605
Hi. I would like to try my chance against this part (before eventually proceeding with a bigger part) (at least I have already found an issue here :)

[2020-10-05 17:18] RichardPilbery commented on #633
Okay I've made a start with this but need some advice about the tables themselves. Page 239 has a number of columns that precede the columns included in RESTART_TABLES.agc.

For example, line A0079 on page 239 is:

REF 29 LAST 213. 0074. then a couple of columns then EBANK- STATE

Should these be included?

[2020-10-05 18:56] crhaugen commented on #632
Hey, I'd like to tackle this issue!

[2020-10-06 02:00] zpeters commented on #649
Review completed.  No discrepancies or issues.

[2020-10-06 02:01] zpeters commented on #651
Shall i pick this up and create a PR for the changes?

[2020-10-06 02:01] zpeters commented on #648
I will grab this one.

[2020-10-06 02:01] zpeters commented on #647
I will grab this one.

[2020-10-06 02:01] zpeters commented on #642
I will grab this one.

[2020-10-06 18:33] serialhex commented on #624
I'm going to attempt this one if no one else is.

[2020-10-06 20:52] Atknssl commented on #618
Can I take this?

[2020-10-07 01:14] #627 closed

[2020-10-07 01:22] wopian commented on #651
@zpeters go ahead!

[2020-10-07 01:22] wopian commented on #648
@zpeters go ahead!

[2020-10-07 02:01] wopian commented on #649
Typo in file name

![image](https://user-images.githubusercontent.com/3440094/95278995-7300d000-0849-11eb-928c-a587d8d0a24f.png)

[2020-10-07 02:12] wopian commented on #649
There's some discrepancies with some equations in the comments, like [line 136 ](https://github.com/chrislgarry/Apollo-11/blob/master/Luminary099/TRIM_GIMBAL_CNTROL_SYSTEM.agc#L136)

![image](https://user-images.githubusercontent.com/3440094/95279558-eb1bc580-084a-11eb-9f89-d82e827341c1.png)

[2020-10-07 02:26] wopian commented on #570
@Aryezz it would be preferable to do the [Tiny](https://github.com/chrislgarry/Apollo-11/issues?q=is%3Aopen+label%3A%22Size%3A+Tiny%22+label%3A%22Help+Wanted%22), [Small](https://github.com/chrislgarry/Apollo-11/issues?q=is%3Aopen+label%3A%22Size%3A+Small%22+label%3A%22Help+Wanted%22) and [Moderate](https://github.com/chrislgarry/Apollo-11/issues?q=is%3Aopen+label%3A%22Size%3A+Moderate%22+label%3A

[2020-10-07 02:26] wopian commented on #642
@zpeters it would be preferable to do the [Tiny](https://github.com/chrislgarry/Apollo-11/issues?q=is%3Aopen+label%3A%22Size%3A+Tiny%22+label%3A%22Help+Wanted%22), [Small](https://github.com/chrislgarry/Apollo-11/issues?q=is%3Aopen+label%3A%22Size%3A+Small%22+label%3A%22Help+Wanted%22) and [Moderate](https://github.com/chrislgarry/Apollo-11/issues?q=is%3Aopen+label%3A%22Size%3A+Moderate%22+label%3

[2020-10-07 02:48] zpeters commented on #642
No problem

Sent from my iPad

[2020-10-07 02:52] zpeters commented on #649
Thank you for pointing this out.  Will start looking at file names in addition to the other things I missed.

[2020-10-07 12:50] zpeters commented on #620
Going to review this one again since i made some mistakes in another review.  I want to make sure i'm not missing anything

[2020-10-07 13:27] brams-dev commented on #608
Hi, I'd like to do this one

[2020-10-07 16:50] GintasS commented on #604
I'm going to take it.

[2020-10-07 19:03] GintasS commented on #604
https://github.com/chrislgarry/Apollo-11/pull/725

[2020-10-07 19:07] travis8 commented on #601
I'd like to take this one please.

[2020-10-07 20:24] #630 closed

[2020-10-07 23:24] crhaugen commented on #600
Hey, I'll take a look at this If that's alright :)

[2020-10-07 23:38] eldan-dex commented on #599
Verified the file to be correct, no edits are needed.

[2020-10-08 00:56] zpeters commented on #649
i just realized that i failed to read CONTRIBUTING.md.  Going to make sure and read this over.   Thanks again for the feedback.  This is a really fun project

[2020-10-08 04:31] jcyktor commented on #603
I can take this.

[2020-10-08 06:42] WCoder007 commented on #628
Wd like to try this!

[2020-10-08 12:34] dusekdan commented on #581
Assign me on this one, please.

[2020-10-08 15:15] tcuc commented on #624
@serialhex how's it going?
if youre tired of proofreading, ill be happy to pick up where you left off. :)

[2020-10-08 17:22] kagof commented on #598
I wouldn't mind grabbing this, if it is available!

[2020-10-08 18:32] Nabeelhassan commented on #597
I am taking this task. Will create a pull request shortly.

[2020-10-08 19:13] Nabeelhassan commented on #596
Please see the pull request for this issue.

[2020-10-08 20:24] #599 closed

[2020-10-08 21:04] Nabeelhassan commented on #597
why did you remove the hacktoberfest label @wopian ???

[2020-10-08 22:13] wopian commented on #597
Because it's a tag temporarily added alongside `Help Wanted` (all open issues) and `Good First Issue` (on issues with `Help Wanted` and either `Tiny` or `Small` labels).

These labels are there to guide visitors to issues they will manage to complete, instead of going in blind to a huge or bigger issue with 40+ pages and getting overwhelmed. The two biggest size labels are not something that can b

[2020-10-08 23:00] cnsumner commented on #573
Working on this one.

[2020-10-09 00:25] thesaltymaker commented on #628
I started working on this two days ago, I'm about 3 pages in.  Do you want the 'numbers' that are missing?

[2020-10-09 01:30] pjsier commented on #616
I'm interested in contributing the first few pages of this to start!

[2020-10-09 03:43] cnsumner commented on #573
Question on this: on the larger multiline comments, should I be spacing everything exactly like the scans, aligning things with the line above just like in the scan, or should I be following the conventions in the contributing readme?  For example, there are situations where I would need to use a tab and then 5 spaces to line something up just the scan shows, but the contributing document says to

[2020-10-09 04:28] cnsumner commented on #573
Created a PR with all pages proofed. The largest areas mentioned above that are in question start at line numbers 214 and 332 respectively.

[2020-10-09 11:56] WCoder007 commented on #628
![0473 jpg (1314×1000) - Google Chrome 09-10-2020 17_21_15_LI](https://user-images.githubusercontent.com/55753202/95580034-440a7a00-0a54-11eb-8998-abed262ebc99.jpg)

Should these be added too (as they are not already in the code)?

[2020-10-09 11:58] WCoder007 commented on #628
@wopian please check the above comment.
Thank you

[2020-10-09 12:17] tcuc commented on #624
I just started looking through it, and noticed on page 1262, that the word TRANSFORMED is hyphenated in the original, and not in the code here.
I assume that is an acceptable difference?
since it's a comment anyway.

[2020-10-09 14:05] serialhex commented on #624
Hey, sorry I didn't get back to you @tcuc I don't have reliable internet access, so I need to plan my updates accordingly.  As far as I know & understand, the code should be *exactly* like the transcript, including misspellings.  At least that's how I've been working on it.

I should have this done by the weekend sometime, maybe Monday.

[2020-10-09 17:43] wopian commented on #616
@pjsier I would suggest starting with the unassigned [Tiny](https://github.com/chrislgarry/Apollo-11/issues?q=is%3Aopen+label%3A%22Size%3A+Tiny%22+is%3Aissue+no%3Aassignee), [Small](https://github.com/chrislgarry/Apollo-11/issues?q=is%3Aopen+label%3A%22Size%3A+Small%22+is%3Aissue+no%3Aassignee) and [Moderate](https://github.com/chrislgarry/Apollo-11/issues?q=is%3Aopen+label%3A%22Size%3A+Moderate%2

[2020-10-09 17:46] pjsier commented on #616
@wopian sure! Looks like I'd missed some before, I'll comment on one of those

[2020-10-09 17:47] pjsier commented on #590
@wopian I'm interested in this one if it's available!

[2020-10-09 18:06] wopian commented on #573
Comments without code (e.g [page 1414](https://www.ibiblio.org/apollo/ScansForConversion/Luminary099/1414.jpg)) should be on the left

![image](https://user-images.githubusercontent.com/3440094/95615423-1f1c0400-0a60-11eb-90b6-85bfe0c1bb8d.png)

![image](https://user-images.githubusercontent.com/3440094/95615469-33600100-0a60-11eb-9109-f60913f44764.png)

The files use tabs, but sometimes needs spa

[2020-10-09 18:50] wopian commented on #628
That (red box) is part of the compiler output and not relevant for us. It shouldn't be included in the repository 👍

[2020-10-09 18:53] wopian commented on #624
This should be corrected to match the scans.

The proofing is focused solely on the comments (for the most part)

[2020-10-09 18:57] dmahely commented on #576
Hello @wopian
I'd like to work on this. Can you assign it to me?

[2020-10-09 20:57] callumW commented on #566
Hey, I'd like to give these a proof read if that is okay?

[2020-10-09 21:17] shubhadeepmandal394 commented on #628
I can Help !!

[2020-10-09 21:46] Nabeelhassan commented on #597
Ok, thanks for the clarification.

[2020-10-10 01:12] cnsumner commented on #573
Ok, thank you for the clarifications, much appreciated.  I believe all of the changes I have made are correct then, according to what you've said.

[2020-10-10 03:45] WCoder007 commented on #628
Thanks for the clarification @wopian
Do check PR :)

[2020-10-10 08:25] sidemt commented on #577
Can I take this one?

[2020-10-10 11:34] GintasS commented on #577
@sidemt Will you take this one or I can take it?

[2020-10-10 11:42] GintasS commented on #589
I'm going to take this one.

[2020-10-10 13:02] sidemt commented on #577
@GintasS I'm willing to work on it if it's ok with the maintainers 😉

[2020-10-10 17:15] rnd-debug commented on #572
Hello. I would like to take this one.

[2020-10-10 20:52] Harivind commented on #589
Hi @wopian,  I'd like to do this one

[2020-10-11 02:01] #592 closed

[2020-10-11 13:44] murtazahatim commented on #579
Hi @wopian! Can I pick up this one for hacktoberfest :)

[2020-10-11 17:16] cnikhil3 commented on #624
Is this still open? Is there something I can help with?

[2020-10-11 18:37] wopian commented on #624
@serialhex is already working on this

[2020-10-12 01:48] murtazahatim commented on #579
I've created the PR. Please let me know if any other changes are required. Cheers!

[2020-10-12 02:55] matthewlee626 commented on #567
Mind if I take this one?

[2020-10-12 16:02] serialhex commented on #624
@wopian Question:  I'm almost done with my transcription, but I just noticed that a lot of the **code** uses spaces instead of (or with) tabs in some places.  Such as this:

[code]

and

[code]

There's even this:

[code]

I don't know enough about AGC assembly to know if this is significant, but I doubt it is.  Should I remove these spaces?  It looks like it wouldn't mess up the alignment of the

[2020-10-12 18:56] serialhex commented on #562
I'm going to tackle this one next, if no one else minds...

[2020-10-12 18:59] serialhex commented on #562
...looks like someone beat me to it :disappointed:

[2020-10-12 23:53] wopian commented on #624
Should be tabs only for the code itself

[2020-10-12 23:58] zpeters commented on #620
On page 1295, line 32 (of the scan) the wording in the scan is `SAVE CALLER-S RETURN 2CADR`.  In the current code it is `SAVE CALLER'S RETURN 2CARD`.

I didn't see anything specifically mentioned in the instructions.  Is this correct how it is or should the apostrophe be corrected to a dash?

[2020-10-13 00:01] zpeters commented on #649
Could you point me to where this is located? Just curious where i need to look to confirm the correct file name.  Thanks

[2020-10-13 00:10] wopian commented on #649
First scanned page of each file (before `0001`/`R0001`) - https://www.ibiblio.org/apollo/ScansForConversion/Luminary099/1472.jpg

[2020-10-13 00:14] wopian commented on #620
Corrected to a dash :)

[2020-10-13 01:19] zpeters commented on #649
added pr #756 hopefully everything looks okay

[2020-10-13 10:02] murtazahatim commented on #625
Hey @wopian! One of my PR's is active but I'd like to start work on this if that's okay. Can I be assigned? :)

[2020-10-13 16:43] #649 closed

[2020-10-13 17:53] #631 closed

[2020-10-13 18:12] #582 closed

[2020-10-13 18:41] #605 closed

[2020-10-13 18:59] #633 closed

[2020-10-13 19:13] #632 closed

[2020-10-14 16:55] #587 closed

[2020-10-14 18:49] #623 closed

[2020-10-15 06:09] sidemt commented on #606
May I work on this?

[2020-10-17 20:26] dmahely commented on #622
Hi @wopian
I'd like to take this on.

[2020-10-18 04:21] ngsctt commented on #614
Hi, I'd love to take this on for Hacktoberfest, since the smaller issues seem to all be done/spoken for.

Do you have any preference for the number of pages per PR?

[2020-10-18 16:22] wopian commented on #614
10-15 full pages (since sometimes pages are only a few lines)

[2020-10-19 10:06] dhairyagada commented on #610
Hi @wopian , I wish to contribute to this issue, can it be assigned to me?

[2020-10-19 17:39] #618 closed

[2020-10-19 18:39] #594 closed

[2020-10-19 19:04] #601 closed

[2020-10-19 19:11] #597 closed

[2020-10-19 19:32] #573 closed

[2020-10-19 20:49] Atknssl commented on #621
Can I take this?

[2020-10-19 21:52] wopian commented on #621
@Atknssl please take any of the unassigned issues with the Moderate or Large labels (I think there's 1 Small left) before tackling the largest issue size.

[2020-10-19 22:02] Atknssl commented on #596
Can I take this

[2020-10-20 00:19] Yuri-M-Dias commented on #609
Could I get this assigned? Should probably be done by saturday.

[2020-10-20 14:56] #598 closed

[2020-10-20 15:17] #603 closed

[2020-10-20 15:26] #600 closed

[2020-10-20 16:59] Atknssl commented on #584
Can I take this?

[2020-10-20 20:12] serialhex commented on #217
Just finished proofing pages 1120 to 1129 in case anyone else was thinking of doing some more on this file.

[2020-10-21 11:02] Qurmo commented on #53
What happened to, we leave no man behind? ;).

[2020-10-22 09:59] vat0599 opened #773 "Open source code of conduct"
Creating a PR to add code of conduct for this repository.

[2020-10-22 16:04] wopian commented on #773
Duplicate of https://github.com/chrislgarry/Apollo-11/issues/411

[2020-10-22 16:04] #773 closed

[2020-10-22 17:54] Atknssl opened #777 "Question: Mod history at the beginning of files."
At the beginning of source codes, there is a mod history section annotating changes made in that file. As we proof these files, we make changes. Should we update mod history too?

[2020-10-22 19:14] oldmud0 commented on #777
Nope, those just denote corrections made during the Virtual AGC project - these days version control (Git history) has superseded that.

[2020-10-22 19:36] wopian commented on #777
No, [Git's blame](https://git-scm.com/docs/git-blame) and commit histories cover the changes here. The mod history is from Virtual AGC which we will be merging back into once Comanche and Luminary are fully proofed (see https://github.com/chrislgarry/Apollo-11/issues/38)

[2020-10-22 19:36] #777 closed

[2020-10-23 16:23] Illusion47586 commented on #690
Hey yo! I added a few styles to the buttons and added dark mode, check out my PR #778

[2020-10-23 17:33] robertoetcheverryr commented on #650
Is mapra99 still working on this?

[2020-10-23 17:42] mapra99 commented on #650
I am! Sorry for the long wait

[2020-10-23 18:06] robertoetcheverryr commented on #650
It's OK. Keep at it then. Just checking for hacktoberfest.

[2020-10-23 23:12] cbohn4 commented on #575
Id love to help with this. :)

[2020-10-24 17:41] #602 closed

[2020-10-24 17:59] #604 closed

[2020-10-24 18:13] GintasS commented on #604
Thanks!

[2020-10-24 18:36] ishaterdal commented on #593
I am working on this. Just to confirm - should I submit 2 PRs (15-6) for this issue or just one will all included?

[2020-10-24 20:03] wopian commented on #593
@ishaterdal you can split it equally (10 and 10) or combine. I believe this has a _lot_ of comment blocks so would suggest splitting.

[2020-10-25 03:19] ngsctt commented on #593
I'd be happy to pick this one up as well

[2020-10-25 03:25] ngsctt commented on #568
I'd be happy to pick this one up as well!

[2020-10-25 22:13] billypoke commented on #570
I can grab this as there are none of the smaller sizes left unassigned at the moment unless one of the other assignees has let you know they are unable to finish them.

[2020-10-27 09:37] murtazahatim commented on #625
@wopian Created two PRs for this issue as specified in the description.

[2020-10-27 15:35] zpeters commented on #651
I have fallen behind lately.  Please go ahead and pick this up

[2020-10-27 16:02] r-sreesaran commented on #651
I am working on this issue.

[2020-10-27 16:51] r-sreesaran commented on #651
Few observations here.
In line [Link](https://github.com/chrislgarry/Apollo-11/blob/master/Luminary099/WAITLIST.agc#L34) Just after the text ASSEMBLY there are two -- which is not present in the original image  [Image](http://www.ibiblio.org/apollo/ScansForConversion/Luminary099/1117.jpg)

Like wise in page 1117 in the image there is only a single hyphen, but in case of code in github there are tw

[2020-10-28 02:35] r-sreesaran commented on #651
@wopian Any comments here ?.

[2020-10-28 18:12] Sudhish2607 commented on #569
@wopian, I would like to work on this if it's ok?

[2020-10-28 18:29] wopian commented on #651
These should be replaced by a single hyphen to match scans.

The hyphen from scans should be added

This occurs in other places with clearer scans which show its most likely `PRIO35` (letter `i`, letter `o`) than `PR1035` - in [1098](https://www.ibiblio.org/apollo/ScansForConversion/Luminary099/1098.jpg) the `I` is printed clearly and the letter `O` is more square than the nearby zeroes (identical

[2020-10-28 20:00] Htorres507 commented on #690
hi this a new girl at this

[2020-10-29 04:52] ishaterdal commented on #642
I can work on this!

[2020-10-30 19:20] HeroicHitesh commented on #565
@wopian I'll work on it.

[2020-10-30 19:30] hyperbolic2346 commented on #565
Sorry @HeroicHitesh, I was working on this and found a couple of things but forgot to grab it. I'll submit a PR and move on to another issue.

[2020-10-30 19:37] HeroicHitesh commented on #565
@hyperbolic2346 No issues I'll see if I can find any other issue.

[2020-10-30 19:54] hyperbolic2346 commented on #238
I'm checking this one over now.

[2020-11-06 19:03] #626 closed

[2020-11-11 03:00] #628 closed

[2021-01-06 19:32] #613 closed

[2021-02-24 19:26] ashkov1 opened #807 "Dockerfile's request"
Could you please provide Dockerfile for both  comnand and lunar modules, so we can deploy and test it through docker-compose.

[2021-02-24 19:30] #807 closed

[2021-06-16 12:04] ShadowMitia commented on #231
Just letting you know I've started working on this one a bit. I'll keep you informed of my progress :grin:

[2021-08-19 12:57] xiebz opened #818 "呵呵"

[2021-08-19 14:39] #818 closed

[2021-09-14 10:06] Adatta1276 opened #819 "OH MY GOD SO AMAZING"
OH MY GOD SO AMAZING

[2021-09-14 10:10] #819 closed

[2021-09-17 20:23] fullmetalbrackets commented on #566
Hi, I'll take care of this one, if that's fine with you guys.

[2021-09-18 12:04] wopian commented on #566
Make sure to read the [Contributing Guide](https://github.com/chrislgarry/Apollo-11/blob/master/CONTRIBUTING.md) 👍

I haven't had much time to review the proofs lately due to work commitments but that'll be changing soon as I relocate.

[2021-09-22 14:44] Yolgie commented on #647
Would this be a nice ticket for Hacktoberfest? Can I take this one?

[2021-09-29 05:04] dhivyasreedhar commented on #648
Hi, I want to contribute here. How can I help?

[2021-09-29 15:03] wopian commented on #648
Read through the [contributing guide](https://github.com/chrislgarry/Apollo-11/blob/master/CONTRIBUTING.md) and begin checking the [TJET_LAW.agc](https://github.com/chrislgarry/Apollo-11/blob/master/Luminary099/TJET_LAW.agc) file against the scans beginning from [p1460](http://www.ibiblio.org/apollo/ScansForConversion/Luminary099/1460.jpg) to [p1469](http://www.ibiblio.org/apollo/ScansForConversio

[2021-10-01 02:56] panoreak commented on #650
Hello! Is anyone working on this?

[2021-10-01 10:15] wopian commented on #650
it is available

[2021-10-01 16:53] dimitraz commented on #608
Hi! Is this one still available for Hacktoberfest?

[2021-10-01 18:41] wopian commented on #608
It has been completed, just not reviewed yet.

[2021-10-01 18:41] robertoetcheverryr commented on #650
@panoreak I did actually call dibs last year. Could you kindly let me do it? I completely forgot about it

[2021-10-01 19:05] dhivyasreedhar commented on #648
Hi, I have proof read the given pages. I have made a pull request #822. Kindly review it.

[2021-10-02 15:46] dimitraz commented on #642
Is this one still available for Hacktoberfest?

[2021-10-02 23:03] DeltaXWizard commented on #583
Heya!

I know this is an old/stale issue, but may I please work on this? I'm new to the repo but I want to help proofread/transcribe code against scans. :)

[2021-10-03 17:34] panoreak commented on #650
Oh sorry, go ahead! I was just checking :)

[2021-10-03 22:37] robertoetcheverryr commented on #650
@wopian Are things like PROD. vs PROD (notice the dot), things that we have to check as well? Because there are several lines where additional stops or commas have been added, compared to the originals.

[2021-10-04 09:56] byt3h3ad commented on #612
can I take this?

[2021-10-04 10:11] wopian commented on #650
Additional punctuation not in the scans should be removed (and vice versa) 👍

[2021-10-04 13:55] byt3h3ad commented on #612
I can only do ~ 5 pages at a time. hope it won't be a problem.

[2021-10-08 11:15] fawkesG5 commented on #647
Hi @Yolgie are you working on this? If not mind if I take it up for my first issue?

[2021-10-09 05:44] fawkesG5 commented on #616
Hey @wopian. Can I take this up ? Tiny, small and moderate have already been assigned or are being handled by someone else.

[2021-10-10 00:38] j4cobgarby commented on #262
Hi, is this still available? I'd like to do it if so

[2021-10-18 12:17] taismassaro commented on #620
hey @wopian, I see this one is still open, I'd like to take it!

[2021-11-14 08:59] arda-guler commented on #236
I'd like to help with this one.

[2021-11-23 09:04] Yolgie commented on #647
I'm still working on this, sorry for being so slow 🐌

[2021-12-09 19:45] berndmehnert opened #854 "Just a report of false numbering in your readme.md on the .../Luminary099 page"
Hi there,  my son spotted that in your readme.md it reads

TJET_LAW.agc | 1460-1459

which should obviously be

TJET_LAW.agc | 1460-1469.

This is an amazing page by the way. It is absolutely fascinating to browse through the source code ;)

[2021-12-10 11:50] #854 closed

[2021-12-10 11:50] wopian commented on #854
Thanks for spotting that!

[2022-01-04 14:25] Froderick-Fronkensteen commented on #566
Hey @wopian I wasn't sure if this had been completed.  If not I was wondering if I could take a go at it.  Thanks!

[2022-01-04 14:47] fullmetalbrackets commented on #566
Feel free to reassign, I have not had a chance to do it sit down and finish it, and I don't know when I'll have the time.

[2022-01-04 15:05] Livedeecee1219 opened #855 "Proof"
Proof read transcribed code of [](//github.com/chrislgarry/Apollo-11/blob/master/Luminary099/.agc) against scans

**Multiple PRs for a few pages at a time are recommended!**

Lines:
Page: — ()

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Luminary099

[2022-01-05 15:01] #855 closed

[2022-01-12 05:10] Froderick-Fronkensteen commented on #566
Just wanted to reply back and say I have this proofed and should have a pull request submitted tomorrow.

[2022-01-13 05:12] Froderick-Fronkensteen commented on #234
Hey @wopian I was wondering if I could be assigned to take on this one?  I have completed my previous Proof AOTMARK #566

[2022-01-26 05:05] Froderick-Fronkensteen commented on #234
Just wanted to post a quick update.  Still working on these, I have made it to p.465 so far.  I am hoping to have the first 15 page pr done by this weekend.

[2022-03-27 13:21] Tjoosten commented on #621
Hey, I'm wondering can i co-op on these one?

[2022-03-27 13:32] Ruhika1417 opened #860 "Checking the Github Actions template"

[2022-03-27 13:32] #860 closed

[2022-04-06 10:11] raymondSeger opened #861 "China's moon module have better codes, it uses Javascript."
China's moon module have better codes, it uses Javascript.

[2022-04-06 14:05] #861 closed

[2022-07-06 05:41] sarmadgulzar opened #864 "Upgrade to Artemis"
The support for Apollo was ended in 1972 with Apollo `17`. Please upgrade to Artemis for best experience and continued support. Artemis `I` is in `beta` and `stable` version is coming soon later this year in 2022. It is guaranteed to receive updates at least until 2027 with the release of Artemis `V`. Although Artemis is backwards compatible with the Moon, Apollo is not compatible with Mars. Hence

[2022-07-06 11:24] #864 closed

[2022-08-16 08:41] loail opened #866 "打我一百亿，带你徒手造火箭"
打我一百亿，带你徒手造火箭

[2022-08-16 12:25] #866 closed

[2022-10-09 11:51] jay-io commented on #650
Hello @wopian! Is this issue still open and accepting contributions? Could I take this up for Hacktoberfest 2022?

[2022-10-12 17:39] PiyushAryan commented on #595
I want to do this one please assign me this @wopian

[2022-10-15 23:01] mttsmmrssprks commented on #204
Hi @wopian - can 10 pages of this be assigned to me please? Eg 0037-0046.
Thank you

[2022-10-21 22:52] scottmondo commented on #647
Is this still being worked on, or am I ok to pick this up.

[2022-10-21 22:56] scottmondo commented on #620
Hi is this still available?

[2022-10-22 13:58] taismassaro commented on #620
hey @scottmondo
I’ve got a PR open for this one since last year’s Hacktoberfest, waiting for @wopian or someone else to merge it.

[2022-10-26 06:27] christian-westbrook commented on #609
Hello! Is this issue available? I'd love to try tackling it for Hacktoberfest.

[2022-11-02 19:11] cwoerner opened #893 "Accessing Luminary099/TRIM_GIMBAL_CNTROL_SYSTEM.agc returns 404"
The following source file yields a 404 when navigating within github:

https://github.com/chrislgarry/Apollo-11/blob/master/Luminary099/TRIM_GIMBAL_CNTROL_SYSTEM.agc

[2022-11-03 14:23] wopian commented on #893
It is https://github.com/chrislgarry/Apollo-11/blob/master/Luminary099/TRIM_GIMBAL_CONTROL_SYSTEM.agc

Where is the broken link linked from?

[2022-11-03 20:00] wopian commented on #609
@christian-westbrook I've assigned you the issue 👍

[2022-11-03 20:10] wopian commented on #647
There is no open proofing PR for it, so I believe its free

[2022-11-03 20:11] wopian commented on #204
Sure, go ahead 👍

[2022-11-11 17:49] christian-westbrook commented on #609
I've forked the repository, and I've reviewed CONTRIBUTING.md, and I've installed the AGC Assembly in Visual Studio Code. I'm now starting to review for the first time.