[2016-07-07 14:40] SilverWingedSeraph opened #3 "Check continuity on O2 cryogenic tanks before allowing stir"
A customer has had a fairly serious problem with stirring the cryogenic tanks with a circuit fault present. To reproduce:

1. Build CSM
2. Perform mission up to translunar coast
3. During translunar coast, attempt to stir cryo tanks

If a wiring fault exists, the issue may be replicated. Be aware that this may be hazardous to the tester attempting it.

[2016-07-07 14:50] electron0zero commented on #3
i think this issue should be closed because we can't reproduce it

[2016-07-07 15:05] lbotinelly commented on #3
Does it happens only with translunar coast (sol-3-a), or any moon coasting? It may be a problem with the moon. Just trying to narrow down the issue.

[2016-07-07 15:42] pjanaya commented on #3
Have you tried turning it off and on again?

[2016-07-07 15:45] atpage commented on #3
This is fixed in Apollo 14.

[2016-07-07 15:46] adampats commented on #3
This is a hardware problem.  I suggest a wontfix and close.

http://history.nasa.gov/SP-4029/Apollo_13a_Summary.htm

In other words:  "What was that gauge reading before you hit the switch?"

[2016-07-07 15:48] SilverWingedSeraph commented on #3
@adampats Hey, don't tell me how to fly the ****** CM, all right? They brought me in here to do a job, they asked me to stir the ****** tanks, and I stirred the tanks!

[2016-07-07 16:06] leommoore commented on #3
As a temporary solution, you could try gently rolling the LAM to agitate the O2. You may need to do it on the X and Y axis to get optimal agitation.

[2016-07-07 17:25] chrislgarry commented on #3
@SilverWingedSeraph could you provide a screen shot of the error I should expect to see during repro?

[2016-07-07 17:40] AdamFreemer commented on #3
Let's work the problem people.

[2016-07-07 17:45] SilverWingedSeraph commented on #3
@chrislgarry It looks a little something like this:

![screenshot_20160707_104443](https://cloud.githubusercontent.com/assets/3290365/16663137/ef76dda6-442f-11e6-9917-c6c9727ab223.png)

![screenshot_20160707_104357](https://cloud.githubusercontent.com/assets/3290365/16663141/f327f278-442f-11e6-93dc-2ca4e0a10654.png)

[2016-07-07 17:55] khash commented on #3
Which version of Apollo are you running? I suggest upgrading to Apollo 12

[2016-07-07 17:57] lbotinelly commented on #3
Not specifically for this issue, but maybe we should consider trimming down. I'm pretty sure we can automate this, eliminating both meatbags and O2 tanks from the final implementation.

[2016-07-07 17:59] Wazzaps commented on #3
Have you tried migrating your project to jQuery?

[2016-07-07 17:59] AdamFreemer commented on #3
Many bug fixes were addressed in Apollo 18 mission software, until the bugs infected the astronauts.

[2016-07-07 18:43] predicat commented on #3
It works for me

[2016-07-07 19:01] lparkermg commented on #3
So, I think it might be a hardware issue. Have you tried taking the tanks out and putting them back in again? Maybe that will fix it.

[2016-07-07 19:07] g0ddish commented on #3
@atpage Savage

[2016-07-07 19:09] stkrzysiak commented on #3
We're going to need a label for good first bug, agreed?

[2016-07-07 19:11] lparkermg commented on #3
@stkrzysiak It's got to be a hardware tag if what @atpage said is true.

[2016-07-07 19:34] SkiftCreative commented on #3
we have tried converting to node. heres a mockup.

http://svtsim.com/moonjs/agc.html

[2016-07-07 19:35] AstraSerg commented on #3
Which exactly Universe do you use when face this bug?

[2016-07-07 19:36] gp opened #5 "Original lead author not credited in README"

[2016-07-07 20:01] chrislgarry commented on #5
I will compile a list of the original AGC developers, as well as the folks at MIT who scanned the paper source, and those who digitized the scans. If you have compiled a list already, please send my way. Thanks.

[2016-07-07 20:11] thomblake commented on #5
Margaret Hamilton was the lead of the software development team at MIT, but the names of the rest of her team seem hard to track down.  This doc is probably the best resource to see the various folks involved in the project: http://klabs.org/history/history_docs/mit_docs/1711.pdf

[2016-07-07 20:16] Xenopoloza commented on #3
Just had this issue happen to me, I took a screenshot.

![apollo-13](https://cloud.githubusercontent.com/assets/6426258/16668233/2fa93314-445e-11e6-95b7-b5e13f5c5e36.jpg)

[2016-07-07 20:26] JohnTendik commented on #3
Did you try uninstalling the drivers then reinstalling them?

[2016-07-07 20:33] bstiller1 commented on #3
Looks like there could be an ID10T error, along with some memory leaks.

[2016-07-07 20:48] ireun commented on #3
Well, can I just update the firmware to fix this issue? Or do I have to take my Apollo to local NASA-spacecraft dealer?

Really frustrating!

[2016-07-07 21:05] WebSpanner commented on #3
This software has reached end of life and is no longer receiving security updates. NASA strongly recommends that you migrate to a supported version. Unfortunately no such version exists at this time.

[2016-07-07 21:08] iLeonidze commented on #3
Install Windows 10

[2016-07-07 21:10] Xenopoloza commented on #3
Ok I'm in a real pickle here, after you experience this issue apparently you can't simply reboot to fix it. Does anyone have a good workaround? Also my CO2 is getting pretty high, please answer quickly this is a production issue for me.

[2016-07-07 21:11] kiweb commented on #3
It's not a bug, it's a feature.

[2016-07-07 21:16] luislobo commented on #3
Well, I run the unit tests and it says 0 errors...

[2016-07-07 21:17] AnthonyRinaldi commented on #3
Did you try SCE to AUX?

[2016-07-07 21:17] yeukhon commented on #3
Who is the project manager? This change request is getting out of hand. I request a formal review. Let's bring back Waterfall. This is none nonsensical that we have to argue whether this is a feature or a bug.

[2016-07-07 21:19] acicali commented on #3
This repo really adds to the legitimacy of Stanley Kubrick's short fictional film "Lunar Landing", starring Neil Armstrong and Buzz Aldrin.

Nice work guys.

[2016-07-07 21:24] aoozdemir commented on #3
This issue made my day. :smiley: You guys are amazing.

![11838610_874929675893748_319770617658700238_o](https://cloud.githubusercontent.com/assets/6544741/16670286/2e3fb2c0-44a2-11e6-9830-1a3aa6eb8baa.jpg)

[2016-07-07 21:26] Hunter-Github commented on #5
Well, Ron Burkey ([Virtual AGC](http://www.ibiblio.org/apollo/links.html)) isn't credited in the README either.

[2016-07-07 21:27] wanted0 commented on #3
Yeah, if we can't solve it, let's think abouta workaround. I believe we should start by collecting all the tools we have.

The Tape with Duct software, Socks proxy and some in-hose tools could help.

[2016-07-07 21:41] nabijaczleweli commented on #3
Have you tried not breathing? Then having no O<sub>2</sub> would make no difference!

[2016-07-07 21:44] Xenopoloza commented on #3
Client insists that breathing is a MVP feature. I don't really agree given the development costs but whatever it's their disaster.

[2016-07-07 22:35] FredDeschenes commented on #3
Pretty sure this only happens on later versions of the software.

[2016-07-07 22:43] lbotinelly commented on #3
@Xenopoloza Unreasonable. Let them implement that on their own fork.

[2016-07-07 22:44] MCSH commented on #3
Your customer's config is wrong.

It works perfectly well in our system. Tell them to freshly install it on a newly installed Ubuntu 14.04 and it should work.

[2016-07-07 23:39] leotsem commented on #3
We could probably replace the O2 cryogenic tanks with lightweight containers. Would you consider a PR?

[2016-07-08 00:17] pwnsdx opened #8 "How to use it?"
![i-dont-want-to-live-on-this-planet](https://cloud.githubusercontent.com/assets/2057765/16673843/1e4a9c08-44b2-11e6-937b-c2b869758eae.jpg)

[2016-07-08 00:50] kirannika commented on #3
Does this issue result in a crash? Perhaps you forgot to re-register the dll.

[2016-07-08 01:30] Sourec commented on #3
Have you tried putting something else in the tanks?

[2016-07-08 02:10] thelostt commented on #3
Compile with `-fbypass-ions-side-effect`.

[2016-07-08 02:11] llouviere commented on #3
If you're having this issue, you probably have a more immediate need.
I'd advise calling Houston operational support team as soon as you can once again attempt a transmission.

[2016-07-08 02:20] Tsaukpaetra commented on #3
Why prevent in software that which can be mitigated in hardware? Fix the darn board FFS!

[2016-07-08 02:26] Qix- commented on #3
jQuery has a function for this.

[2016-07-08 03:34] bitsofinfo commented on #3
Awesome thread!

[2016-07-08 03:44] s3ver1na commented on #3
Seems to be working fine in Ops.  Has someone contacted the project manager?  I feel there are too many hands on deck and it could be detracting from Juno.

[2016-07-08 04:16] apfeltee commented on #8
Some kind of introduction as to what each file does (apart from the filenames, obviously) would be a great start.
Otherwise, I think it's mostly just to look at. These kind of computers predate even ancient machines like pdp11, I think.

[2016-07-08 04:17] carlTLR commented on #3
Documenting as a known issue. Workaround: carry more plants.

[2016-07-08 04:19] thecameronjones commented on #3
As a temporary fix I would suggest moving to the LM to reduce impact on users.

[2016-07-08 04:24] TheFeshy commented on #3
There are no reports of this issue on previous versions.  Can someone volunteer to bisect?  It should only take a few dozen launches.

[2016-07-08 04:43] ResidentMario opened #9 "Error: no wizard found"
[These have got to be the most epic lines of code of all time](https://github.com/chrislgarry/Apollo-11/blob/master/THE_LUNAR_LANDING.s#L254)&mdash;from `THE_LUNAR_LANDING.s`:

![2016-07-08 00_37_46-apollo-11_the_lunar_landing s at master chrislgarry_apollo-11](https://cloud.githubusercontent.com/assets/3466341/16677511/d8bd7410-44a4-11e6-93c3-1dc53a15670b.png)

[2016-07-08 04:56] Kvadratni commented on #3
You should not use outdated tech. I suggest you migrate your project to SpaceX Dragon. Yes I know it is still in beta, but it is a more modern way to do things.

[2016-07-08 05:13] LoungeFlyZ commented on #3
Works on my machine.  Must be an ops problem.

[2016-07-08 05:27] ruzhovt commented on #3
This is by design.

[2016-07-08 05:53] roshkins commented on #3
I use this to warm my tea while working on cryogenics. Please don't remove this as I depend on it for warmth. Perhaps a workaround can be established?

[2016-07-08 06:26] orcaman commented on #3
This would never have happened on FreeBSD.

[2016-07-08 06:28] hiddentao commented on #3
Clearly the solution needed is MongoDB. It's web-scale.

[2016-07-08 06:30] s-chizhik commented on #8
Need `Makefile`, i guess.

[2016-07-08 06:44] kode54 commented on #3
Haha, you people are so amusing. Amusingly stupid.

[2016-07-08 06:46] knice commented on #3
Try running it in a modern browser.

[2016-07-08 06:49] appelsin commented on #3
It's an Easter egg. Has anybody tried to run it as Apollo 666?

[2016-07-08 07:06] scaule commented on #3
I think it's solved on last internet explorer, it's bug free.

[2016-07-08 07:18] TheOssi commented on #8
Well first of all you need to get to National Air & Space Museum, Washington, D.C. and borrow the command module. Then you need a rocket and a launch permission, i guess. Please consider also hiring a good lawyer.

[2016-07-08 07:29] joanflo commented on #3
"not my fault, it was working as expected on my development environment"

[2016-07-08 07:29] pwnsdx commented on #8
Thanks for the answers but is it free to launch a rocket? Food and lawyers are pretty expensive already

[2016-07-08 07:31] Jim-Lovell commented on #3
I'm looking forward to testing the PR 😉

[2016-07-08 07:32] onmyway133 commented on #5
@chrislgarry this is interesting. But where do you get it from? I can't seem to find the LICENSE. I thought NASA should opened the this source code at https://code.nasa.gov/#/

[2016-07-08 07:32] tryadelion commented on #3
Dr. Thomas Jeffrey Hanks, from the Nasa, found this bug on '95. according to his  [official report](https://en.wikipedia.org/wiki/Apollo_13_(film))  , he fixed it using @wanted0 's solution. this is a hardware problem, guys, we need to focus.

[2016-07-08 07:40] pmpuro commented on #3
How to setup a test environment? Please, advice.

[2016-07-08 07:46] TheOssi commented on #8
@nasa

[2016-07-08 07:53] Zarkonnen commented on #3
I tried setting up automated testing on my fork, but runs are flaky. About 6% fail catastrophically. I'm running out of astronauts.

[2016-07-08 07:56] Baldrs commented on #3
How to patch KDE2 for FreeBSD?

[2016-07-08 08:06] CamW commented on #8
Source files refer to http://www.ibiblio.org/apollo which is all about a Virtual AGC - LVDC - Gemini project and talks about a simulated AGC CPU. So that's probably the best place to start.

[2016-07-08 08:23] moloned commented on #8
you could try the AGC simulator http://svtsim.com/moonjs/agc.html

[2016-07-08 08:26] moloned commented on #8
I'd love to see a hackathon today to see how close modern programmers would get to running this software within the resources of the AGC (2MHz 16-bit machine with 2kB memory https://en.wikipedia.org/wiki/Apollo_Guidance_Computer)

[2016-07-08 08:39] Theurgist commented on #3
If you will try a newer version, better avoid 13th, even if your suppliers have bought already some of these.

[2016-07-08 08:59] michax commented on #5
It would be nice to put source used. Seems like direct clone of:
https://code.google.com/archive/p/virtualagc/source/default/source

[2016-07-08 09:01] michax commented on #5
Would be also cool if you copy wiki from code.google to github.
https://code.google.com/archive/p/virtualagc/wikis

[2016-07-08 09:12] tanaydin commented on #3
Try to format Apollo 11 and reinstall everything. That should fix problems generally.

[2016-07-08 09:12] bweinman commented on #3
I'm sorry, Dave, I'm afraid I can't do that.

[2016-07-08 09:14] mixmastertube commented on #3
Just don't push the red button and everything will be fine.

[2016-07-08 09:15] afshinm commented on #3
`sudo !!` and it works for me. Will make a PR today.

[2016-07-08 09:20] basarat commented on #3
Have you considered upgrading the code to [TypeScript](typescriptlang.org/). It can help catch bugs like these at compile time :rose:

[2016-07-08 09:25] singcodes commented on #3
I'm recommend migrate to Fortran. It's wonderful language for engineers. Who use assembly? It' disappeared before eras, like tuberculosis.

[2016-07-08 09:41] lisael commented on #3
Does it happen on Tuesdays ? May be related to https://bugs.launchpad.net/ubuntu/+source/cupsys/+bug/255161/comments/28

[2016-07-08 09:56] ZiTAL commented on #8
first buy a spaceship :_D

[2016-07-08 10:08] Fenwick commented on #3
Really, folks? This again? It's an edge case! Hasn't been replicated even once in 47 years.

Even though it WAS an edge case, Houston still found a simple (but not easy) hardware solution.

That's why we paid those folks so much for support! They're Out-of-This-World good at what they do! And we still have them on retainer for future human missions, even though they're just keeping the lights on w

[2016-07-08 10:29] thefailtheory commented on #3
I'll try to look back at it later for edition but for now it is time to listen to some music https://youtu.be/Rr8ljRgcJNM
THX

[2016-07-08 10:32] elammertsma commented on #3
Are you sure you have the correct permissions? I've run into this in our testing environment and turned out I wasn't stirring the tanks because the required permissions simply weren't set. Felt pretty dumb but glad it wasn't in production.

[2016-07-08 10:35] J7mbo opened #12 "Got this when trying to launch..."
![bsod](https://upload.wikimedia.org/wikipedia/commons/3/3b/Windows_9X_BSOD.png)

Any ideas?

[2016-07-08 10:39] gooh commented on #12
It requires the EU membership module. You are from the UK. Sorry.

[2016-07-08 10:39] MinnDevelopment commented on #12
Where is the any button?

[2016-07-08 10:40] J7mbo commented on #12
Closing as lack of EU membership was the issue.

[2016-07-08 10:40] #12 closed

[2016-07-08 10:47] sumpfgottheit commented on #3
On IRC, some guy had the same problem and he solved it by using another moon to coast to. So maybe the issue is moon related. AFAIK there aren't any known issues coasting to Phoebe, so I suggest to set for Phoebe and wait if the issue persists.

[2016-07-08 10:48] vjex commented on #3
Lets file a PIL.

[2016-07-08 10:51] ddaddy commented on #3
There's a simple fix that everyone has overlooked.
Just open a window 🙄

[2016-07-08 10:52] marcjahn commented on #3
Maybe you're just holding it wrong!

[2016-07-08 10:52] thefailtheory commented on #3
now we'll going to have 1 billion reactions on facebook to command the ship

[2016-07-08 11:01] dahoreshekhar commented on #3
Guys I found this command on stack overflow
rm -rf
It fixed the issue, haven't heard a beep from the guys at production site since then. 👍

[2016-07-08 11:13] jaksi opened #14 "Rewrite in Rust"
Would this project be interested in moving to Rust? It's the perfect language for such a mission critical software.

[2016-07-08 11:16] AyrA commented on #14
I suggest node.js with Redis and MongoDB so it is webscale.

[2016-07-08 11:28] bhean commented on #14
Move to AWS... obviously clouds are closer the space than the rocket platform... you can save lot of money!
xDD

[2016-07-08 11:31] robmweb commented on #3
It worked locally...

[2016-07-08 11:50] franklewandowski commented on #3
Apollo 13 is still the best selling bug fix Movie i've seen so far.

[2016-07-08 11:55] alishchytovych commented on #3
What is the current status? We need to update end users...

[2016-07-08 11:59] adam-s opened #15 "Do not select P01 during flight 8.x"
### Problem/Motivation
Margaret Hamilton's daughter was playing in the simulator command module and [somehow ran the P01 prelaunch program](http://www.wired.com/2015/10/margaret-hamilton-nasa-apollo/) during simulated flight and crashed the entire system.

### Proposed resolution
Add error handling and validation because humans make mistakes and lie #9. Although this issue was brought to the atten

[2016-07-08 12:02] 800d00 commented on #3
As a workaround  on repro step #3 I suggest a cabin venting by opening the main porthole and or front hatch.

[2016-07-08 12:02] leafnode commented on #3
Happened to me - here's a screencast of the occurrence https://www.youtube.com/watch?v=kAmsi05P9Uw

[2016-07-08 12:03] NikolayIT commented on #14
Not enough jQuery...

[2016-07-08 12:03] KuBi4K commented on #3
Mmmh...

It's reading a quadruple failure ... That can't happen.
It's got to be instrumentation.

[2016-07-08 12:16] slbug commented on #14
why @steveklabnik not here yet?

[2016-07-08 12:27] vstabile commented on #3
+1

[2016-07-08 12:28] mortb commented on #3
We must fix this issue before the mission-to-mars milestone!

[2016-07-08 12:44] Wamadahama opened #16 "npm package?"
I opened my shell and entered the following command:

`npm install Apollo-11`

and it told me this:

`npm ERR! 404 'Apollo-11' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)`

[2016-07-08 12:47] SteelyEyedMissileMan commented on #3
Toughen up guys. We put that training glitch in there for a reason.  Keeps you on your toes! Keeps the mission control team on their toes! That's all for now

[2016-07-08 12:47] Assada commented on #16
composer:
`[InvalidArgumentException]
  Could not find package chrislgarry/Apollo-11 at any version for your minimum-stability (dev). Check the packa
  ge spelling or your minimum-stability  `

[2016-07-08 12:55] gh-master-arimatrix commented on #3
This is a cross-shuttle compatibility issue. On Спутник we're stirring the shit out of tanks.

[2016-07-08 12:58] polyGeek commented on #3
Whatever you do don't try reverting to Apollo Alpha. It uses pure O2 in the cabin and can lead to immediate, and catastrophic, failure.

[2016-07-08 13:01] 409H commented on #8
Can anyone help me install this on my Apollo 11 set? A rough guide if anything. Below is a picture of my set-up.

![https://dp1eoqdp1qht7.cloudfront.net/community/projects/7b5/24e/76841/1562933-o_18vmhs3t8tivs4a1vuh15mk1s95c-full.jpg](https://dp1eoqdp1qht7.cloudfront.net/community/projects/7b5/24e/76841/1562933-o_18vmhs3t8tivs4a1vuh15mk1s95c-full.jpg)

[2016-07-08 13:14] lucasbedout commented on #16
Same on Homebrew :/

`Error: No available formula with the name "apollo-11"
==> Searching for similarly named formulae...
Error: No similarly named formulae found.
==> Searching taps...
Error: No formulae found in taps.
==> You haven't updated Homebrew in a while.
`

[2016-07-08 13:14] ramriot commented on #3
Should be closed, issue already fixed in hardware, the test is thus not needed if pre-lauch manual tests done correctly.

In the instance mentioned, technician used wrong voltage to test tank heater circuit, thus melting insulation of wiring. Thus leaving bare wires.

The issue of spark discharge when heater and stirer active then would occur only with a part filled tank.

Thus this issue is User

[2016-07-08 13:17] itkovian commented on #16
There does not seem to be an https://github.com/hpcugent/easybuild-easyconfigs config for it. Please consider adding one.

[2016-07-08 13:22] funny-falcon commented on #14
Go(lang) provides readable sources, so project will have painless evolution.
And it has great concurrency primitives, so dealing with a lot of sensors, doing a lot of concurrent tasks is not a problem for.
Given every release GC pause is decreasing, it will be suitable for spaceships at the moment this project will be rewritten.

[2016-07-08 13:23] radicalachraf opened #17 "Re-write in C or Rust"
I would like to propose a complete rewrite of the core  systems in C or Rust for the sake of it .

[2016-07-08 13:23] lucasa commented on #3
Isn't obviou that you need a "sudo chmod -R 777 ." ????

[2016-07-08 13:23] mhcgolds commented on #3
Some trainee's fault.

[2016-07-08 13:29] funny-falcon commented on #17
No, only Golang can deliver Neil Armstrong to the moon.
Probably, Ruby also could if rubinius will be finished.

[2016-07-08 13:33] jpetters commented on #8
Look on ebay for a second hand spaceship? :smile: :rocket:

[2016-07-08 13:35] funny-falcon commented on #14
I really do believe, Neil Armstrong could not land on moon without Go.

[2016-07-08 13:38] acoye commented on #17
Only Swift would deliver the "safety" required for manned space flight :)

[2016-07-08 13:40] fragglebob commented on #5
@michax the wiki is here https://github.com/rburkey2005/virtualagc/tree/wiki

[2016-07-08 13:41] welociraptor commented on #14
You are suggesting obsolete languages. Pony is designed to be an open-source, object-oriented, actor-model, capabilities-secure, high performance programming language. http://www.ponylang.org/

[2016-07-08 13:45] ckoerner commented on #3
Alright, we need to get this on the right task board so the engineers can prioritize this sprint. How many story points do you think this task needs?

[2016-07-08 13:47] martinvd commented on #16
@Wamadahama It doesn't work with the shell open. You have to close it first.

[2016-07-08 13:57] mg1075 commented on #3
Tried to begin with step 1, and ran `npm install csm`.

The CSM package no longer builds, though;
the `launch-pad` dependency was unpublished from npm.

[2016-07-08 13:57] yeukhon opened #19 "Re-write this in Python"
Because Python is good!

[2016-07-08 14:00] driusan commented on #17
Despite the improvements in the garbage collector lately, Go is still a garbage collected language and not really suitable for a realtime system.

I vote for Rust.

[2016-07-08 14:03] judgej commented on #3
Just replicating this issue. Can confir

![the-shining](https://cloud.githubusercontent.com/assets/395934/16689894/026dd7b4-451d-11e6-9daa-a3a4ee158d12.jpg)

[2016-07-08 14:03] SeanNieuwoudt commented on #3
It worked on my machine

[2016-07-08 14:04] jamessdixon commented on #3
user error

[2016-07-08 14:04] kccole01 commented on #3
Works on my sister's machine too.

[2016-07-08 14:08] martinvd commented on #3
Wait guys I found it. Running on Travis CI now. Should work soon.

![r](https://cloud.githubusercontent.com/assets/320906/16690011/02a7d528-4526-11e6-86fd-7766461c01fc.gif)

[2016-07-08 14:08] SilverWingedSeraph commented on #3
@ramriot is right.  Closing.

[2016-07-08 14:08] johannesx75 opened #20 "Fork as community effort?"
The original project does not seem to be actively maintained by its creators. I could not find any indication of the code being used or updated since 1972. (Ok, some people doubt that it has ever been used, since the whole thing was staged.)

May I suggest that we fork the project as a community effort? Maybe we can get it back up and running.

[2016-07-08 14:11] georgebrock commented on #3
Ran into this bug, too. You can read the logs here: http://apollo13.spacelog.org/02:07:52:58/02:07:56:10/#log-line-201178

[2016-07-08 14:11] nabijaczleweli commented on #19
Python sucks

[2016-07-08 14:12] nabijaczleweli commented on #17
Go is garbage

[2016-07-08 14:15] indy91 commented on #20
All joking aside, the code is very much running in an emulator already. That's where this code is originally from: https://github.com/rburkey2005/virtualagc

And I am part of a development team that has implemented this AGC emulator in the simulated environment of the Orbit Space Flight Simulator. Here our project: https://github.com/dseagrav/NASSP

At this point we have a fully implemented and fu

[2016-07-08 14:16] sw00 commented on #8
This is a great startup idea if anyone is willing to take it up - Rockets as a Service (RaaS). Give users the ability to launch rockets as needed.

[2016-07-08 14:20] hoosierEE opened #21 "[language agnostic] needs more directories"
It's very disturbing to be able to see all the source code completely exposed in the top-level directory.

Suggest restructuring the code to follow modern best practices of hierarchical/modular folder and file organization, such as [this prime example](https://github.com/EnterpriseQualityCoding/FizzBuzzEnterpriseEdition).

[2016-07-08 14:27] jaredreich opened #22 "Re-write in TypeScript"
So that I can integrate into my Angular 2 application.

[2016-07-08 14:28] brianknight10 commented on #8
This could be the start of "Uber for Rockets"

[2016-07-08 14:32] martinvd commented on #22
Already exists https://github.com/apollostack/angular2-apollo.

[2016-07-08 14:39] jaysoffian commented on #3
This is a classic XY issue, suggesting a fix ("Check continuity...") instead of describing the problem ("O2 tanks exploded during Apollo 13 mission").

Further, I believe that the suggested fix is incorrect, or at least insufficient. The [Apollo 13 investigation](http://history.nasa.gov/SP-4029/Apollo_13a_Summary.htm) indicated that a list of factors led to the fan wires in the O2 tanks having dam

[2016-07-08 14:44] bitboxer commented on #22
Lets get it compiled with emscripten!

[2016-07-08 14:44] thefailtheory commented on #8
For me, the table codes for react buttons at the moment in Appolo code is this
:+1:
:-1: !land
:smile:
:confused: wtf?
:tada:
:heart: O2

https://jsfiddle.net/hymk95xm/

[2016-07-08 14:48] ryaan-anthony commented on #3
I found a jQuery plugin to stir the tanks when a user hovers over the moon.

[2016-07-08 14:57] thefailtheory commented on #9
Is there any more infos on the instructions ? or a link to a documentation to see how it works ?

[2016-07-08 15:02] andredasilvapinto commented on #3
Clearing the cookies fixed it for me.

[2016-07-08 15:09] osresearch opened #23 "Error 1201 and 1202 if rendezvous radar is turned on."
The AGC reboots with a program code 1201 and 1202 ("Executive overflow") during landing phase if the rendezvous radar switch it set to AUTO (as suggested in procedure book) and the DELTAH command (1668) is initiated on the DSKY.  Bales in Guidance and Garman say it is ok to land with this error, but flight is still concerned about it and the alarms might distract the crew.

[2016-07-08 15:17] driusan opened #24 "Add automated tests and run with CI"
There doesn't appear to be any tests included with this software. Over time as requirements change there's a risk of catastrophic failure after a couple of versions if there aren't regression tests to catch any minor oversights. The lack of systematic automated testing also makes it more difficult for any of the "rewrite in language x" proposals to be successful.

Since it's hosted on GitHub, I re

[2016-07-08 15:22] thefailtheory opened #25 "Houston we need a JS link"
I just ask if it's possible to link those images in a modern approach like in a jsfiddle.net with some javascript
https://imgur.com/a/pcdKy

like what i am asking in this issue https://github.com/chrislgarry/Apollo-11/issues/9#issuecomment-231382253

In do Something fun this way https://github.com/chrislgarry/Apollo-11/issues/8#issuecomment-231378578

[2016-07-08 15:27] AmirMehrabi opened #26 "Does it come as a composer package?"
So here's the deal. I was just reading your source code, lots of typos by the way, and I realised that it doesn't come as a composer package.
Now I'm a practical man and I'm gonna send Apollo to the moon with my next laravel-based start-up, but in order to do that, I have to be able to get this ... thing as a composer package. So just ... do that.

P.S: An artisan generator would be nice.

[2016-07-08 15:27] KuBi4K commented on #3
Got a call from Jeb.

He said _"Yeah, it exploded. And ?"_

[2016-07-08 15:28] thepauleh commented on #21
Jesus, Alex. Really want to live on the seat of your pants don't you?

Trying to push through these insane concepts again??. Directories, you say now? If the Russians beat us to the moon due to this radical new fangled concept we'll all be hanged for treason.

This outburst is going on your permanent file, comrade. Best you leave the big-thinking to those above your pay grade from now on.

[2016-07-08 15:30] thepauleh commented on #22
oh no.. it's rc1... REWRITE THE WHOLE THING

[2016-07-08 15:32] timkofu commented on #3
Just install new wireless tanks.

[2016-07-08 15:41] osresearch commented on #23
The Apollo 11 [Flight plan](https://www.hq.nasa.gov/alsj/a11/a11fltpln_final_reformat.pdf) clearly indicates "RR ON" durng landing phase. Either the documentation and training should be updated or the 6400 cycles allocated to the rendezvous radar processing.

![image](https://cloud.githubusercontent.com/assets/3068843/16692918/e7e01c98-4500-11e6-9776-a8f0c4e3e6f8.png)

[2016-07-08 15:52] horsehay commented on #3
It will definitely require a patch. Do you have a spare rover kicking around? One of my buddies reported using that to load the patch. His was a different platform, but I think the idea is the same:

![image](https://cloud.githubusercontent.com/assets/9269607/16693261/ab76e3ae-44f1-11e6-8a2c-b66c0c6b8012.png)

[2016-07-08 16:03] thekemkid commented on #14
@welociraptor Yes, but is it webscale?

[2016-07-08 16:42] thefailtheory commented on #25
Here how it's going

https://jsfiddle.net/2h52du54/2/

THX :zap:

[2016-07-08 17:07] gunner05 commented on #19
I need this! I can't understand a single line of Assembly without constantly looking up what it means! haha!

[2016-07-08 17:12] chrislgarry commented on #5
@onmyway133 there is almost no difference. I changed the extensions from .agc to .s for syntax highlighting, but that's about it. AFAIK, Virtual AGC project is the only source for original Apollo 11 source in digital form, as they put in quite some effort to work with MIT to digitize it for their AGC emulator. I'm currently talking with Ron, the project owner, about attribution. Stay tuned. @micha

[2016-07-08 17:15] howardjp commented on #14
MongoDB is webscale.

https://www.youtube.com/watch?v=b2F-DItXtZs

[2016-07-08 17:20] www2000 commented on #17
My chois for this is C or c++ for the backend and python3 for the GUI.
Besite this we can add a sub system for starmap using star database from Celestia and opencv.

[2016-07-08 17:25] zanco commented on #3
Are you shure you used the right brand O2 and not a cheap refill ? You might have to clean the nozzles

[2016-07-08 17:27] codequistador commented on #3
I heard there was a solar flare today. Could be the issue?

[2016-07-08 17:28] joshmgrant opened #28 "Won't build on Win 10"
I tried cloning the source and building on Windows 10 but I couldn't get it to work. Am I missing any dependencies or utilities?

[2016-07-08 17:30] x8BitRain commented on #28
This is a really great circlejerk repository

[2016-07-08 17:30] chinese-soup commented on #28
i hpe bitrain dies in his sleep tonighjt

[2016-07-08 17:32] stanpalatnik commented on #3
Just use the Kerbal Space Program instead. It's got huge community support that will fix issues like this in days, not decades.

[2016-07-08 17:33] x8BitRain commented on #28
i hope u drown in ur soup tonighgt

[2016-07-08 17:35] uMaxmaxmaximus commented on #16
You need lastest jQuery, or Joomla. Enter in cmd: joomla -v
and write Joomla wersion

[2016-07-08 17:35] SkiftCreative commented on #25
boom http://svtsim.com/moonjs/agc.html

[2016-07-08 17:38] WindedCone opened #29 "remove hurtful comments"
please remove all references to "burning babies" in BURN_BABY_BURN--MASTER_IGNITION_ROUTINE.s , it is hurtful and I do not think it is good for our image

[2016-07-08 17:40] nabijaczleweli commented on #29
laff

[2016-07-08 17:56] www2000 commented on #28
This is not a x86, x86_64 or assembly language.
Try a VM that support Apollo Guidance Computer hardware.
Or wait for the C/C++ port

[2016-07-08 18:06] mhenstell commented on #23
I don't think allocating more time to processing will fix the underlying problem. The PSUs for the CDU and the ATCA should really be in phase lock, or any random phase-misalignment could cause spurious interrupts.

[2016-07-08 18:16] yeukhon commented on #19
@nabijaczleweli  very mature of you!

[2016-07-08 18:17] yeukhon commented on #17
@nabijaczleweli  no need to troll. gtfo

[2016-07-08 18:21] VedranBrnjetic commented on #3
Unable to contact Huston, problem with AE-35 unit. Can we authorize EVA to check up on it?

[2016-07-08 18:25] cassiozen commented on #16
You need to ```brew install propulsion-system  fuel-cell service-module command-module lunar-module ```

[2016-07-08 18:26] nabijaczleweli commented on #19
Almost as if this issue and you were a joke

[2016-07-08 18:26] nabijaczleweli commented on #17
The only troll here is your face

[2016-07-08 18:36] thefailtheory commented on #25
VERB 00 enter
NOUN 60 enter

https://imgur.com/mVAahV2

[2016-07-08 18:42] thefailtheory commented on #25
![mvaahv2](https://cloud.githubusercontent.com/assets/1375686/16697998/7ea8f8c0-454c-11e6-8052-158311cf7e2f.gif)

[2016-07-08 18:49] thefailtheory commented on #25
i don't see the link between
verb 00 enter
noun 60 enter

then the [key moment](http://apollo13.spacelog.org/02:07:52:58/02:07:56:10/#log-line-201178)

[2016-07-08 19:01] Nashenas88 commented on #29
@WindedCone you should read it as, "Burn, baby! Burn!" In this context, baby doesn't mean an actual child. See https://en.wikipedia.org/wiki/Burn_Baby_Burn

[2016-07-08 19:04] blakedotfr commented on #3
The Soviet version does not have this problem.  I suggest you reinstall the package on Astra Linux.

[2016-07-08 19:11] CrazyPython commented on #29
There's also several easter eggs in the code.

[2016-07-08 19:13] hotelzululima commented on #3
LMAO!!!

[2016-07-08 19:16] dom96 commented on #17
I vote for Nim, instead of dealing with Rust's ownership system use Nim's easy-to-use real-time GC ;)

[2016-07-08 19:18] Mudpuppy12 commented on #3
It works for me in node.js

[2016-07-08 19:38] saltillokid11 commented on #3
"This is not a technical issue"

[2016-07-08 20:04] x8BitRain commented on #29
nice meme

[2016-07-08 21:09] Mte90 commented on #3
Tried an apt-get upgrade? maybe it is a problem of dependencies of the system.

[2016-07-08 21:10] arvigeus commented on #3
Found the problem: missing semicolon
[INTEGRATION_INITIALIZATION.s#L290](https://github.com/chrislgarry/Apollo-11/blob/dc4ea6735c464608d704fa183f3e3d08b013c42f/INTEGRATION_INITIALIZATION.s#L290 )

[2016-07-08 21:21] thefailtheory opened #31 "Javascript AGC assembly code simulator"
It seems that there is a simulator available, i have just tested it locally, perhaps it could do the job

https://github.com/Schweigi/assembler-simulator

if someone can start to code it it will be really appreciated

[2016-07-08 21:28] Yokai commented on #3
It appears that a directive may have had this effect.  +1 for moving to react or jquery rather than angular

[2016-07-08 21:41] yeukhon commented on #17
@chrislgarry  I vote for banning @nabijaczleweli from ever commenting here again. Little bit of fun turns into unnecessary disrespect.

[2016-07-08 21:42] nabijaczleweli commented on #17
I have never flamed unprovoked. Only roastage was committed upon provocation (especially telling me to "gtfo" [sic])

[2016-07-08 21:44] thefailtheory commented on #31
this doc is clear on the subject, i should find others to start with the registers first
http://tcf.pages.tcnj.edu/files/2013/12/Apollo-Guidance-Computer-2009.pdf

we should start with this piece of code to define registers

`// Allowed registers: A, B, C, D, SP
            var parseRegister = function (input) {
                input = input.toUpperCase();

                if (input === 'A') {

[2016-07-08 21:45] yeukhon commented on #17
@nabijaczleweli  your tune is disrespecting. So yes, I will tell you to get the f out.

[2016-07-08 21:46] nabijaczleweli commented on #17
\*sigh\* <insert upwards pointing arrow labeled "hypocrite" here>

[2016-07-08 22:00] oznogon commented on #5
Hamilton, Lickly, Martin, Sears, Battin, Hoag, and Ragan are cited in [CONTRACT_AND_APPROVALS.s](https://github.com/chrislgarry/Apollo-11/blob/master/CONTRACT_AND_APPROVALS.s).

Other authors are noted in the [MOD lines of each file's code](https://github.com/chrislgarry/Apollo-11/search?utf8=%E2%9C%93&q=%22%23+MOD%22&type=Code).

[2016-07-08 22:13] timmitra commented on #8
That's how the suck you in. The software is free but the required hardware is expensive. [fires up the 3D printer]

[2016-07-08 22:26] rtphokie opened #33 "Loss of telemetry, SCE to AUX (Version 12.X)"
Found in production with version 12.X, Service Module (SM) fuel cells.  Customer support (EECOM) suggested workaround of _SCE to Aux_ resolved the issue, enabling systems to function normally under low voltage.

Recovery from such situations should be automated as a [steely-eye'd missile man](https://en.wikipedia.org/wiki/John_Aaron) man not always be available on the helpline..

[2016-07-08 23:06] rtoal commented on #5
Anyone know how to contact Hamilton? If she's not already on GitHub, it'd be great to see her upload some of her stuff here.

[2016-07-08 23:28] klimashkin commented on #3
This is how it could have been fixed
![Armageddon russian cosmonaut fix](http://i.makeagif.com/media/8-13-2015/CwC11l.gif)

[2016-07-08 23:36] chrislgarry commented on #5
Attributions updated.

[2016-07-08 23:36] #5 closed

[2016-07-08 23:43] RikerW commented on #3
Relavent [xkcd](https://xkcd.com/1438/).

[2016-07-08 23:45] chrislgarry commented on #20
@indy91 that's awesome! Will Orbiter space flight simulator simulate all manned missions, past and upcoming?

[2016-07-08 23:49] RikerW opened #34 "Re-write in Brainf***"
[Brainf***](https://esolangs.org/wiki/Brainfuck) is easier to understand than assembly, and much better than Python, C, or Rust.

[2016-07-09 00:05] indy91 commented on #20
@chrislgarry Well, Orbiter itself has only a limited number of spacecraft, but there is an active community of addon developers working on Apollo, Space Shuttle and other spacecraft.

For Apollo there are two addons for Orbiter. One is called AMSO and is not a detailed simulation, but it looks great and it already supports all missions of the Apollo program.

NASSP is currently mostly limited by a

[2016-07-09 00:36] lbotinelly commented on #29
That piece of legacy code was written before the DPC (Dawn of Politically Correctedness) and grandfathered in. I suggest we add both the `dealwithit` and `wontfix` label.

[2016-07-09 01:09] BrunoCoutinho commented on #8
@brianknight10 "Uber for Rockets" already exists: http://www.spacex.com/

[2016-07-09 02:34] k-gun commented on #3
I tested it with CodeIgniter and worked well locally. CodeIgniter will keep it warm but I would recommend to use it PHP >= 5.6 with OpCode option on.

[2016-07-09 02:54] murac commented on #3
You guys realize this spaceship launched in 1969, right? It's many years later now. I don't believe this software is still in use today.

[2016-07-09 03:00] RikerW commented on #3
@murac it's a joke.

[2016-07-09 03:23] sebastianiag commented on #17
I want to learn Nim so I second the Nim proposal.

[2016-07-09 03:25] sebastianiag commented on #29
Someone just close this "issue".

[2016-07-09 03:30] piranna commented on #3
It's not a joke, but the cake is a lie.

[2016-07-09 03:50] alv-c commented on #16
where is the `Dockerfile`

[2016-07-09 03:54] osresearch opened #35 "Potential unit mismatch"
The internal computation is carried out in meters/kilos/newtons, but the input and display routines are all in feet/pounds/pounds.  This could lead to a [Mars Climate Orbiter type failure](https://en.wikipedia.org/wiki/Mars_Climate_Orbiter#Cause_of_failure) if the conversion function is omitted or applied in the incorrect direction.  Ideally the astronauts would be trained to use the Metric system

[2016-07-09 04:07] markemer commented on #3
@murac The spaceship we are talking about launched April 13, 1970. We're joking about Apollo 13 not 11. Although the fact we have not been back since 1972 makes me unbelievably sad.

[2016-07-09 04:23] WindedCone commented on #29
i cant beliv what im c ing, laff, nice MEME( a racicst code word 4 BlaCK HATE) thes is a very big issue annf i wil not stpo untill it is elminted !!
am assamed!!! at all of you!!!

[2016-07-09 04:26] paoloo commented on #3
It worked here, have you checked your hardware? I'll attach a schematic to help you in the process.
![apollo-o2-tank](https://cloud.githubusercontent.com/assets/233823/16706038/133a01f6-4574-11e6-8ac7-3e91047c7a7b.jpg)

[2016-07-09 05:03] CaptCatfish opened #36 "Possible plagiarism"
Hi, I've been looking at your source code and it seems awfully similar to the source used in Germany's V2 project.  Any reason why?

[2016-07-09 05:08] fat-tire commented on #36
Wernher von Braun left his old startup to join team USA?

[2016-07-09 05:12] fat-tire commented on #29
All I have to say is [WHOCARES](https://github.com/chrislgarry/Apollo-11/search?utf8=%E2%9C%93&q=WHOCARES)

[2016-07-09 05:33] sector-f commented on #34
I wrote a Brainfuck interpreter in Rust. Would that be suitable?

[2016-07-09 06:17] DoubleCouponDay commented on #29
muh triggered feelings

[2016-07-09 06:49] EngineerBill commented on #3
Well, after reading all the great technical advice here in this  thread, i'm reminded once again of that old adage - "sure it's rocket science, but we're all rocket scientists!"

[2016-07-09 07:29] nabijaczleweli commented on #34
@sector-f Yes, mind sharing?

[2016-07-09 10:49] funny-falcon commented on #14
It ought to be SPACESCALE for this project!

[2016-07-09 11:33] robertlabrie commented on #3
Why are you even trying to stir the tanks? This doesn't sound like something you should do with the CM. Just switch your entire mission to a shuttle design, it's more modern and efficient.

[2016-07-09 11:39] thefailtheory commented on #15
That right, i didn't test it yet but it seems that when you look at MAIN.s it ask you to take a look at this file that contain the list of all verbs and nous
https://github.com/chrislgarry/Apollo-11/blob/master/ASSEMBLY_AND_OPERATION_INFORMATION.s
anyway, if you say this it's just unbelivable what happened to Apollo 8 mission

[2016-07-09 12:16] thefailtheory commented on #31
btw, i have found in this page the instruction set [apollo/assembly_language_manual](http://www.ibiblio.org/apollo/assembly_language_manual.html)

[2016-07-09 12:25] aguasvivasclass commented on #8
We can share this code with the guys from #Area51 and see if we can get a couple of "drones" borrowed to try it.

[2016-07-09 12:43] MichaelHancock commented on #16
If there isn't a npm package for it yet, it won't be long before somebody squats it 😞

[2016-07-09 12:45] bkix commented on #3
Just wanted you all to know that I'm vegetarian...

[2016-07-09 14:49] RikerW commented on #3
@piranna another relavent [xkcd](https://xkcd.com/606/).

[2016-07-09 15:39] piranna commented on #3
Isn't there a relevant xkcd strip for *everything*? ;-)

[2016-07-09 16:07] darcy commented on #28
![works-on-my-machine-starburst](https://cloud.githubusercontent.com/assets/6201/16708817/4b9d6e74-45c5-11e6-980c-465f24f61766.gif)

[2016-07-09 16:48] ratracegrad commented on #3
Could Matt Damon fix this?

[2016-07-09 16:51] bkrodgers commented on #36
And this is why you have non-compete clauses.

[2016-07-09 17:22] Austinthemighty commented on #29
@WindedCone Just get of git hub if you are going to try to be politically correct at things, no one here is going to change history, just for one person who felt offended!

[2016-07-09 17:52] Monster-geek commented on #29
@WindedCone you don't understand the real meaning of "BURN_BABY_BURN" in MASTER_IGNITION_ROUTINE.s ... It's ignition routine. "Burn" mean the ignition of rocket engine and so the rocket engine are called Baby like you can call your girlfriend/boyfriend babe or baby. There is absolutly no actual babies burned joke in this code. Stop see the evil everywhere.
Now I don't ask you to make any appologie

[2016-07-09 18:56] Sword-Smith commented on #35
SI units are only for French people and for socialists!

Oh! I am repeating myself. Sorry.

[2016-07-09 19:34] howditgetburned opened #37 "No makefile"
Please add a makefile.

[2016-07-09 20:02] JoshuaKolden commented on #3
This is technically a fatal error. However, due to the heroic efforts of:

@Jim-Lovell
@John-Swigert
@Fred-Haise

and extensive technical support lead by @Gene-Kranz; A crash in production can apparently be avoided.

These are extraordinary people.  We can't expect every user to be of this caliber.  I suggest this issue be recategorized as mission critical.  Even if it is a result of a hardware fa

[2016-07-09 20:03] indy91 opened #38 "Source files not complete"
This repository contains both the AGC source code for the Apollo 11 Lunar Module (Luminary099) and Command Module (Comanche055). Both AGC versions have a similar program structure, but the programs are not identical. As an example, the file P20-P25.s in this repository is from Comanche055, but the file P20-P25.s for Luminary099 is missing. If you compare the two files:

Comanche055: http://www.ibi

[2016-07-09 20:09] chrup commented on #3
Works for me. I guess that you forgot to turn off selinux ;)

[2016-07-09 20:36] posto commented on #35
@Sword-Smith : sure it is, http://www.nerdylorrin.net/jerry/postages/MapOfCountriesNotMetric-800px.jpg

[2016-07-09 20:51] egorikem commented on #29
Welp, some sort of clever body is making up things (which, by the way, don't seem to be any realistic, referring to the source code and/or situation). And, of course, spells like a complete retard. Is that supposed to by funny? Amusing? Cool? Why this "issue" is ever there?

[2016-07-09 20:53] Sword-Smith commented on #14
Why has no one suggested PHP yet?

[2016-07-09 21:03] CrazyPython commented on #29
@egorikem it's supposed to be sarcastic, and the misspellings are on purpose.

[2016-07-09 21:05] egorikem commented on #29
@CrazyPython And I am supposed to be the president of US then. No, it does not appear to be sarcastic, it appears to be relatively retarded.

[2016-07-09 21:35] svengt opened #39 "Can we run this in a container?"
🐳

[2016-07-09 22:04] fmanno commented on #3
Hi guys. I have a similar problem but it's not on a CSM it's a car and instead of the O2 tanks I have fuel tanks. Any help plz email me the solutio!

[2016-07-09 22:13] mvalipour commented on #3
Works fine on our moon at this end of the galexy!

[2016-07-09 22:14] OsamaShabrez commented on #28
Works perfectly fine on macOS Sierra beta

[2016-07-09 22:48] ConnectedReasoning commented on #31
runs pretty slow. About  2 seconds per letter to write hello world

[2016-07-09 23:42] Pranoy1c commented on #29
this is code as it was. if you have a problem with it, just don't look at the code. there is no reason for them to come in and change this code to something which it wasn't. stop being offended at every single thing and take a chill pill and enjoy the joke.

[2016-07-10 00:04] JoaoGFarias commented on #24
Relax, we will never go to the moon again; requirements won't change, sadly.

[2016-07-10 00:16] santec commented on #39
Yes:

docker run -d apollo-11:latest

[2016-07-10 00:26] santec opened #40 "Rewrite in Chinese"
I see many requests to rewrite this program in different languages. However, the most popular language is still missing. Please, use Chinese.

[2016-07-10 00:36] peuamorim commented on #39
Error:

Unable to find image 'apollo-11:latest' locally
Pulling repository docker.io/library/apollo-11
docker: Error: image library/apollo-11 not found.
See 'docker run --help'.

[2016-07-10 00:42] peuamorim opened #41 "It's not compatible with Apollo 10"

[2016-07-10 00:46] #41 closed

[2016-07-10 01:43] venriq commented on #39
Sarcasm?

[2016-07-10 01:46] cspgx1996 commented on #19
Implying this is a serious discussion, this repo only holds code for the Rocket and all of the properties that define how it would work. Rewriting(converting) this is pointless, unless there is an environment that holds the properties of aerodynamics, the atmosphere, ect. Actual rocket/atmospheric/physics science.

[2016-07-10 01:52] cspgx1996 commented on #39
Unless there's an amazing open source program that simulates rockets(written in assembly) blasting off; No...t yet

[2016-07-10 02:08] rodrigozanatta opened #42 "Was this program safe for hackers?"
If I had this source code in 1969, can I invade it?

Hum... I really think the difficult part was the network.. Anyway, [they were in earth all the time ](https://en.wikipedia.org/wiki/Moon_landing_conspiracy_theories).

[2016-07-10 02:19] aajahid commented on #39
There is amazing program that simulates rockets -
http://ibiblio.org/apollo/index.html

Found the domain from author email address in on of the source comment

[2016-07-10 02:26] chrislgarry commented on #38
Thanks. If you know what is missing, mind submitting a PR?

[2016-07-10 02:32] chrislgarry commented on #9
There never was a wizard.

[2016-07-10 02:32] #9 closed

[2016-07-10 03:53] jjk3yz opened #44 "Missing Unit Tests"
Would be nice to have more unit tests.

Also seeing code with "guess" and "hopefully" in the comments doesn't inspire much confidence. Will this code run???? Noticed there's some lunar landing code. A bit ambitious aren't we?

[2016-07-10 03:54] howditgetburned commented on #39
Yes but your computer will fly away from you and into space, so run it wisely.

[2016-07-10 03:58] aajahid commented on #39
Hmm thats a problem, may be we can port SpaceX landing module - so we can get back our computer back intact?
Btw did SpaceX released their stable build or is it still unstable?

[2016-07-10 04:02] howditgetburned commented on #39
The current most well documented workaround is to put a sack of bricks on your computer before you attempt to use the program. You can also try turning it off and turning it back on again

[2016-07-10 04:06] vsoch opened #45 "Cannot locate astronaut ice cream"
One small scoop for man, freeze dried when not on land... ?

Mission abort!

[2016-07-10 04:15] avesus commented on #17
Hey, let's rewrite this in JavaScript using Node.js and React!

[2016-07-10 04:25] UnJavaScripter commented on #16
Watch out for copyright issues with the DHARMA initiative, we don't want the Internet to be broken again

![Apollo](http://lostified.com/auto/lomm/pc-apollo_candy_bar-a.jpg)

[2016-07-10 04:27] darrenmcc opened #46 "Remove left-pad dependency"

[2016-07-10 04:28] Kangaroonicorn opened #47 "Runtime error in version 13"
Major bug causing crash in version 13. Please apply patch to 11 as well.

[2016-07-10 04:44] mokalovesoulmate commented on #29
I am surprised that there is someone offended on this piece of code by today. Actually, I am wishing more piece of codes like this. Lol.

Anyway I agree with @Monster-geek.

[2016-07-10 04:51] lbotinelly commented on #33
Temporary fix / Plan B: Implement steely-eye'd missile man breeding program, have at least one assigned per launch.

[2016-07-10 05:24] anderbubble opened #48 "Issue tracker should be disabled"
The issue tracker for this repository should be disabled.

https://www.reddit.com/r/programming/comments/4s37pk/the_code_that_took_america_to_the_moon_was_just/d56boyc

[2016-07-10 05:26] WindedCone commented on #29
w,.... w,,,, w,,,, wow,,,,,... i cnt .......... y u ppl not sem to car about the ramifykations of the wirds,,,, y u ppl ned to bee so mean..... i,,,,, i..... I,,,,,, u r bad, i ned. a break of..... water///..../,.

[2016-07-10 05:49] Kangaroonicorn commented on #48
I agree. These issues are getting ridiculous.
I say we launch the thing and just test it in production.

[2016-07-10 06:18] chrislgarry commented on #48
Although I agree they are getting out of hand, it's not worth losing access to issue [#3](https://github.com/chrislgarry/Apollo-11/issues/3)

[2016-07-10 06:18] #48 closed

[2016-07-10 06:40] cirosantilli commented on #40
But then they will have the upper hand on the space race!!

[2016-07-10 06:41] cirosantilli commented on #28
superset: https://github.com/chrislgarry/Apollo-11/issues/8

[2016-07-10 06:41] cirosantilli commented on #37
possible duplicate of: https://github.com/chrislgarry/Apollo-11/issues/8

[2016-07-10 06:41] cirosantilli commented on #39
possible duplicate of: https://github.com/chrislgarry/Apollo-11/issues/8

[2016-07-10 06:46] icipiracy opened #50 "Implement an MVC library for UX"
Currently, I feel some interactions are not properly separated from their underlying datastructure. Maybe use React & Flux?

We could at least render templates server-side, if any updates are included just create a tutorial balloon above the input element for the pilots.

[2016-07-10 07:03] #19 closed

[2016-07-10 07:03] #20 closed

[2016-07-10 07:03] #22 closed

[2016-07-10 07:03] #24 closed

[2016-07-10 07:03] #25 closed

[2016-07-10 07:03] #26 closed

[2016-07-10 07:03] #28 closed

[2016-07-10 07:03] #29 closed

[2016-07-10 07:03] #31 closed

[2016-07-10 07:04] #34 closed

[2016-07-10 07:04] #35 closed

[2016-07-10 07:04] #36 closed

[2016-07-10 07:04] #37 closed

[2016-07-10 07:04] #39 closed

[2016-07-10 07:04] #40 closed

[2016-07-10 07:04] #42 closed

[2016-07-10 07:04] #44 closed

[2016-07-10 07:04] #45 closed

[2016-07-10 07:04] #46 closed

[2016-07-10 07:04] #47 closed

[2016-07-10 07:04] #50 closed

[2016-07-10 07:04] #8 closed

[2016-07-10 07:04] #14 closed

[2016-07-10 07:04] #16 closed

[2016-07-10 07:04] #17 closed

[2016-07-10 07:07] #15 closed

[2016-07-10 07:08] #33 closed

[2016-07-10 07:39] CrazyPython commented on #29
@WindedCone Why can't you spell at all? Why so many commas and periods? Can you type?

[2016-07-10 09:30] laoneo commented on #3
Going to ask Chuck Norris for a hot fix, we will deliver it OTA.

[2016-07-10 10:04] macbury commented on #3
Did you tried to reimplement it in delphi?

[2016-07-10 10:10] fiammante commented on #3
Ask the flight attendants or beam me up Scotty.

[2016-07-10 10:20] egorikem commented on #29
@CrazyPython Oh, so after all you do obliquely agree with my point?

[2016-07-10 10:37] ThomasLau commented on #3
OMG, it is not wroted in PHP!!!

[2016-07-10 10:59] 7203200 commented on #23
Wow，it's really good，I am from China，nice to meet you.
                                                                                                                           Fan Daoyu

[2016-07-10 11:28] NSMyself commented on #3
Downloading more RAM fixes this issue.

[2016-07-10 11:33] Kinaan commented on #3
migrating to ruby and using  gem 'apolo-tank-stirrer' fixed it for me. sending a PR shortly.

[2016-07-10 11:39] brouberol opened #52 "Missing Dockerfile"
Hi,

I'd like to be able to land apollo-11 on my dev machine, or even autoscale it in production. Docker would really help with that. What would it take to run Apollo-11 in a container?

[2016-07-10 11:49] tirkarthi commented on #3
I tried porting it down to Haskell and it compiles. By the laws of Haskell it should work if it compiles. Verified the same by porting down to Rust too.

[2016-07-10 12:25] rietta commented on #23
I just sent a link to this issue to @TheRealBuzz on Twitter. Hopefully Dr. Aldrin can shed light on this given is experience working with AGC during the mission.

[2016-07-10 12:29] ghost opened #53 "Extension pack for picking up Matt Damon"
I've sent a pull request for an extension to pick up Matt Damon. Please review ASAP: https://github.com/chrislgarry/Apollo-11/pull/54

[2016-07-10 12:37] Ardem opened #55 "Test coverage"
It would be nice to cover the source code by tests, unless, you guys, are brave enough to test it directly on production after the release.

Btw, I've seen tests of the Soviet "Soyuz 19" and it covers 146% of the code.

[2016-07-10 12:56] chrislgarry commented on #23
**RR**: `Rendezvous Radar. A radar system for tracking where the command module is. This is not used during descent, but was on in case they needed to quickly ascend to the command module.`

**ATCA**: `Attitude and Translation Control Assembly. One of the main assemblies for controlling the lunar module. It controls the thrusters for attitude and translation, receiving input from either the joysti

[2016-07-10 13:01] nobswolf opened #56 "DOWNLINK_LISTS.s +233 Space instead of Tab"
I just did some automatic checking without any real understanding so far, but:

Is this Space between 2DNADR and TCDH correct? It looks like it should be a Tab.

[2016-07-10 13:26] hellgorithm commented on #3
I just want it to work..anyone who has a docker image for this?

[2016-07-10 13:58] artempervin commented on #55
Петросян, перелогиньтесь

[2016-07-10 13:58] nobswolf commented on #56
similar:

ASCENT_GUIDANCE.s:567:		BANK 27
P51-P53.s:249:		OCT 405
LUNAR_LANDING_GUIDANCE_EQUATIONS.s:136:  		READ CHAN30
KALCMANU_STEERING.s:244:		SETLOC MANUSTUF
P34-35_P74-75.s:965:		SETLOC P30SUBS
INTERPRETER.s:1307:		TC OVERFLWY

[2016-07-10 14:26] beanmoss commented on #3
I think rewriting this to meteorjs will do the trick.

[2016-07-10 15:11] joelgarciajr84 commented on #55
No tests man! :)

[2016-07-10 15:17] indy91 commented on #38
I don't know how you want to organize things, but separating the code for Comanche055 and Luminary099 would be a good start. I very much doubt that any of the identically named files of the two AGC versions are completely identical, so I guess you'll want to go through all the files that you didn't copy to this repository because they were already there (from the other AGC version).

[2016-07-10 15:50] jrroop commented on #53
I suggest leveraging the MATTDAEMON (Multipurpose Astronaut Temporary Transportation). That would address other issues (Such as for Major Tom and Astronaut Taylor.

[2016-07-10 16:22] wmhilton opened #59 "README lacking explanation"
Stumbled across this via Twitter. I see all the recent issues/pull requests are jokes but what is this actually? The README file mentions "Virtual AGC and MIT" but there's no links. I've never even heard of a .s file before. Does MIT have an Apollo emulator or something?

[2016-07-10 16:31] indy91 commented on #59
MIT wrote this code for the Apollo program. It first became available in digital form many years ago thanks to Ronald Burkey, who created an AGC emulator called Virtual AGC. Here the relevant website: www.ibiblio.org/apollo

[2016-07-10 16:36] muellermartin commented on #59
I also came here via Twitter and [Hacker News](https://news.ycombinator.com/item?id=12048945), too. Maybe the comments on the latter source can help clear up some uncertainities.
To adress your questions:
- Virtual AGC might refer to this project: http://www.ibiblio.org/apollo/ ("computer simulation of the onboard guidance computers used in the Apollo Program's lunar missions")
- `.s` files usuall

[2016-07-10 16:37] abhishekbhardwaj84 commented on #3
Try running it on the lunar cloud VMs.

[2016-07-10 16:43] badvision commented on #53
Congress didn't approve the budget.  Suggest he learns to grow wings instead.   Wait, are you filming this conversation?

[2016-07-10 16:54] Waterloo commented on #3
Those old lady's forgot to deploy the commit that fixed the bug. I have asked them to re weave it

[2016-07-10 17:04] DJviolin commented on #3
Did you tried Node.js?

[2016-07-10 17:13] fiammante commented on #3
I'd rather go for Eclipse luna with Java 8 from eclipse.org , but as it will be dark because of the eclipse we need additional lights.

[2016-07-10 17:19] fiammante commented on #3
BTW I have been in a private conference in 1998 where Jim Lovell talked about leadership. Impressive guy.

[2016-07-10 17:30] MooglyGuy commented on #59
No offense, but if you are unfamiliar enough with assembly language programming that you don't know what a .s file is, then maybe this github project isn't really your speed.

[2016-07-10 17:31] MooglyGuy commented on #56
Does it matter?

[2016-07-10 17:31] ksound commented on #3
Successfully reproduced... I see what you mean, but I'm not sure it's actually a bug. Could this be the intended functionality?
![image](https://cloud.githubusercontent.com/assets/19522192/16715005/358fae52-4689-11e6-8a29-91bc6bd45825.jpeg)

[2016-07-10 17:39] rumpelsepp commented on #52
Lol

[2016-07-10 17:47] thesandbender commented on #53
All, this has been resolved.  Please as <a href="https://twitter.com/SarahKSilverman">Sarah Silverman</a> to merge the patch.  Oh, wait, that was something different.  Please disregard.

[2016-07-10 17:48] j-cimb-barker opened #61 "Program Alarm 1202 / 1201 during descent."
My first user had a Program Alarm 1202 during a descent phase. He was advised to ignore the alarm by Management. Then he had a 1201 alarm. This repeated several times.

My user managed to complete their objectives but is concerned about these alarms. Maybe it would be better to make them warnings...? Or just suppress completely...? Descent phase can be stressful for some users and it would reduce

[2016-07-10 17:49] lyda opened #62 "Commits with valid authors and dates..."
Just curious, is it possible to try and approximate the original authors and commit dates using things like [GIT_AUTHOR_NAME](https://git-scm.com/book/en/v2/Git-Internals-Environment-Variables) and so forth. And possibly using tags to note how the code looked at each launch. I'm not clear on what data on this might be available.

[2016-07-10 17:52] thesandbender opened #63 "External temp shows reading for soundstage, not "space"."
Mr. Kubrik pointed out that the external temperature gauge is showing the temperature for the sound stage.

[2016-07-10 17:53] #61 closed

[2016-07-10 17:54] j-cimb-barker commented on #61
Closed as duplicate of Issue #23

[2016-07-10 17:54] j-cimb-barker opened #64 "Better UI Requested by Users"
Our users have stated they would like a new UI. Our UI designers have looked into this request and have made [a mockup.](https://en.wikipedia.org/wiki/Lunar_Lander_(1979_video_game)#/media/File:Lunar_Lander.png)

Feedback is required before implementing.

[2016-07-10 17:59] AlexGitHub200 commented on #3
I asked the PM, he said QA approved it, so....

[2016-07-10 18:15] pawel-dubiel commented on #52
Hello, It doesn't accurately answer your problem, but you can land Apollo 11 on your dev machine http://nassp.sourceforge.net/wiki/Main_Page . It supports AGC software.

[2016-07-10 18:21] IronJaeger opened #65 "Requesting budgie-desktop port"
Can we have budgie-desktop ported for the project? it also have Raven Sidebar . Tha means more wings to help it fly to the outerspace while reducing fuel consumption. Thanks

[2016-07-10 18:48] Synchronium commented on #3
This can easily be resolved with a jQuery plugin.

[2016-07-10 18:50] ploctaux commented on #3
have you tried to turn it off and on again?

[2016-07-10 18:52] chrislgarry commented on #62
That would be amazing. We would have to go through every source scan. Just to give you an idea of the magnitude of this sort of project, here are the scans for the lunar module: http://www.ibiblio.org/apollo/listings/Luminary099/. I tried doing some OCR on one of the scans, and it did not fair well out of the box. It'll require some fine-tuning for this.

[2016-07-10 18:58] chrislgarry commented on #59
I've updated the README. Please let me know if this helps.

[2016-07-10 18:59] chrislgarry commented on #56
If you think there is an issue and you know the fix, please submit a PR. Thanks.

[2016-07-10 18:59] #56 closed

[2016-07-10 19:02] #52 closed

[2016-07-10 19:02] #55 closed

[2016-07-10 19:02] #63 closed

[2016-07-10 19:02] #64 closed

[2016-07-10 19:02] #65 closed

[2016-07-10 19:08] nuuman commented on #53
@chrislgarry INVALID?!? Expect an angry Ben Affleck on your door any minute.

[2016-07-10 19:12] #59 closed

[2016-07-10 19:14] Tropicalrambler commented on #53
I wonder if you would like them apples.

[2016-07-10 19:15] #23 closed

[2016-07-10 19:19] chrislgarry commented on #53
Considering Matt Damon attempted to maroon the entire Interstellar crew, he can stay on Mars.

[2016-07-10 19:26] Tropicalrambler opened #67 "Python fork"
I hereby request help with creating a Python fork to run this on a Raspberry Pi 2...  Maybe a Raspberry Pi 3.

[2016-07-10 19:27] thesandbender commented on #63
Thanks for being a good sport about it (seriously) and thanks for taking the time to upload the code.  Jokes aside it's an important part of history and it's cool people can look over it.

[2016-07-10 19:29] RexRowan commented on #53
Give him long enough time, he will mutate and adapt to the environment.

[2016-07-10 19:37] IronJaeger commented on #53
@RexRowan then the Marsians will send him to explore Earth and leave him here, when the planet will be ruled by apes, and he have to believe in darwin's theory and reverse-engeneer his dna to back then

[2016-07-10 19:40] chrislgarry commented on #63
@thesandbender The joke issues just keep pouring in, but I enjoy reading them. There are real issues however, since [some source code is missing](https://github.com/chrislgarry/Apollo-11/issues/38), and there is now an effort to fix all the typos introduced from digitization of the original source. I'm just glad there's as much excitement about it as when I first found the source code online, than

[2016-07-10 19:58] NotSoSuper commented on #3
try by not using assembly

[2016-07-10 20:05] cjmielke opened #69 "Set SCE to Auxiliary by default"
This will greatly reduce power usage and greatly improve performance on malfunctioning hardware.

[2016-07-10 20:11] ilovemysillybanana commented on #62
Is that even possible? I didn't think they had version control software back then

[2016-07-10 20:18] hoosierEE commented on #21
On second thought, having all the source code files in one directory is kind of nice.

[2016-07-10 20:18] #21 closed

[2016-07-10 20:25] david-a-wheeler commented on #3
I recommend that future astronauts using this software watch this [training video](https://en.wikipedia.org/wiki/Apollo_13_%28film%29) in case this happens again in production.

And congrats to @Jim-Lovell, @John-Swigert, @Fred-Haise, @Gene-Kranz, and the many others at NASA and their contractors who managed bring everyone home safely; it was an extraordinary accomplishment.

[2016-07-10 20:46] amalChandran opened #70 "The code to come back from moon has an issue. And now I am stuck in the moon."

[2016-07-10 20:54] pedromorgan commented on #67
I've got a few RPI's 3 around.. on a mission for a "coporate small biz project".. so this is possible..

Maybe we code in golang.. cos its not an imperterator..

Hardware..
We could emulate the in+outs as a FlightGear pilot/player.. and its flight dynamics

[2016-07-10 20:54] pedromorgan commented on #67
Make lights switch on and off and annunication..

[2016-07-10 20:55] klarkc commented on #70
Try again later with the beta version

[2016-07-10 20:57] pedromorgan opened #71 "FlightGear"
Its an open source flight sim..

And indeed an interesting model was the Shuttle..

Think that flightgear and this project could integrate..

Same stuff about "physics" et all..

https://sourceforge.net/projects/flightgear/

[2016-07-10 20:57] klarkc commented on #67
Javascript port will be more awesome

[2016-07-10 20:59] catherdersoftware commented on #3
We should look at other software that NASA has written for solution ideas, such as in HASP for OS/360 on the IBM System/360 running at JSC.

[2016-07-10 21:07] indy91 commented on #71
We already have such a project (https://github.com/dseagrav/NASSP) for the Orbiter Space Flight Simulator, which uses the Virtual AGC emulator (https://github.com/rburkey2005/virtualagc). If there ever is a similar project started for FlightGear, we will very gladly help where we can.

[2016-07-10 21:10] robled commented on #3
install gentoo

[2016-07-10 21:43] Omniscimus commented on #3
Try deleting the user preference files and rebooting. Someone may have set the cryogenic tanks to 'shaken, not stirred'.

[2016-07-10 22:29] mrmattdamon commented on #53
Fuck

[2016-07-10 22:44] elfan commented on #3
It's a UI problem. The button to stir the tank is too dominant, we should make it a bit smaller and disable it if it is not supposed to be clicked.

[2016-07-10 23:58] corvuscrypto commented on #67
funny you should say that XD http://svtsim.com/moonjs/agc.html

[2016-07-10 23:59] robertcatgithub commented on #70
Find and run veg_advice.exe and see what happens

[2016-07-11 00:00] robertcatgithub commented on #67
you mean PERL ?

[2016-07-11 00:02] corvuscrypto commented on #38
Had the same idea as @indy91. submitted a PR with folder organization as per the original source listings. https://github.com/chrislgarry/Apollo-11/pull/73

[2016-07-11 00:06] robertcatgithub commented on #3
sir plz tell me exactly how to do this !!!!!!!!

[2016-07-11 00:15] CrazyPython commented on #29
@Georgii Savatkov According to /r/programmerhumor it's funny

On Sun, Jul 10, 2016 at 6:20 AM, Georgii Savatkov <notifications@github.com>
wrote:

[2016-07-11 00:18] JasonShin commented on #3
Try migrating to jQuery 3.0

[2016-07-11 00:19] maitreyav commented on #3
This is interesting! All the comments here...  :D

[2016-07-11 00:37] JasonShin commented on #3
WARNING: Don't migrate to jQuery 3.0 and try reproducing this issue.
<img src="https://s-media-cache-ak0.pinimg.com/564x/90/da/4a/90da4aedf3802a970055d735367d40b4.jpg">

[2016-07-11 01:00] UnknownPowered opened #74 "Can we put this installed in The International Space Station and China Tiangong 2 and ... ?"
First, I must say, this is a very long story...

---------------------

After a long time of undercover, I joined the international space station and China Tiangong 2 Engineering Department, I'm applying to install Apollo-11 on them, The developer turned me down, on the grounds that:

The International Space Station said: For us, the Apollo-11 system is too complicated, because we are NOT using th

[2016-07-11 01:02] wmhilton commented on #59
Awesome! Much clearer now. Definitely think that helps!

[2016-07-11 01:13] sourcepowered commented on #74
Woooooow, I'm stuck on the moon, too.
where are you? My coordinates is 12112° 2918' 12312'', 98696° 2142' 29184981''.
I'm repairing BUG, come and help me!

[2016-07-11 01:15] MultiverseCore commented on #74
**你对力量一无所知！
You have no idea about POWERE!!!**

[2016-07-11 01:33] chenenyu commented on #74
This story made me laugh and urine.

[2016-07-11 01:35] W-M-D commented on #3
confirming @jaysoffian has a working fix.

[2016-07-11 01:36] sundhaug92 commented on #69
Won't that just make the auxillary the primary and the primary the auxillary?

[2016-07-11 01:39] Tropicalrambler commented on #67
We should replicate in JS,  Perl,  Python and every code...  then make the simulator GUI... Then an actual soce probe.  Raspberry Pi...  actually, there is a Space Simulator app on iTunes that shows how to use Noun and Verb on that computer...

[2016-07-11 01:40] sundhaug92 commented on #67
You could probably get it running more easily by compiling yaAGC (and family).

[2016-07-11 01:41] rogersachan commented on #74
kek

[2016-07-11 01:48] Tropicalrambler commented on #67
We should set up the code, and get our own Apollo 17+ mission going,  in a smaller rocket and with a probe,  land near any of the previous missions and confirm previous excursions to the moon,  to prove the naysayers wrong.  Great thing to use the "original" program guidance...

[2016-07-11 02:57] Palmitoxico commented on #62
I think it wouldn't be possible, as the development dates before 1st January of 1970 (Unix Time).

[2016-07-11 03:38] ohommes commented on #38
It is crucial to split out the code for the Command Module and the Lunar Module. I have worked closely with Ron Burkey and many others in the world to transcribe the source code for the 40th anniversary of the lunar landing for Apollo 11 over a period of many weeks. Without thinking to much about the source code build names; for the Command Module (CM) the names are starting with a "C" (e.g. Colos

[2016-07-11 04:09] oznogon commented on #38
For context:

-   ibiblio organizes the HTML transcriptions and page scans into directories by project/build ([`apollo/listings/Luminary099`](http://www.ibiblio.org/apollo/listings/Luminary099/)).
-   rburkey2005/virtualagc organizes them into directories by project/build ([`Luminary099`](https://github.com/rburkey2005/virtualagc/tree/master/Luminary099))

[2016-07-11 04:09] BingoZ commented on #74
A fool hat!

[2016-07-11 04:21] ohommes commented on #38
For sure I support that setup by original build-name. I worked on the transcription painstakingly with many others to support the 40th anniversary of the Moon Landings.

In 2009, the year of the 40th anniversary of Apollo 11, a size-able group of Apollo enthusiast from all across the world transcribed both Comanche055 and Luminary099 from pictures taken of each page.

This process started by Ron B

[2016-07-11 04:26] corvuscrypto commented on #38
Well like I said I have a pr open for exactly this using the described format that's been mentioned several times so everything should be cherry then :). Also the main program loop will still compile you just need to change the file endings in the include list to .s. it will just be boring since all it will do is wait for jobs :P

[2016-07-11 04:41] ohommes commented on #38
Btw why is this re-uploaded on github. It has been placed here by Ron Burkey ever since Google Code went bye bye: https://github.com/rburkey2005/virtualagc

[2016-07-11 04:44] corvuscrypto commented on #38
Huh. I knew of the work but never knew that all the source was available already on GH. This is a good point. Though perhaps the owner wants this to be more of a playground?

[2016-07-11 04:51] cjmielke commented on #69
John Aaron, is that you?

[2016-07-11 05:44] jessevanmuijden opened #81 "Tests"
We should start thinking about writing some tests.

[2016-07-11 05:52] amin007 commented on #81
What are you want to test?

[2016-07-11 06:15] Wizzercn commented on #81
大家好~~

[2016-07-11 06:24] chshouyu commented on #81
Test if these code can send me to moon or not.

[2016-07-11 06:25] pairochjulrat commented on #74
IoI

[2016-07-11 06:35] imiskolee opened #82 "some source code forget push github ?"
i try to enter `git commit `at moon,and i see

[code]

can i push same forget code ?

[2016-07-11 06:37] loulousky commented on #74
alright you win

[2016-07-11 06:39] tobatha commented on #74
best materials for a comedy movie by all means

[2016-07-11 07:14] HuarenYu commented on #74
MDZZ

[2016-07-11 07:18] gczuczy commented on #70
Have you tried to turn it off and turn it on again?

[2016-07-11 07:33] AuthGood commented on #74
I think "MDZZ" 's chinese mean is: Mother is Retarded ?! ( This is a Chinese friend told me ... :P )

[2016-07-11 07:35] loulousky commented on #74
妈的智障 MDZZ 正解

[2016-07-11 07:48] iURWang commented on #81
I have been on the moon.hahahahaha~

[2016-07-11 08:11] AuthGood commented on #74
You joined the Mars nationality ??? Very Great !!! But ... I want to say:
**Did you see MATTDAMON???**

[2016-07-11 08:17] xmfbit commented on #74
Hi, @AuthGood I think in Chinese, "妈的" is an exclamation and has no relationship with "Mother", which is "妈" in Chinese. :)

[2016-07-11 08:22] AuthGood commented on #74
@xmfbit Oh sorry I know that and I delete it, this is my fault.. Let we delete the comment. I will delete this, don't let other people make a mistake.

[2016-07-11 08:23] mak3103 commented on #74
Hang on there....the ones who let you remove your clothes are not martians. They are indians who just look like that on moon. Btw, I hope they didnt took away your $'s.
Also, here is a workaround for your ask - tilt the spaceship a bit and fire the gas. It will work like a charm. Cheers!

[2016-07-11 08:27] feiming commented on #70
rename earth to moon and use goto moon function to get back.

[2016-07-11 08:28] feiming commented on #74
it work in virtual space station

[2016-07-11 08:41] dongyado commented on #74
yeah, lmao

[2016-07-11 08:44] amalChandran commented on #70
@feiming Ill try this. If it works I will reply. Only if it works.

[2016-07-11 08:47] thomasren212 commented on #74
Wish you best of luck, EXCITED! +1s

[2016-07-11 09:31] akring commented on #70
Told you don't run the code on windows :)

[2016-07-11 09:53] zixiliuyue commented on #74
good  good good

[2016-07-11 10:29] KingYoung87 commented on #74
please call 110 or 911.

[2016-07-11 11:49] smolinari commented on #3
Thank you for your report. However, the Colossus software was produced for the AGC, which was responsible for either the navigation of the Command Module or the Lunar Module. The problem you've reported can only occur in the Service Module and has nothing to do with AGC functionality.

Please report your bug in the Service Module project.

[2016-07-11 12:34] lfrankel commented on #3
Actually, @MadDonArabian and his team were able to reliably reproduce the cause of the problem.

It's a hardware design defect due to miscommunication. A heating safety system on the the cryo assembly spec from North American originally expected 28v DC. NA asked the subcontractor to change to 65v DC, which the did, but failed to inform their subcontractors in turn. In ground operations, the tank g

[2016-07-11 12:40] masukomi commented on #62
also, if you could go through and do that you would screw up EVERY clone of this repo. Never rewrite public history.

[2016-07-11 13:07] oldmud0 commented on #82
yu doing it wrong

[2016-07-11 13:11] oldmud0 commented on #17
Screw it, we'll rewrite it in Z80 assembly for the TI-84 calculators.

[2016-07-11 13:42] swiftc-org opened #94 "How do I build and run?"
I don't know which compiler could build it and what device could run it (I don't have a Apollo)

[2016-07-11 13:48] 312362115 commented on #74
???

[2016-07-11 13:50] danesparza commented on #3
@paoloo - the schematic is for the wrong version.  You posted 14.  The bug is for 11.

[2016-07-11 13:59] BinaryFlesh opened #96 "Rust Fork"
I think Rust would be the ideal language to program a rocket. It's secure and low-level

[2016-07-11 14:05] schneidermayer commented on #94
Maybe there is a Apollo 11 VM? ;-)

[2016-07-11 14:08] schneidermayer commented on #70
I got a bluescreen, thanks Bill Gates and NASA! Btw, when is the Android app coming out?

[2016-07-11 14:09] matas2007 commented on #94
There is an emulator: http://www.ibiblio.org/apollo/

[2016-07-11 14:13] wenmingtang opened #97 "🌹"

[2016-07-11 14:24] gczuczy commented on #70
@schneidermayer  I think we still need some improvements to utilize NFC for controlling from an droid app.

[2016-07-11 14:25] stefangeorg commented on #70
LGTM

[2016-07-11 15:05] M0xkLurk3r commented on #74
Amazing in your fantasy fiction ...! And aliens may hides in internet of our planet, searching their lace news and fictions, and they may already read your issue. I could believe that they hates people discuss their likes Slender man so make sure your window locked before sleeping or you may be kidnapped by UFO LOL

[2016-07-11 15:06] Imagebard commented on #48
NO FUN ALLOWED

[2016-07-11 15:19] bretlowery opened #98 "Error, "Cannot open pod bay doors""
Installed and successfully built on HAL 9000 RC 1. Subsequently went on EVA without space helmet, on return asked HAL to open pod bay doors, says he cannot. We are currently arguing about this; extremely poor customer service from HAL after this install (is there a conf setting I missed?)

[2016-07-11 15:46] ryanttb opened #99 "Needs more jQuery"

[2016-07-11 15:46] santec commented on #39
More seriously: Apollo-11 computer did not run a modern version of Linux, so no, you cannot run this program in a container.

[2016-07-11 16:04] marten commented on #96
I wouldn't want my rocket to rust.

[2016-07-11 16:15] greysondn commented on #67
On a more serious note, in #19 a comment mentions the port is pointless without a compatible environment (ie; real world physics), but it only made me wonder if a "functional enough" physics simulation would enable this to run. For example, could you fabricate a game such that this code could be ran on an in-game lander module? And, if so, why could you not subsequently port the command logic to l

[2016-07-11 16:23] bishopandco opened #100 "Doesn't work in IE"
Can't ship.

[2016-07-11 16:53] xob opened #101 ".DS_Store file in source code"
Pretty sure there wasn't a .DS_Store file in the Apollo 11 source code! It should be removed from the repo.

[2016-07-11 16:54] johnidm commented on #3
My solution is to change the astronauts and rewrite and re-write in JavaScript

[2016-07-11 16:54] #101 closed

[2016-07-11 16:57] SoboLAN commented on #99
Well, it may not work wih versions < 2.0 :D

[2016-07-11 17:23] hellboy81 opened #102 "Make refactoring"
Goal: Make code more maintainable and debuggable

Guidelines:

- Refactor to functions
- Write some manual tests
- Code cleanup
- Refactor to objects
- Write some unit tests
- Try to isolate with mocks and stubs
- Refactoring to patterns
- Write integration tests
- Write simulation environment
- Write acceptance tests

[2016-07-11 17:33] webknjaz opened #103 "Ukrainian UI"
Any plans to support i18n?

[2016-07-11 17:33] webknjaz opened #104 "Plugin for Vim"
well.. you know

[2016-07-11 17:39] lkraider commented on #98
Tried on-site modification of some of the HAL modules, it started to error out with messages like "I'm afraid", "My mind is going.", "I can feel it.". Way to support user mods dev team.

[2016-07-11 17:39] lkraider commented on #96
But is it webscale?

[2016-07-11 17:40] uberTof commented on #3
I can confirm upgrading the hardware to the latest NES Advantage joystick worked for me.
![nes-advantage](https://cloud.githubusercontent.com/assets/847429/16740375/b034b74a-4753-11e6-9599-7730f2091c65.jpg)
https://www.youtube.com/watch?v=ixhwSg1ezSM

[2016-07-11 17:45] jeffreyroberts commented on #3
can anyone confirm if cheebacity is the password?

[2016-07-11 18:11] Joltron commented on #69
[SCE to AUX, what the hell is that?](https://youtu.be/eWQIryll8y8?t=131)

[2016-07-11 18:28] chrislgarry commented on #38
@ohommes @corvuscrypto first, thanks for sharing your thoughts. I created this repo two years ago when I saw the original Apollo 11 source online bundled with something called Virtual AGC. I wanted the original Apollo 11 source, so I extracted it and uploaded it to a repo for myself. Recently, somebody found my repo and shared it online, and here we are. Although Virtual AGC is awesome, I never wa

[2016-07-11 18:35] chrislgarry commented on #38
@corvuscrypto thanks a lot!

[2016-07-11 18:46] ohommes commented on #104
How about looking at the original github source and see there is already many syntax highlighting for years and the capability to run in CodeBlocks and single step Apollo 11 code.

https://github.com/rburkey2005/virtualagc/tree/master/Contributed/SyntaxHighlight

[2016-07-11 18:52] Alhadis commented on #100
<img src="https://cloud.githubusercontent.com/assets/2346707/16660954/fa9daa96-44b3-11e6-9ecf-cc998ba52056.jpg" alt="topkek" />

[2016-07-11 18:53] ohommes commented on #62
Why even set this repo up when all is available at:
https://github.com/rburkey2005/virtualagc

Why not contribute to the historical skunk works that has been done since 2003 and continue to contribute to Ron Burkey's work. It is the single place where we have pulled together all the historical material. I have travelled and talked with many of the original developers and had them agree to mail the

[2016-07-11 19:08] erikdstock opened #107 "No test coverage?"
please update- I want to fork this for personal use but don't feel comfortable with using untested code on this particular side project

[2016-07-11 19:13] oznogon commented on #38
@chrislgarry @ohommes It would still be nice to find a way for the corrections against this repo to make their way "upstream" to rburkey2005/virtualagc, or to @rburkey2005 directly per the [transcription project's comment proofing instructions](http://www.ibiblio.org/apollo/volunteer.html#Proofing_of_comments_in_source-code).

[2016-07-11 19:19] oznogon commented on #94
Indeed, Virtual AGC is the source of this transcription. See http://github.com/rburkey2005/virtualagc.

[2016-07-11 19:28] danickgevry commented on #3
Perhaps you might need to put it back to channel #3 ?

[2016-07-11 19:29] ReyHaynes opened #108 "Samaritan!"
I'm almost certain this is Samaritan code, from Person of Interest, trying to come back online and take over the human race...

DO NOT RUN!

#StayWoke

[2016-07-11 19:31] rburkey2005 commented on #38
Given that we haven't really edited any of this AGC source in a long
time, I'd venture to say that if you continue to make headway on this,
then it will simply be easier for me to replace the files in my source
tree with yours, or otherwise merge them in ... eventually.  In other
words, I think any effort to set me individual up-to-the-minute changes
in the interim is probably wasted.

Fortunately

[2016-07-11 19:35] chrislgarry commented on #38
@rburkey2005 sounds good to me. I have a ton of fixes to go through so I can let you know when this reaches a steady state.

[2016-07-11 19:41] KnowinkDev commented on #3
Hi!

Thanks for contacting help desk.

My name is Luke and I am here to help you with your CRYOGENIC TANKS WITH A CIRCUIT FAULT PRESENT ISSUE.

Let's start with what version of CRYOGENIC TANKS WITH A CIRCUIT FAULT PRESENT ISSUE you are using. If version A14, press 1. If greater than A14, press 2.

Great, you selected A14, is that correct? If yes, press 1, if no, press 2.

OK, you have confirmed yo

[2016-07-11 19:47] oldmud0 opened #109 "Issues are getting out of hand"
Enough with the jokes already, guys. They were nice and I was playing along the first few times but now the jokes are seeping into the pull requests and so it's difficult to do any real work on the repo.

I suggest disabling issues for now until popularity cools down.

[2016-07-11 19:57] DheerendraRathor commented on #81
I built my own Apollo system and Saturn V rocket. Somehow I convinced MIT to get me some rope memories to install this module!

Hello from the moon!

[2016-07-11 20:04] PatelUtkarsh commented on #108
I thought it's machine's code.

[2016-07-11 20:06] gohackfelipe commented on #100
LOL

[2016-07-11 20:08] chrislgarry commented on #82
@imiskolee they need to stay on the moon.

[2016-07-11 20:08] #82 closed

[2016-07-11 20:08] howditgetburned commented on #37
I didn't see that one.

[2016-07-11 20:09] howditgetburned commented on #109
Why would work be done on it? it's here for preservation, not improvement.

[2016-07-11 20:09] gohackfelipe opened #110 "E.T. the Extra-Terrestrial ( from movie ) installed this in his bike?"
Please, i need know this :)

![et_moon](https://cloud.githubusercontent.com/assets/15708865/16745112/c0b8facc-478a-11e6-86c3-24f1871e4f82.jpg)

[2016-07-11 20:13] #69 closed

[2016-07-11 20:13] #70 closed

[2016-07-11 20:13] #74 closed

[2016-07-11 20:13] #81 closed

[2016-07-11 20:13] #96 closed

[2016-07-11 20:13] #97 closed

[2016-07-11 20:13] #98 closed

[2016-07-11 20:13] #99 closed

[2016-07-11 20:13] #103 closed

[2016-07-11 20:13] #107 closed

[2016-07-11 20:13] #108 closed

[2016-07-11 20:13] chrislgarry commented on #67
Go for it!

[2016-07-11 20:13] #67 closed

[2016-07-11 20:15] oldmud0 commented on #109
I was only joking, did you not see the smile on my face?

[2016-07-11 20:15] gkal19 commented on #110
Brasileiro é foda!
PQP

[2016-07-11 20:23] RafaelC457ro commented on #94
I don't know how build, but, you can run the javascript version: http://svtsim.com/moonjs/agc.html

[2016-07-11 20:33] indy91 commented on #67
@greysondn You might want to check out our project here: http://nassp.sourceforge.net/wiki/Main_Page and https://github.com/dseagrav/NASSP We are running the Virtual AGC emulator (https://github.com/rburkey2005/virtualagc) as part of a simulation of the Apollo program.

[2016-07-11 20:43] nitram509 opened #112 "How and What to contribute?"
This is an interesting project, awesome.

I would like to contribute, but I have some questions, where to start ...

* I see the folk on http://www.ibiblio.org/apollo/ have some JPEG fotos and already provide source files.
   * are these already complete?
   * are there errors in? how do you know?
   * are there source files missing?
   * is there an overview, which files are potentially OK or bug

[2016-07-11 20:46] tkaefer commented on #3
Anybody called Tom Hanks,Bill Paxton or Kevin Bacon? I've seen a training video, where they were able to fix that.

[2016-07-11 20:51] steve1780 commented on #62
Onno is right. The official project at  http://www.ibiblio.org/apollo/ should be the official sourcebook and guide for all things AGC. Besides, if examining the source code for done for historical or educational purposes, you cannot understand the complexities of the AGC system with just the source code alone.

[2016-07-11 21:03] oldmud0 commented on #112
Readme says:

Basically preserve as much and as accurately as possible the computing components of the Apollo 11, and no new stuff allowed. Transcription errors ought to be fixed, even if the transcription was trying to correct a typo. The people at ibiblio have mostly done the job for us already, but the task now is more of cleaning everything up and make it usable for anyone who wants to run a s

[2016-07-11 21:05] pedromorgan commented on #67
@greysondn re
"without a compatible environment (ie; real world physics), but it only made me wonder if a "functional enough" physics simulation would enable this to run."

That is why I raise the Flightgear #71 issue as it has the "FDM" = Flight Dynamics Model and maths etc.. Maybe not in space, but certainly the Shuttle is still in development...

[2016-07-11 21:24] pedromorgan commented on #109
I think the jokes are done...

and actually honestly.. I've never programmed and FPGA, but all fun aside, I think all the curious worms are coming out the woodwork, and maybe even all of u hackers making the code run, and ardunois, rpi, ttl, cmos, fpga, leds, et all flashing light in a REAL sim with hardware would be fun, maybe..
Even get down to hardware/software + engineering..

http://www.webau

[2016-07-11 21:27] pantsignal opened #113 "After the landing...."
...did it run Hello World?

[2016-07-11 21:39] pedromorgan commented on #109
Can I also suggest creating labels..such as
"Humour" "typo", "faq", "proposal" etc..

[2016-07-11 21:47] pedromorgan commented on #71
For ref this is FG's space shuttle and stuff
http://wiki.flightgear.org/Space_Shuttle

BUt considered here as an idiot is the accent phase..
but I thing gravirty calcs et all are kinda there as an FDM (Flight Dynamics Model).. but I am only an idiot..

[2016-07-11 21:50] pedromorgan commented on #71
All I am trying to suggest is that we "maybe" can use flightgear as an "input" the this code...not good explain tingz

[2016-07-11 22:04] lassombra commented on #102
simulation environment complete: http://svtsim.com/moonjs/agc.html

[2016-07-11 22:23] pedromorgan commented on #113
Its in asm code..

So c came years later...

But probalbly 000111001 in binary or alike
means "on moon" ;-))

[2016-07-11 22:26] niutech commented on #100
False. It works in all modern browsers, including IE: http://svtsim.com/moonjs/agc.html

[2016-07-11 22:26] pedromorgan opened #114 "FAQ Idiot Questions"
Idea here is to solve curiosus questions..

[2016-07-11 22:26] pedromorgan commented on #114
Is there a PID controller ?
https://en.wikipedia.org/wiki/PID_controller

[2016-07-11 22:27] pedromorgan commented on #114
What is the clock and sample rates of pressure from "things"..
How is a2d done ??

[2016-07-11 22:31] pedromorgan commented on #114
FPGA is an electronics sim.. Can I attempt to write at least the ins and outs and even create the whole scenario in my bedroom ?? YES.. u can.. at last ..

[2016-07-11 22:50] oznogon commented on #112
The volunteering page on Ron Burkey's project is probably a good starting point, especially the sections on [Code Conversion or Proofing](http://www.ibiblio.org/apollo/volunteer.html#Code_Conversion).

[2016-07-11 23:13] dwanderton commented on #53
😁 I think i speak for many when i say this just made my day! +1 please reopen

[2016-07-11 23:39] feliphebueno commented on #110
Br sendo Br.
huehuehue

[2016-07-12 00:30] chrislgarry commented on #110
Either that, or it may have been installed in the tip of his finger.

[2016-07-12 00:30] #110 closed

[2016-07-12 00:37] tablatronix commented on #3
Your holding it wrong.

[2016-07-12 00:41] chrislgarry commented on #112
The goal is to be an accurate reflection of the original code. I'm not concerned with building. The folks at Virtual AGC have done an excellent job with that already: https://github.com/rburkey2005/virtualagc. The code they have is accurate as well, less some typos in the original comments. The fixups in this repo will be merged by @rburkey2005 when this repo reaches a steady state. The .s for syn

[2016-07-12 00:42] #112 closed

[2016-07-12 00:58] chrislgarry commented on #114
@pedromorgan there are many PIDs in the code for different components of the system. I'm sure different components work at different frequencies. There are many DAC/ADCs in the code as well for all of the hardware sensors to interface with the AGC. And yes, you can recreate this from your bedroom :) Virtual AGC has done that for us, so you can use that as a reference point: https://github.com/rbur

[2016-07-12 00:59] #100 closed

[2016-07-12 01:01] #113 closed

[2016-07-12 01:02] chrislgarry commented on #102
Simulation environment: https://github.com/rburkey2005/virtualagc, along with everything else you could ask for :)

[2016-07-12 01:02] #102 closed

[2016-07-12 01:07] #71 closed

[2016-07-12 01:08] chrislgarry commented on #71
@pedromorgan feel free to mention this to the folks at FG. Also, check out what @indy91 has done. It would be a good starting point.

[2016-07-12 01:14] chrislgarry commented on #109
@pedromorgan Great idea. I've create a new humor label, and will create others as necessary. Thanks for the tip. @oldmud0 I think it's important for everyone to be able to have fun even though we are trying to maintain a serious repo of the original code. I don't mind combing through the jokes. I'll just label them as jokes and resolve so we can keep an eye on issues with digitization and missing

[2016-07-12 01:14] #109 closed

[2016-07-12 01:19] viohex commented on #74
你的脑洞还可以啊

[2016-07-12 01:23] damoqiongqiu commented on #74
666

[2016-07-12 01:32] chrislgarry commented on #94
@swiftc-org check out @oznogon 's comment.

[2016-07-12 01:32] #94 closed

[2016-07-12 01:34] #114 closed

[2016-07-12 01:36] chrislgarry commented on #104
@webknjaz check out @ohommes 's link. They've got the whole enchilada.

[2016-07-12 01:36] #104 closed

[2016-07-12 01:40] lazy1523 commented on #74
hahahahahaa,really  interesting

[2016-07-12 01:43] chrislgarry commented on #62
@ohommes I think @lyda want's a repo that would look as if the original developers were using it as their repository. More of like a modern take on how the original developers would have used source control. @lyda if you're interested in this, @ohommes has linked to all the information you would need.

[2016-07-12 01:43] #62 closed

[2016-07-12 01:51] PabloDinella commented on #3
Same here

[2016-07-12 02:34] wopian opened #115 "Discrepancy in punctuation used."
Reviewing the big PR, I've noticed in several places where the source images have different punctuation than what is used in the digitalised version.

E.g i've seen a few places where `:TEXT:` was written, but as `'TEXT'` in the digitalised version.

[055-Pg0369](http://www.ibiblio.org/apollo/ScansForConversion/Comanche055/0369.jpg)
![](http://i.imgur.com/sHrzoby.png)
![](http://i.imgur.com/s2z9de

[2016-07-12 02:36] oldmud0 commented on #109
I felt that we were kind of getting overrun by joke issues. Sorry for overreacting... and playing down my mistake as a joke...

[2016-07-12 02:52] h0nes1pr09rammer commented on #74
写的啥子

[2016-07-12 03:22] ModalSeoul commented on #3
Yea, have you tried Docker?

[2016-07-12 03:22] chrislgarry commented on #115
@wopian thanks. Use the original as the authoritative source. If any changes happen to break build, that's fine; that's what Virtual AGC is for.

[2016-07-12 03:22] #115 closed

[2016-07-12 03:28] wopian commented on #115
So -- -> - and :TEXT: digitalised to 'TEXT' back to :TEXT:?

[2016-07-12 03:33] ShariqKhan2012 commented on #3
Its not a bug. It is the limitation of the free version. Kindly upgrade to the premium version to enjoy
hazard free cyro tank stirring.

Just kidding. I know its a bug. But nobody clicks on my "Donate via paypal" button, so I ain't going to fix it.
There.. I said it.

[2016-07-12 05:19] xchehub commented on #3
Please find second source.

[2016-07-12 05:51] Alhadis commented on #70
ＡＢＳＯＬＵＴ ＲＯＦＬＦＩＴ.

<img src="https://cloud.githubusercontent.com/assets/2346707/16756425/4e395ea6-4848-11e6-83d3-2a2860859eff.jpg" />

[2016-07-12 06:14] NanYoMy opened #116 "kalman filter is exactly exist"
well, i had happen to know KALMAN FILTER is popular for its usability in apollo-11. and i had check this git. finally i find a file named KAILMAN_FILTER. that's really awesome! it just like i had find a old treasure from our old ancestors.

[2016-07-12 06:19] kaushikwavhal opened #117 "Icing problem in Mark 1"

[2016-07-12 06:33] chrislgarry commented on #116
@NanYoMy In fact, the Apollo projects were the first publicly known application of the Kalman Filter :)

[2016-07-12 06:34] #116 closed

[2016-07-12 06:40] NanYoMy commented on #116
great job!

[2016-07-12 06:52] chrislgarry commented on #109
@oldmud0 oh, we definitely are getting overrun by joke issues :) no worries. I initially was going to do that then realized people initially came for the fun, but stayed to help contribute.

[2016-07-12 08:17] Emyr42 opened #118 "Idea: Render current source to images to compare with scans"
Steps:

1. Create font which approximates the text produced by the original printers
2. Create texture generator which approximates the non-text patterns (paper colouring, repeated printer artefacts etc
3. ???
4. Profit!

Seriously though, are we at a point where rendering the current known source to "fake scans" might allow transcription errors to be highlighted?

[2016-07-12 13:50] rudimk commented on #117
Have you tried a gold-titanium alloy from a satellite that doesn't face the icing problem?

[2016-07-12 14:13] wopian commented on #118
The problem here is that the digitalised files have slightly different formatting.

Besides having to create/find the font used, you'd need to strip the `#` in front of the comments and roughly space out the text so they're around the same location. Once converted to images, they'd need to be manually repositioned to match the offset and angle of the source images.

In the end, I just see it takin

[2016-07-12 19:08] bkowald commented on #3
Cannot replicate on my test system. Please zip up all logs and a memory dump and upload it to the support ftp site. We will get back to you within 24 hours. Have a nice day.

[2016-07-12 21:05] krisring-taulia commented on #3
Works on my Apollo - closing.

[2016-07-12 21:10] RedShift1 commented on #3
It's a network problem. Closing ticket.

[2016-07-12 21:14] epinapala commented on #3
This is expected behaviour, In fact its a feature, not a bug.

[2016-07-12 22:55] XenArgon commented on #3
I was able to fix this by going into the config files and deleting one called "System32".
Apollo is really tough to boot from then on, but it's a solid fix.

[2016-07-13 02:54] #117 closed

[2016-07-13 04:08] hatefkasraei commented on #118
or be a hero and read them with your eyes :D

[2016-07-13 06:43] team4music opened #124 "Suggestion - More strict cut between original and adapted"
Hi,

a real great piece of history. But what i don't like is that there are a lot of comments mixed together. It would be geat if its clear to see which is the original code from 1969 (including comments) and which has been made later.

[2016-07-13 07:20] wzpan commented on #74
I successfully installed it into my calculator and it was burned after 10 seconds.

[2016-07-13 08:32] Symbian9 opened #126 "Cant render landing on Moon, as it was 20 July 1969"
Try use this project in Blender for render historical landing, but still have not any results.
Any ideas?
![Apollo 11 on Moon](https://upload.wikimedia.org/wikipedia/commons/1/1e/Apollo_11_first_step.jpg)

[2016-07-13 08:50] rougetimelord commented on #126
Have you tried all keyboard shortcuts available on the DSKY?

[2016-07-13 10:09] Erigne commented on #3
Login to NDS as admin and type "load landing.nlm"

[2016-07-13 10:31] kzarim commented on #3
Sprzedam Opla! :D
But seriously guys, that bug is clearly caused by the team not having daily agile stand-ups! Agile would do that the right way!

[2016-07-13 12:34] fireflyhoo commented on #118
who can change to golang

[2016-07-13 12:41] deboc opened #127 "Update to go to Mars"
Nice release !
I tested the code and it landed to the Moon properly. But can someone explain me how to fine tune it to go to Mars ? Is it some config file to update ?
Thanks,

[2016-07-13 12:54] mfbiux opened #128 ""Smarty" migration: convert software to PHP in order to run using Apache"

[2016-07-13 12:55] rezkirauf opened #129 "PASARCASH.COM AGEN BOLA SBOBET EURO 2016 TERPERCAYA"
[PASARCASH.COM AGEN BOLA SBOBET EURO 2016 TERPERCAYA](http://www.daftarsekarang.com/2016/01/pasarcash-com-agen-bola-sbobet-euro-2016-terpercaya.html) merupakan situs agen bola online yang dapat di gunakan untuk melakukan taruhan semacam sbobet, prediksi skor jadwal bola, mix parlay.

untuk itu kami telah mengajak anda bagi yang pecinta judi online secara bertaruh di situs web [PASARCASH.COM AGEN B

[2016-07-13 13:11] rezkirauf opened #130 "GEMILANGPOKER.COM SITUS AGEN POKER DAN BANDAR Q TERBAIK INDONESIA TERPERCAYA"
[GEMILANGPOKER.COM SITUS AGEN POKER DAN BANDAR Q TERBAIK INDONESIA TERPERCAYA](http://www.daftarsekarang.com/2016/01/gemilangpoker-com-situs-agen-poker-dan-bandar-q-terbaik-indonesia-terpercaya.html) adalah promotor situs taruhan judi online seperti poker, domino, bandarq, aduq dan capsa online, untuk menjadi member dari gemilangpoker.com caranya cukup mudah, kalian tinggal mendaftarkan akun beser

[2016-07-13 13:46] aralroca commented on #128
Why PHP? I think it's not the best option for this propose. Has been programmed in Assembly to use the speed benefits in the space. If some smarty migration is needed to a modern language I think that Scala, for example, is a better option.

[2016-07-13 14:14] aralroca commented on #127
Hey! I don't have so much idea about assembly but I'm interested and how you tested the code  👍  I want to test it also. Thank you so much!

[2016-07-13 15:25] ddemuro commented on #128
Migrate to C++, you get the best of all worlds haha.

[2016-07-13 16:26] theodesp commented on #3
I like my O2 shaken not stirred. Do I have to log in a new issue?

[2016-07-13 17:14] Zerquix18 commented on #94
You can buy a starship on eBay

[2016-07-13 17:16] chrislgarry commented on #124
@team4music we are working on fixing up the typos from digitization. we can then move on to removing anything that wasn't there to begin with, but I need to make sure this is ok. I agree 100%. It's like going to a museum and seeing annotations on the actual artifacts.

[2016-07-13 17:18] Zerquix18 commented on #127
Delete system32 in order to overclock and then re-compile with the flag `--planet=Mars`.

[2016-07-13 17:20] Zerquix18 commented on #128
That's a little hard. How should we call the function to go to the moon? `go2themoon()` or `gotothemoon()` or maybe `go_to_the_moon()` but we can also call it `moon_go()`

[2016-07-13 17:54] rdab100 commented on #3
Sounds like you have run into a firmware bug and need a sensor replaced.... we can arrange for a new one to be fitted next week that should fix this issue so if you can drop when in the area next we can take a look at it.

[2016-07-13 21:28] badvision commented on #124
I suggest having a historic branch so that any future commits don't affect the original.

[2016-07-13 22:21] TheMengzor commented on #127
And don't forget to put in in `C:\Program Files\` instead of `C:\Program Files (x86)\`

[2016-07-13 22:38] rhaleblian commented on #98
This was closed for the wrong reason.
It could only have been attributed to human error.

[2016-07-14 01:18] wopian commented on #124
@badvision the future commits to this repo are fixing the digitised code to fully match the original images.

[2016-07-14 01:29] bluengreen commented on #38
It would be really cool for all of us that know nothing of this style of programming, if there was a basic README or Wiki instructions on how to compile and run and what tools to do so.

Thanks for all the effort! Very interesting! 👍

[2016-07-14 02:28] akring commented on #127
It's quite simple,just rename the "GoToMoon" function with the new name "GoToMars".
This worked for me,and I will visit the Sun this evening,because it's too hot in daytime.

[2016-07-14 02:40] ufolux commented on #128
Because PHP is the best PL all over the world.

[2016-07-14 03:48] ShariqKhan2012 commented on #3
That's an issue that has been pointed out to us by other users as well.
To get this repaired, please send your unit to our service center. We will repair it/replace it depending on the problem with the pre-requisite being:
1. you have a valid license of the software; it should not be a pirated copy.
2. The tank has not been rooted or jailbroken, as it voids the warranty.

[2016-07-14 04:49] raoshaoquan commented on #127
Interesting ~

[2016-07-14 05:56] VhatAmI commented on #128
@Zerquix18 how about `setDestinationMoon()` or `moonVoyage()`?

[2016-07-14 06:35] ohommes commented on #38
To compile the original code, use the yaYUL compiler see http://www.ibiblio.org/apollo/yaYUL.html
The original compiler was called YUL it was named for it being ready for xmas: Yuletide. Nice xmas gift.

If you want a good programmers reference manual then use the book below. It is well written and teaches you the AGC assembler. But for all the detailed stuff, checklists and operations there is re

[2016-07-14 06:38] chrislgarry commented on #38
@bluengreen if you'd like to compile, I recommend checking out [virtual agc](https://github.com/rburkey2005/virtualagc). I will add a link to the README so anyone interested in something beyond viewing will know where to look. Thanks.

[2016-07-14 06:42] chrislgarry commented on #127
This will be resolved in [Orion](https://www.nasa.gov/exploration/systems/orion/index.html).

[2016-07-14 06:43] #127 closed

[2016-07-14 06:44] chrislgarry commented on #124
@badvision that's what the master branch is aiming for.

[2016-07-14 06:45] #126 closed

[2016-07-14 07:56] gersilex commented on #128
`goto(10)` because "moon" is enumerated as unsigned int somewhere else, to keep it simple and efficient.

[2016-07-14 09:57] Alhadis commented on #128
[There's only one language that this should've been written in](http://moonscript.org/).

[2016-07-14 11:09] ChenDongnan commented on #128
I think Swift will be a better choice

[2016-07-14 11:41] whit537 commented on #48
@chrislgarry You can also [lock issues](https://github.com/blog/1847-locking-conversations) to dampen some of the noise once a joke has worn off. :)

[2016-07-14 14:50] rmorandi commented on #128
+1

[2016-07-14 18:44] leleonam commented on #128
Java, maybe?!

[2016-07-14 20:48] wboumans commented on #3
guys, with this attitude (see almost all comments above), we'll never reach the moon

[2016-07-14 21:01] oldmud0 commented on #127
Orbital parameters of Earth are fairly similar to that of Mars so it's best to photocopy the GOTOEARTH pages and change a few numbers.

[2016-07-14 21:03] oldmud0 commented on #116
Sorry to say, but Kalman passed away about two weeks ago.

[2016-07-14 21:17] Ayanda-D commented on #128
Has to be [Erlang OTP](http://www.erlang.org/) - & having some of those interrupt service routines being carried out within concurrent erlang processes => multiple control operations taking place at the same time :)

[2016-07-14 23:00] borfast commented on #128
I think they already tried PHP for Apollo 13 but the mission didn't go too well due to some confusion over function arguments order, or something...

[2016-07-14 23:51] tjchambers commented on #128
@borfast - what I heard was it had to do with nameSPACEing - not function argument order. The function argument theory was easily discounted when they discovered who was in the left hand seat at the time of stir. Or was it the right hand seat? I any case I am sure order is irrelevant.

[2016-07-15 06:27] BrotherPhil commented on #128
Could call the function time.addTicket ("Moon"), though that may only work for routings via Satellite 2.

[2016-07-15 09:11] nitinprakash96 opened #135 "Just like NASA, I was able to perform a fake "moon landing" on my backyard. But the flag was not floating in gravity."

[2016-07-15 11:08] jayjaybillings commented on #53
Closed? Well, apologies to Matt Damon but we ran out of time.

[2016-07-15 11:52] pomoke commented on #135
run

[2016-07-15 12:47] MacRiada commented on #128
Needs a [DRAKON](https://en.wikipedia.org/wiki/DRAKON) port. Дружелюбный Русский Алгоритмический язык, Который Обеспечивает Наглядность or "friendly Russian algorithmic language that provides clarity", deveoped for the Soviet Buran reusable spacecraft programme.

[2016-07-15 13:08] armstrong-neil opened #136 "We have a serious problem"
I'm in the moon but the spaceship has no fuel, how proceed?

[2016-07-15 13:51] rkcarter commented on #136
Got any potatoes?

[2016-07-15 14:09] tibu commented on #128
the architecture should be microservice of course. http://moon/getLandingAvailability

[2016-07-16 01:50] timlindsay commented on #3
I just noticed this bug only exists in the 5 bit version. Since we'll be upgrading to the 6 bit version real soon I suggest leaving closed as a WON'T FIX.

[2016-07-16 04:26] ShariqKhan2012 commented on #3
I am on Mars for a client assignment right now. So it will be a while before I look into the issue.
Also, I note that you are using a legacy setup that we no longer actively develop.
We will however maintain backward compatibility till 31st Dec 2016. This is part of our strategy to make a streamline move towards cost-effective SpaceX components.
We advice you to upgrade your infrastructure to refl

[2016-07-16 05:30] #136 closed

[2016-07-16 05:30] #135 closed

[2016-07-16 05:30] #128 closed

[2016-07-16 05:32] chrislgarry commented on #118
What @wopian said. Thanks for the suggestion though. We may actually have more luck if we did OCR on the original scans to get digitization that way, but there are some parts that are simply washed out. It'd be much more work.

[2016-07-16 05:32] #118 closed

[2016-07-16 07:51] kriptonis commented on #135
check the dust clouds on your rover's wheels to assess if landing was indeed fake or not.
There is a distinct pattern that dust will do in near-zero gravity that is impossible to reproduce on Earth.
For documentation see examples of such pattern in Apolo 11's photos.

[2016-07-16 07:54] kriptonis commented on #94
How awesome would it be to have the emulator connected to a game engine where we could actually interact with the Apolo 11?

[2016-07-16 12:20] RubenKelevra commented on #124
Would be also great of we manage different apollo versions in different branches. Would be nice to see the diffs over time. :)

[2016-07-16 15:47] chrislgarry commented on #124
@RubenKelevra another great idea. The source is all there in Virtual AGC. We just need to pull it in. I think we should focus on getting Apollo 11 into a steady state first with most of the issues resolved. Otherwise we will have half-correct versions of all of them.

[2016-07-16 15:55] GanoNora22 opened #138 "#124"

[2016-07-16 15:55] GanoNora22 commented on #138
#138

[2016-07-16 15:56] GanoNora22 opened #139 "#138"

[2016-07-16 17:31] panarchist commented on #3
Is this happening in sandbox, or a production environment?  Engineering is saying the described behavior is impossible, it's got to be an instrumentation issue.

[2016-07-16 18:05] proudindiv opened #140 "Apollo-11 sources as Literate Programs"
I'm literating Apollo-11 for documentation, chunk and page descriptions and indexing, and memory label indexing.  So far I've been working on this early experiment for a week, and the structure and contents will change drastically as my ideas evolve.

I've started a typeset book for the Apollo-11 source in my clone at https://github.com/proudindiv/Apollo-11.  The original sources were not "files"

[2016-07-17 07:02] kaleemullah360 commented on #3
Leave it.
until they provide hardware too :)

[2016-07-17 07:16] TurkeyMan opened #142 "Patching Apollo-11! What is this!"
You can't patch the code, it's shipped! ;)
No seriously,  why?

[2016-07-17 07:25] ksHKK commented on #142
*

[2016-07-17 08:21] chrislgarry commented on #142
@TurkeyMan what we are fixing are the typos that were made when the original Apollo 11 source code was transcribed from its original paper copies to the digital format we have here.

[2016-07-17 08:23] #142 closed

[2016-07-17 08:24] #139 closed

[2016-07-17 08:24] #138 closed

[2016-07-17 08:29] TurkeyMan commented on #142
:+1:

[2016-07-17 09:53] xaccrocheur commented on #3
Your call might be recorded for quality and training purposes

[2016-07-17 20:27] BlueRaja commented on #46
For anyone who doesn't get the joke: http://www.haneycodes.net/npm-left-pad-have-we-forgotten-how-to-program/

[2016-07-18 18:47] vickz84259 commented on #3
You forgot to import apollo_11.cms...

[2016-07-18 19:44] Domminique commented on #3
let me check it out

*Regards*,

*Dominic A. Imbuga *
Blogs: http://imbuga.blogspot.co.ke  || imbugad.wordpress.com
*Fullstack Developer | Blogger*
*Github:Domminique*
*Twitter:@dominicimbuga*

*Skype:Dominic-imbuga**+254 715 180 530 | +254 734 983 442*

*" **Science and technology revolutionize our lives, but memory, tradition
and myth frame our response"*

On Mon, Jul 18, 2016 at 9:48 PM, Victor

[2016-07-18 21:47] ArtemBernatskyy opened #145 "Houston we have a problem, there 2016 women are smart now."
Houston we have a problem, there 2016 women are smart now.

[2016-07-19 00:13] wub commented on #145
What?

[2016-07-19 01:16] EnduringBeta commented on #145
Sounds like a lazy joke to me. :-1:

[2016-07-20 07:41] dreamyguy commented on #3
🚫 USER ERROR 🚫

[2016-07-20 08:17] ahmadawais commented on #3
I just solved the issue. Here's how, have a listen!
▶ 🔘──────── 00:21

[2016-07-20 08:20] #145 closed

[2016-07-21 06:25] nexteve commented on #127
Interesting ~

[2016-07-22 23:12] wozzes opened #147 "Suggestion -- Include yaYUL Compiler"
Anybody know where i can get yayul compiler???

[2016-07-23 03:14] oldmud0 commented on #147
Yes, you can get it from the [Virtual AGC download page](http://www.ibiblio.org/apollo/download.html#InstallBinary).

[2016-07-23 03:14] #147 closed

[2016-07-24 07:30] hemanth commented on #53
![](https://media.giphy.com/media/xnXcMMNDpQF4k/giphy.gif)

[2016-07-26 20:12] Pablo-Ivan commented on #3
I suggest assigning Stanley Kubrick to fix this issue.

[2016-07-28 15:28] aleen42 opened #153 "Readme of Traditional Chinese"
https://github.com/aleen42/Apollo-11

[2016-07-28 22:57] oldmud0 commented on #153
uhh... no?

[2016-07-29 01:36] aleen42 commented on #153
Oh @oldmud0  I see.

[2016-08-01 21:01] wozzes commented on #147
Thx

[2016-08-04 04:13] oldmud0 opened #158 "[Meta] Relabel issues"
Some funny stuff is labeled as "humor" and others as just "invalid." I'll close this when I finish changing the labels.

[2016-08-04 17:51] wopian opened #159 "Query about blank lines"
After checking about 10% of the CONIC_SUBROUTINES.agc file, I've noticed that the digitisation is only using empty lines on lines marked as `R0000` and ignores fully blank lines. However, outside of this file I've noticed in many places these fully empty lines have sometimes been included - the usage seems pretty inconsistent.

Which would be best to make this as accurate to the source files as po

[2016-08-04 21:18] oldmud0 commented on #159
I believe that lines that do not have a corresponding line number are not part of the source code, so they should not be included. I think the final goal here is that every line number in a file corresponds to the line number in each page, so it's a 1:1 transcription. Of course though, we leave for last the actual removal of the page numbers from the code.

[2016-08-04 21:26] chrislgarry commented on #158
Thanks. Made the label after I realized I could do so -__-

[2016-08-04 21:52] wopian commented on #153
I would suggest splitting it out into it's separate README file - i.e `README.zh_tw.md`. This would avoid cluttering the README and make it easier to expand to more translations in the future.

[github-cheat-sheet](https://github.com/tiimgreen/github-cheat-sheet) is a repo that's done a good job at supporting this.

[2016-08-05 00:49] aleen42 commented on #153
@wopian Yup, that's a good choice, and I'll give out a pull request soon.

[2016-08-05 05:22] aleen42 commented on #153
@oldmud0 @wopian @chrislgarry Simplified Chinese is almost same as the Traditional one, and I will give another pull request for it.

[2016-08-05 18:11] #153 closed

[2016-08-06 05:00] chrislgarry commented on #159
Empty lines in the original should be empty lines here. Empty lines with a number at the beginning should be empty lines with a number at the beginning. The scans are the ground truth. This could be a bit of work. Lets use the broken windows theory and just make such fixes whenever we touch a file that happens to have this issue. Once we work our way through higher priority issues, we can focus on

[2016-08-06 05:35] chrislgarry commented on #158
I took care of the rest. There were some issues marked as questions which should have been humor.

[2016-08-06 05:35] #158 closed

[2016-08-06 05:36] oldmud0 commented on #158
Oh thank you.

[2016-08-06 05:39] chrislgarry commented on #140
@proudindiv I've read what you have so far. It's actually quite interesting to read about this from your perspective. I hope you keep writing!

[2016-08-10 03:52] CrazyPython opened #165 "Continuous Integration"
We need to be able to quickly load test rockets quickly to be able to set up Travis CI.

[2016-08-10 14:40] oldmud0 commented on #165
We ran the AGC UNITTEST program and it says we have 101% coverage.

[2016-08-10 14:40] #165 closed

[2016-08-10 15:47] CrazyPython commented on #165
@oldmud0 SpaceX is willing to provide rockets for $62 million dollars. They might be able to offer a steep discount for open source projects. [pricing page](http://www.spacex.com/about/capabilities)

[2016-08-14 15:21] wopian commented on #159
@oldmud0 @chrislgarry we'll never get a 1:1 transcription.

The source code has multiple lines of code for some lines - i.e line 0120 has 01201, 012011, 01202.

[Page 1028](http://www.ibiblio.org/apollo/ScansForConversion/Comanche055/1028.jpg)
![](http://i.imgur.com/yLw81a7.png)

Other pages have duplicated line numbers - where one has code and another is 'empty'

{Page 1029](http://www.ibiblio.or

[2016-08-14 15:38] oldmud0 commented on #159
Hmm.. I guess it comes down to best judgment.

[2016-08-15 09:18] jimlawton commented on #159
Page 1028: I always assumed that these were cards that had been inserted into the source deck, and this numbering was used to avoid having to renumber subsequent cards, but I could be completely wrong about that.

The images are scans of "listings" not source code, i.e. they are one of the *outputs* of the GAP cross-assembler (along with object code, etc).

With respect to 2 lines with the same nu

[2016-08-15 12:32] rburkey2005 commented on #159
From my standpoint, question like this revolve around /criteria/, and I
admit I'm not fully clear on what your criteria for the work that's
being done are.  For example, my criteria for the original
transcriptions we did was that the binary produced by my assembler,
yaYUL, had to 100% byte-for-byte match the binaries produced by the
original project's assembler -- which as Jim says was GAP by the

[2016-08-15 14:52] oldmud0 commented on #159
If these are just GAP printouts, then where is the original source code?

[2016-08-15 15:06] jimlawton commented on #159
It was originally on punch card decks, then at some point in 1965 or so, they moved it to magnetic tapes. The actual builds for the flights were done from those mag tape libraries. I guess those mag tapes were lost a long time ago. The printouts survived because people kept them as souvenirs.

[2016-08-15 15:11] rburkey2005 commented on #159
If you're responding to what Jim Lawton and I said, perhaps I wasn't
clear.  The page images posted at VirtualAGC are scans of printouts from
GAP.  The *.agc files are the transcriptions from VirtualAGC that
represent the source-code parts of those printouts.  The original source
code existed only on cards and in tape memory banks, never in giant
printouts, and is therefore nowhere at all any long

[2016-08-16 04:52] proudindiv commented on #159
The original programmers worked mostly with the GAP printouts.  They only
went to the card decks to submit changes.  I programmed in that era with
similar assembler programs.  I don't know about the MIT programmers, but we
programmers made the changes to the card decks ourselves and submitted or
ran them ourselves.  Having another party punch the cards only adds another
layer for errors and misund

[2016-08-16 11:34] rburkey2005 commented on #159
My apologies:  I should have refreshed my memory about the WAF thing
before saying it.  That wasn't an AGC thing at all (as has been pointed
out), but was rather something that was told to me by an MSC intern,
about his experiences in 1966 working on the engineering simulations of
various burns.  To quote him, "Tedious work but it worked when we tried
it in the sim.  The most fun part was taking t

[2016-08-16 22:03] wopian commented on #159
readability, but I had no interest in multiple blank lines in a row, and
left them out.  So by /my/ criteria, if you're working to cross-check
yet once again the source code, as well as to correct the comments, and
if it still assembles 100% byte-for-byte correctly, you're doing all I
would have hoped for.

What I've been doing when cross-checking the files is: fixing typos in the comments, modify

[2016-08-16 22:52] rburkey2005 commented on #159
I'll pass your question along to Hugh Blair-Smith.  I have contact info
for a few of the other developers, but he's the only one I have any kind
of regular contact with, so that's really the best I can offer.  I'll
let you know if/when he weighs in.

It has been so many years now that I had actually forgotten why I wasn't
very keen on keeping the blank lines.  I think what it came down to is
that

[2016-08-17 01:14] rburkey2005 commented on #159
Okay, I think you'll be please with this.  Here is Hugh's answer in
full, and I will refrain from expressing further personal opinions on
the topic.  Needless to say, I suppose, the yaYUL assembler does not use
the column 1 characters Hugh mentions, and does not attempt to duplicate
any of this specific formatting, and instead applies a colorized syntax
highlighting.  Enjoy!

    One question is w

[2016-08-17 02:46] proudindiv opened #171 "Comanche055/P11.agc needs commit 944dfb9 from rburkey2005/virtualagc"
Comanche055/P11.agc needs commit 944dfb9 from rburkey2005/virtualagc for yaYUL to assemble Comanche055:  https://github.com/rburkey2005/virtualagc/commit/944dfb97d814c58e17d18d2920f2d65d01101112
The original commit in virtualagc was "jim.lawton committed on May 7, 2011: Fix indentation to use tabs."

This would fix the problems with Comanche055 that I mentioned in PR #170.
The problem was spaces u

[2016-08-17 03:03] oldmud0 commented on #171
I'm going to make a PR for changes that might need to be pulled from the VirtualAGC repo.

[2016-08-17 03:46] proudindiv commented on #159
Thanks, I was just thinking about suggesting something like that.  I had
counted characters on a line and wondered about how the 81-120 positions
were entered.  Is there a reference for pseudo op codes, such as "END" for
the end card of the deck, that affected the listing and operation of the
assembler but didn't print in the listing?

On Tue, Aug 16, 2016 at 7:14 PM, rburkey2005 <notifications@gi

[2016-08-17 11:28] rburkey2005 commented on #159
No, no formatting-related pseudo ops are supported by yaYUL.  You have to realize that there's no manual describing any of that stuff, or even some very basic aspects of the syntax of the assembly language. (At least as far as I could find out at the time.)  Nor did I have any AGC developers to ask about it until long afterward.  So most of syntax was reverse engineered by me, and only to the exte

[2016-08-17 17:26] proudindiv commented on #159
Actually, you did a great job and I'm very thankful I stumbled onto your
work.

I don't have too much at stake in the details of the formating.  Your
response
from Hugh Blair-Smith was the most wonderful.  The whole project has brought
back lots of memories for me.

I'm about to start reverse engineering the algorithms used by the code.
There's
a lot of rich stuff there, in addition to what was ne

[2016-08-17 17:29] CrazyPython commented on #159
Too many email sigs.

[2016-08-17 17:47] rburkey2005 commented on #159
Thank you, and all my trusty minions thank you (I assume). :-)

In return, it's nice to see some people interested enough once again to
spend their time working on it.  It certainly makes me feel more
enthusiastic about it than I have in a while.

-- Ron

On 08/17/2016 12:27 PM, proudindiv wrote:

[2016-08-17 17:55] indy91 commented on #159
@rburkey2005 Well if you need encouragement, we over at NASSP have been using your amazing work for years and are still working on landing it on the moon. We are very grateful we have the possibility to use the actual AGC code for our simulation. It's an immense challenge to make it work, but always very rewarding. I'm still hoping that one day Skylark and Luminary 1E become available.

[2016-08-17 18:12] rburkey2005 commented on #159
Unfortunately, nobody has ever given me the slightest hint of where
Skylark may be found.  Now as far as Luminary 1E is concerned ... I
won't promise you anything, but I will say that getting my hands on it
has been something that is near the top of my thoughts the last few
days, and I'm in the midst of making one of my periodic attempts to
advance things in that direction.  But only time will tel

[2016-08-17 21:48] pantaluna commented on #3
We can't upgrade because by our 60's semver rules the V12 contains "breaking" changes.

[2016-08-18 05:36] chrislgarry commented on #159
@rburkey2005 thanks for digging into that for us. By chance you happened to be in contact with exactly the right person to ask. @wopian according to Hugh's response, any spacing with three consecutive blank lines or less that isn't a page break, let's make sure it conforms to what Hugh mentioned: double spaces seperate logical groups of assembly commands that together perform a specific function,

[2016-08-18 05:42] chrislgarry commented on #171
@proudindiv I have merged these changes in from @oldmud0.

[2016-08-18 05:42] #171 closed

[2016-08-18 15:57] bean5 opened #173 "docker?"
Would be awesome if someone had a docker image that showed how to build and use this.

[2016-08-19 09:47] jimlawton commented on #173
See https://github.com/chrislgarry/Apollo-11/pull/174

[2016-08-21 06:56] cirosantilli commented on #8
fpga implementation in progress https://github.com/Obijuan/ACC

[2016-08-21 16:28] oldmud0 commented on #8
Who will help knit the core memory?

[2016-09-14 22:51] sirgalleto commented on #3
Did you try with `rm -rf node_modules` & `npm cache clear` & `npm install`?

[2016-09-15 07:30] humantorch commented on #3
This never would have happened when Steve Jobs was alive.

[2016-09-15 16:50] sdhar86 commented on #3
And that's why we should use docker, could have reproduced the issue easily.

[2016-09-16 11:40] qwordy commented on #74
一颗赛艇

[2016-09-16 14:56] cristianmedeiros commented on #3
works on my machine

[2016-09-17 15:33] aniruddhas commented on #3
You guys are trying to solve an issue which doesn't exist in future.
The Doctor has already solved it in past future.
In his words:
"People assume that time is a strict progression of cause to effect, but *actually* from a non-linear, non-subjective viewpoint - it's more like a big ball of wibbly wobbly... time-y wimey... stuff."

So, let's stop being geeky and go back to humour, ehh?

[2016-10-09 13:58] rburkey2005 commented on #124
I know this is quite an old topic now, but I want to correct some out-dated info I gave about it earlier.

I believe that Chris once asked me how or if we (at the Virtual AGC project) distinguish between the original comments in the AGC program code and "modern" comments we've added to it.  At the time, I told him that we didn't have any hard-and-fast way of doing it, but that modern comments tend

[2016-10-09 16:54] rburkey2005 commented on #38
Regarding my earlier comment that eventually we'd like to merge the corrections you guys have come up with back into Virtual AGC ... I don't really know what the difficulty level of doing that is, or what the mechanics of it are, but I've glanced over some of your files and no obvious problem with merging it jumped out.  I was wondering what your thoughts on the subject were:  Is it getting close

[2016-12-04 16:19] darf2k commented on #74
233333333～(You win! But don't you even know what these code means for Chinese~^O^)

[2016-12-04 16:23] darf2k commented on #40
Hahahaha~

[2016-12-29 17:28] wopian opened #190 "Proof AGC_BLOCK_TWO_SELF-CHECK"
Proof read transcribed code of [AGC_BLOCK_TWO_SELF-CHECK](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/AGC_BLOCK_TWO_SELF-CHECK.agc) against scans

Lines: 514
Page: 1394—1403

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 17:30] wopian opened #191 "Proof ALARM_AND_ABORT"
Proof read transcribed code of [ALARM_AND_ABORT](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/ALARM_AND_ABORT.agc) against scans

Lines: 231
Page: 1493—1496

Reduced quality scans can be found [here](http://www.ibiblio.org/apollo/ScansForConversion/Comanche055)

[2016-12-29 17:39] wopian opened #192 "Proof ANGLFIND"
Proof read transcribed code of [ANGLFIND](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/ANGLFIND.agc) against scans

Lines: 627
Page: 399 to 411

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 17:41] wopian opened #193 "Proof ASSEMBLY_AND_OPERATION_INFORMATION"
Proof read transcribed code of [ASSEMBLY_AND_OPERATION_INFORMATION](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/ASSEMBLY_AND_OPERATION_INFORMATION.agc) against scans

Lines: 1032
Page: 0002—0026

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 17:43] wopian opened #194 "Proof AUTOMATIC_MANEUVERS"
Proof read transcribed code of [AUTOMATIC_MANEUVERS](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/AUTOMATIC_MANEUVERS.agc) against scans

Lines: 500
Page: 1025—1036

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 17:45] wopian opened #195 "Proof CM_BODY_ATTITUDE"
Proof read transcribed code of [CM_BODY_ATTITUDE](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/CM_BODY_ATTITUDE.agc) against scans

Lines: 303
Page: 883—889

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 17:46] wopian opened #196 "Proof CM_ENTRY_DIGITAL_AUTOPILOT"
Proof read transcribed code of [CM_ENTRY_DIGITAL_AUTOPILOT](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/CM_ENTRY_DIGITAL_AUTOPILOT.agc) against scans

Lines: 1276
Page: 1063—1092

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 17:47] wopian opened #197 "Proof CONIC_SUBROUTINES"
Proof read transcribed code of [CONIC_SUBROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/CONIC_SUBROUTINES.agc) against scans

Lines: 1923
Page: 1262—1308

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 17:47] wopian opened #198 "Proof CONTRACT_AND_APPROVALS"
Proof read transcribed code of [CONTRACT_AND_APPROVALS](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/CONTRACT_AND_APPROVALS.agc) against scans

Lines: 74
Page: 0001

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 17:48] wopian opened #199 "Proof CSM_GEOMETRY"
Proof read transcribed code of [CSM_GEOMETRY](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/CSM_GEOMETRY.agc) against scans

Lines: 419
Page: 0285—0296

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 17:50] wopian opened #200 "Proof DISPLAY_INTERFACE_ROUTINES"
Proof read transcribed code of [DISPLAY_INTERFACE_ROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/DISPLAY_INTERFACE_ROUTINES.agc) against scans

Lines: 1486
Page: 1452—1484

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 17:52] wopian opened #201 "Proof DOWN-TELEMETRY_PROGRAM"
Proof read transcribed code of [DOWN-TELEMETRY_PROGRAM](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/DOWN-TELEMETRY_PROGRAM.agc) against scans

Lines: 458
Page: 1093—1102

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 17:55] wopian opened #202 "Proof DOWNLINK_LISTS"
Proof read transcribed code of [DOWNLINK_LISTS](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/DOWNLINK_LISTS.agc) against scans

Lines: 411
Page: 0170—0180

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 17:57] wopian opened #203 "Proof ENTRY_LEXICON"
Proof read transcribed code of [ENTRY_LEXICON](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/ENTRY_LEXICON.agc) against scans

Lines: 374
Page: 0837—0843

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 17:59] wopian opened #204 "Proof ERASABLE_ASSIGNMENTS"
Proof read transcribed code of [ERASABLE_ASSIGNMENTS](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/ERASABLE_ASSIGNMENTS.agc) against scans

Lines: 3786
Page: 0037—0130

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 17:59] wopian opened #205 "Proof EXECUTIVE"
Proof read transcribed code of [EXECUTIVE](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/EXECUTIVE.agc) against scans

Lines: 498
Page: 1208—1220

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:01] wopian opened #206 "Proof EXTENDED_VERBS"
Proof read transcribed code of [EXTENDED_VERBS](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/EXTENDED_VERBS.agc) against scans

Lines: 1337
Page: 0236—0267

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:02] wopian opened #207 "Proof FIXED_FIXED_CONSTANT_POOL"
Proof read transcribed code of [FIXED_FIXED_CONSTANT_POOL](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/FIXED_FIXED_CONSTANT_POOL.agc) against scans

Lines: 263
Page: 1200—1204

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:02] wopian opened #208 "Proof FRESH_START_AND_RESTART"
Proof read transcribed code of [FRESH_START_AND_RESTART](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/FRESH_START_AND_RESTART.agc) against scans

Lines: 1475
Page: 0181—0210

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:03] wopian opened #209 "Proof GIMBAL_LOCK_AVOIDANCE"
Proof read transcribed code of [GIMBAL_LOCK_AVOIDANCE](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/GIMBAL_LOCK_AVOIDANCE.agc) against scans

Lines: 100
Page: 0412—0413

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:05] wopian opened #210 "Proof GROUND_TRACKING_DETERMINATION_PROGRAM"
Proof read transcribed code of [GROUND_TRACKING_DETERMINATION_PROGRAM](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/GROUND_TRACKING_DETERMINATION_PROGRAM.agc) against scans

Lines: 205
Page: 0456—0459

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:10] wopian opened #211 "Proof IMU_CALIBRATION_AND_ALIGNMENT"
Proof read transcribed code of [IMU_CALIBRATION_AND_ALIGNMENT](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/IMU_CALIBRATION_AND_ALIGNMENT.agc) against scans

Lines: 1400
Page: 0423—0455

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:11] wopian opened #212 "Proof IMU_COMPENSATION_PACKAGE"
Proof read transcribed code of [IMU_COMPENSATION_PACKAGE](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/IMU_COMPENSATION_PACKAGE.agc) against scans

Lines: 371
Page: 0297—0306

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:12] wopian opened #213 "Proof IMU_MODE_SWITCHING_ROUTINES"
Proof read transcribed code of [IMU_MODE_SWITCHING_ROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/IMU_MODE_SWITCHING_ROUTINES.agc) against scans

Lines: 1069
Page: 1420—1448

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:13] wopian opened #214 "Proof INFLIGHT_ALIGNMENT_ROUTINES"
Proof read transcribed code of [INFLIGHT_ALIGNMENT_ROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/INFLIGHT_ALIGNMENT_ROUTINES.agc) against scans

Lines: 305
Page: 1355—1364

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:14] wopian opened #215 "Proof INTEGRATION_INITIALIZATION"
Proof read transcribed code of [INTEGRATION_INITIALIZATION](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/INTEGRATION_INITIALIZATION.agc) against scans

Lines: 1183
Page: 1309—1333

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:14] wopian opened #216 "Proof INTER-BANK_COMMUNICATION"
Proof read transcribed code of [INTER-BANK_COMMUNICATION](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/INTER-BANK_COMMUNICATION.agc) against scans

Lines: 184
Page: 1183—1106

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:15] wopian opened #217 "Proof INTERPRETER"
Proof read transcribed code of [INTERPRETER](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/INTERPRETER.agc) against scans

Lines: 3060
Page: 1107—1199

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:16] wopian opened #218 "Proof INTERPRETIVE_CONSTANTS"
Proof read transcribed code of [INTERPRETIVE_CONSTANTS](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/INTERPRETIVE_CONSTANTS.agc) against scans

Lines: 87
Page: 1205—1206

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:17] wopian opened #219 "Proof INTERRUPT_LEAD_INS"
Proof read transcribed code of [INTERRUPT_LEAD_INS](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/INTERRUPT_LEAD_INS.agc) against scans

Lines: 129
Page: 0131—0132

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:17] wopian opened #220 "Proof JET_SELECTION_LOGIC"
Proof read transcribed code of [JET_SELECTION_LOGIC](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/JET_SELECTION_LOGIC.agc) against scans

Lines: 933
Page: 1039—1062

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:18] wopian opened #221 "Proof KALCMANU_STEERING"
Proof read transcribed code of [KALCMANU_STEERING](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/KALCMANU_STEERING.agc) against scans

Lines: 266
Page: 0414—0419

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:20] wopian opened #222 "Proof KEYRUPT_UPRUPT"
Proof read transcribed code of [KEYRUPT_UPRUPT](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/KEYRUPT_UPRUPT.agc) against scans

Lines: 137
Page: 1449—1451

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:20] wopian opened #223 "Proof LATITUDE_LONGITUDE_SUBROUTINES"
Proof read transcribed code of [LATITUDE_LONGITUDE_SUBROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/LATITUDE_LONGITUDE_SUBROUTINES.agc) against scans

Lines: 319
Page: 1236—1242

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:21] wopian opened #224 "Proof LUNAR_AND_SOLAR_EPHEMERIDES_SUBROUTINES"
Proof read transcribed code of [LUNAR_AND_SOLAR_EPHEMERIDES_SUBROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/LUNAR_AND_SOLAR_EPHEMERIDES_SUBROUTINES.agc) against scans

Lines: 212
Page: 0785—0788

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:22] wopian opened #225 "Proof LUNAR_LANDMARK_SELECTION_FOR_CM"
Proof read transcribed code of [LUNAR_LANDMARK_SELECTION_FOR_CM](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/LUNAR_LANDMARK_SELECTION_FOR_CM.agc) against scans

Lines: 35
Page: 936

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2016-12-29 18:25] wopian opened #226 "Proof MAIN"
Proof read transcribed code of [MAIN](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/MAIN.agc) for any errors/page numbering

Lines: 169
Page: N/A

[2017-01-03 18:26] wopian opened #227 "Proof MEASUREMENT_INCORPORATION"
Proof read transcribed code of [MEASUREMENT_INCORPORATION](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/MEASUREMENT_INCORPORATION.agc) against scans

Lines: 504
Page: 1252—1261

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:27] wopian opened #228 "Proof MYSUBS"
Proof read transcribed code of [MYSUBS](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/MYSUBS.agc) against scans

Lines: 93
Page: 0999—1000

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:28] wopian opened #229 "Proof ORBITAL_INTEGRATION"
Proof read transcribed code of [ORBITAL_INTEGRATION](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/ORBITAL_INTEGRATION.agc) against scans

Lines: 950
Page: 1334—1354

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:28] wopian opened #230 "Proof P11"
Proof read transcribed code of [P11](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/P11.agc) against scans

Lines: 924
Page: 0533—0550

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:29] wopian opened #231 "Proof P20-P25"
Proof read transcribed code of [P20-P25](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/P20-P25.agc) against scans

Lines: 3530
Page: 0562—0634

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:30] wopian opened #232 "Proof P30-P37"
Proof read transcribed code of [P30-P37](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/P30-P37.agc) against scans

Lines: 630
Page: 0635—0648

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:30] wopian opened #233 "Proof P32-P33_P72-P73"
Proof read transcribed code of [P32-P33_P72-P73](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/P32-P33_P72-P73.agc) against scans

Lines: 1409
Page: 0649—0683

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:31] wopian opened #234 "Proof P34-35_P74-75"
Proof read transcribed code of [P34-35_P74-75](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/P34-35_P74-75.agc) against scans

Lines: 1740
Page: 0460—0504

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:32] wopian opened #235 "Proof P37_P70"
Proof read transcribed code of [P37_P70](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/P37_P70.agc) against scans

Lines: 1951
Page: 0890—0933

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:32] wopian opened #236 "Proof P40-P47"
Proof read transcribed code of [P40-P47](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/P40-P47.agc) against scans

Lines: 2430
Page: 0684—0736

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:33] wopian opened #237 "Proof P51-P53"
Proof read transcribed code of [P51-P53](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/P51-P53.agc) against scans

Lines: 2214
Page: 0737—0784

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:34] wopian opened #238 "Proof P61-P67"
Proof read transcribed code of [P61-P67](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/P61-P67.agc) against scans

Lines: 1226
Page: 0789—0818

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:34] wopian opened #239 "Proof P76"
Proof read transcribed code of [P76](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/P76.agc) against scans

Lines: 163
Page: 0511—0513

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:35] wopian opened #240 "Proof PHASE_TABLE_MAINTENANCE"
Proof read transcribed code of [PHASE_TABLE_MAINTENANCE](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/PHASE_TABLE_MAINTENANCE.agc) against scans

Lines: 407
Page: 1404—1413

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:35] wopian opened #241 "Proof PINBALL_GAME_BUTTONS_AND_LIGHTS"
Proof read transcribed code of [PINBALL_GAME_BUTTONS_AND_LIGHTS](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/PINBALL_GAME_BUTTONS_AND_LIGHTS.agc) against scans

Lines: 3782
Page: 0307—0389

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:36] wopian opened #242 "Proof PINBALL_NOUN_TABLES"
Proof read transcribed code of [PINBALL_NOUN_TABLES](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/PINBALL_NOUN_TABLES.agc) against scans

Lines: 868
Page: 0268—0284

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:36] wopian opened #243 "Proof PLANETARY_INERTIAL_ORIENTATION"
Proof read transcribed code of [PLANETARY_INERTIAL_ORIENTATION](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/PLANETARY_INERTIAL_ORIENTATION.agc) against scans

Lines: 391
Page: 1243—1251

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:37] wopian opened #244 "Proof POWERED_FLIGHT_SUBROUTINES"
Proof read transcribed code of [POWERED_FLIGHT_SUBROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/POWERED_FLIGHT_SUBROUTINES.agc) against scans

Lines: 365
Page: 1365—1372

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:38] wopian opened #245 "Proof R30"
Proof read transcribed code of [R30](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/R30.agc) against scans

Lines: 491
Page: 0514—0524

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:38] wopian opened #246 "Proof R31"
Proof read transcribed code of [R31](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/R31.agc) against scans

Lines: 291
Page: 0505—0510

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:39] wopian opened #247 "Proof R60_62"
Proof read transcribed code of [R60_62](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/R60_62.agc) against scans

Lines: 388
Page: 0390—0398

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:39] wopian opened #248 "Proof RCS-CSM_DAP_EXECUTIVE_PROGRAMS"
Proof read transcribed code of [RCS-CSM_DAP_EXECUTIVE_PROGRAMS](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/RCS-CSM_DAP_EXECUTIVE_PROGRAMS.agc) against scans

Lines: 86
Page: 1037—1038

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:40] wopian opened #249 "Proof RCS-CSM_DIGITAL_AUTOPILOT"
Proof read transcribed code of [RCS-CSM_DIGITAL_AUTOPILOT](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/RCS-CSM_DIGITAL_AUTOPILOT.agc) against scans

Lines: 977
Page: 1002—1024

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:41] wopian opened #250 "Proof REENTRY_CONTROL"
Proof read transcribed code of [REENTRY_CONTROL](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/REENTRY_CONTROL.agc) against scans

Lines: 1610
Page: 0844—0882

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:41] wopian opened #251 "Proof RESTARTS_ROUTINE"
Proof read transcribed code of [RESTARTS_ROUTINE](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/RESTARTS_ROUTINE.agc) against scans

Lines: 336
Page: 1414—1419

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:42] wopian opened #252 "Proof RESTART_TABLES"
Proof read transcribed code of [RESTART_TABLES](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/RESTART_TABLES.agc) against scans

Lines: 559
Page: 0211—0221

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:43] wopian opened #253 "Proof RT8_OP_CODES"
Proof read transcribed code of [RT8_OP_CODES](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/RT8_OP_CODES.agc) against scans

Lines: 356
Page: 1508—1516

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:44] wopian opened #254 "Proof S-BAND_ANTENNA_FOR_CM"
Proof read transcribed code of [S-BAND_ANTENNA_FOR_CM](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/S-BAND_ANTENNA_FOR_CM.agc) against scans

Lines: 130
Page: 0934—0935

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:45] wopian opened #255 "Proof SERVICER207"
Proof read transcribed code of [SERVICER207](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/SERVICER207.agc) against scans

Lines: 805
Page: 0819—0836

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:45] wopian opened #256 "Proof SERVICE_ROUTINES"
Proof read transcribed code of [SERVICE_ROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/SERVICE_ROUTINES.agc) against scans

Lines: 272
Page: 1485—1492

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:46] wopian opened #257 "Proof SINGLE_PRECISION_SUBROUTINES"
Proof read transcribed code of [SINGLE_PRECISION_SUBROUTINES](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/SINGLE_PRECISION_SUBROUTINES.agc) against scans

Lines: 75
Page: 1207

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:46] wopian opened #258 "Proof STABLE_ORBIT"
Proof read transcribed code of [STABLE_ORBIT](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/STABLE_ORBIT.agc) against scans

Lines: 429
Page: 0525—0532

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:47] wopian opened #259 "Proof STAR_TABLES"
Proof read transcribed code of [STAR_TABLES](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/STAR_TABLES.agc) against scans

Lines: 194
Page: 1389—1393

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:47] wopian opened #260 "Proof SXTMARK"
Proof read transcribed code of [SXTMARK](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/SXTMARK.agc) against scans

Lines: 703
Page: 0222—0235

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:48] wopian opened #261 "Proof SYSTEM_TEST_STANDARD_LEAD_INS"
Proof read transcribed code of [SYSTEM_TEST_STANDARD_LEAD_INS](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/SYSTEM_TEST_STANDARD_LEAD_INS.agc) against scans

Lines: 148
Page: 0420—0422

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:49] wopian opened #262 "Proof T4RUPT_PROGRAM"
Proof read transcribed code of [T4RUPT_PROGRAM](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/T4RUPT_PROGRAM.agc) against scans

Lines: 1468
Page: 0133—0169

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:50] wopian opened #263 "Proof TAGS_FOR_RELATIVE_SETLOC"
Proof read transcribed code of [TAGS_FOR_RELATIVE_SETLOC](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/TAGS_FOR_RELATIVE_SETLOC.agc) against scans

Lines: 437
Page: 0027—0036

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:50] wopian opened #264 "Proof TIME_OF_FREE_FALL"
Proof read transcribed code of [TIME_OF_FREE_FALL](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/TIME_OF_FREE_FALL.agc) against scans

Lines: 711
Page: 1373—1388

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:51] wopian opened #265 "Proof TPI_SEARCH"
Proof read transcribed code of [TPI_SEARCH](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/TPI_SEARCH.agc) against scans

Lines: 558
Page: 0551—0561

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:51] wopian opened #266 "Proof TVCDAPS"
Proof read transcribed code of [TVCDAPS](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/TVCDAPS.agc) against scans

Lines: 782
Page: 0961—0978

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:51] wopian opened #267 "Proof TVCEXECUTIVE"
Proof read transcribed code of [TVCEXECUTIVE](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/TVCEXECUTIVE.agc) against scans

Lines: 274
Page: 0945—0950

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:52] wopian opened #268 "Proof TVCINITIALIZE"
Proof read transcribed code of [TVCINITIALIZE](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/TVCINITIALIZE.agc) against scans

Lines: 415
Page: 0936—0944

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:52] wopian opened #269 "Proof TVCMASSPROP"
Proof read transcribed code of [TVCMASSPROP](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/TVCMASSPROP.agc) against scans

Lines: 240
Page: 0951—0955

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:53] wopian opened #270 "Proof TVCRESTARTS"
Proof read transcribed code of [TVCRESTARTS](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/TVCRESTARTS.agc) against scans

Lines: 272
Page: 0956—0960

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:54] wopian opened #271 "Proof TVCROLLDAP"
Proof read transcribed code of [TVCROLLDAP](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/TVCROLLDAP.agc) against scans

Lines: 618
Page: 0984—0998

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:54] wopian opened #272 "Proof TVCSTROKETEST"
Proof read transcribed code of [TVCSTROKETEST](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/TVCSTROKETEST.agc) against scans

Lines: 262
Page: 0979—0983

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:55] wopian opened #273 "Proof UPDATE_PROGRAM"
Proof read transcribed code of [UPDATE_PROGRAM](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/UPDATE_PROGRAM.agc) against scans

Lines: 555
Page: 1497—1507

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 18:55] wopian opened #274 "Proof WAITLIST"
Proof read transcribed code of [WAITLIST](//github.com/chrislgarry/Apollo-11/blob/master/Comanche055/WAITLIST.agc) against scans

Lines: 551
Page: 1221—1235

Reduced quality scans can be found [here][1]

[1]://ibiblio.org/apollo/ScansForConversion/Comanche055

[2017-01-03 20:18] #257 closed

[2017-01-24 14:49] brossow commented on #3
Unless someone can point to the specific user story in the functional design document that proves this is not working as intended, this should be considered a billable change request. Please submit this to the internal review board for discussion at next month's meeting.

[2017-01-25 21:12] abdulhaleembaram opened #276 "verify account"
I like.

[2017-01-25 21:12] abdulhaleembaram commented on #276
I like

[2017-01-25 22:21] #276 closed

[2017-02-05 23:28] timlindsay commented on #3
if we split the tank and stirrer into separate micro-services and implement some sort of ESB, then at least we can deal with faults in isolation. I highly recommend [flavour of the day] hosting service, in my experience they have been A1 and their 24hr support is awesome.

[2017-02-14 10:14] #228 closed

[2017-02-14 10:21] #248 closed

[2017-02-15 17:06] #218 closed

[2017-02-15 17:18] #209 closed

[2017-02-16 20:35] #225 closed

[2017-02-22 04:33] #198 closed

[2017-03-05 17:33] stridebird opened #285 "Instructions for contributors"

[2017-03-05 18:14] wopian commented on #285
Will be added in https://github.com/chrislgarry/Apollo-11/pull/278

[2017-03-05 18:14] #285 closed

[2017-03-23 13:53] aleen42 opened #286 "A flat badge for NASA"
Here is [a repository](https://github.com/aleen42/badges) for making badges more acceptable in documenting, and I hope that the flat badge can be used in such an awesome project.

[![nasa](https://rawgit.com/aleen42/badges/master/src/nasa.svg)](https://rawgit.com/aleen42/badges/master/src/nasa.svg)

[2017-03-24 23:58] wopian commented on #286
@chrislgarry thoughts? NASA badge has the potential of the project being mistaken as an official NASA project - although it's on code.nasa.gov as a "NASA Open Source Software Project" and you're an intern there, so I have no idea where this project stands ¯\_(ツ)_/¯

@aleen42 the logo on the badge is horizontally squished:
![](http://i.imgur.com/O2pX6D6.png)

[2017-03-25 00:36] chrislgarry commented on #286
@aleen42 it looks great! @wopian this is on code.nasa.gov? Awesome! "NASA content used in a factual manner that does not imply endorsement may be used without needing explicit permission" :
https://www.nasa.gov/multimedia/guidelines/index.html. It's a little gray. Let's pull it in for now and I'll ask them. I don't think it'll be an issue but if it is, we just remove the logo.

[2017-03-25 00:41] chrislgarry commented on #286
Let's unsquish it though. @aleen42 make sure you're using media material directly from NASA. They have high quality svg available. I can't find the logo kit but I found this: https://pmm.nasa.gov/science-team/resources/nasa-logo

[2017-03-25 00:42] chrislgarry commented on #286
@wopian thanks for the help.

[2017-03-25 02:03] aleen42 commented on #286
@wopian @chrislgarry  Check the newest one, and it has been unsquished.

[2017-03-26 14:42] aleen42 commented on #286
Here is a large picture for checking details. ![2017-03-26_224136](https://cloud.githubusercontent.com/assets/9573300/24332223/725e5654-1275-11e7-9c83-c2383e2daef8.jpg)

[2017-03-26 17:38] chrislgarry commented on #286
@aleen42 Added! Is there a way to add it to the repo description as well? If you have suggestions about where to add the badge let me know, otherwise this can be closed. Thank you!

[2017-03-27 01:40] aleen42 commented on #286
@chrislgarry How about adding it in a single line following the title?

Apollo-11
=========

[![nasa](https://rawgit.com/aleen42/badges/master/src/nasa.svg)]()

*Available in: [English][EN], [简体中文][ZH_CN], [正體中文][ZH_TW].*

[2017-03-27 02:29] #286 closed

[2017-03-28 03:12] chrislgarry opened #287 "Clicking on NASA badge redirects to GitHub 404 page"
I'm thinking either remove the link or have it link to code.nasa.gov? However, that may be a tad redundant. Perhaps a link to a NASA page for the Apollo missions? Lets discuss. @wopian @aleen42 @oldmud0

[2017-03-28 03:37] wopian commented on #287
Either making it a non-link image or linking to [this nasa.gov](https://www.nasa.gov/mission_pages/apollo/missions/apollo11.html) page would be 👍

[2017-03-28 04:42] chrislgarry commented on #287
I think https://www.nasa.gov/mission_pages/apollo/missions/apollo11.html is good. Lets see what others have to say.

[2017-03-28 07:27] aleen42 commented on #287
@wopian @chrislgarry I also think that it's better to redirect to the original project site: https://www.nasa.gov/mission_pages/apollo/missions/apollo11.html.

[2017-03-28 18:47] oldmud0 commented on #287
Yeah I was intending to report that but forgot to :/

Hmm, I originally wanted to link to the code.nasa.gov site but I see your line of reasoning since it'll just link back here. However you can already look up info about the Apollo 11 mission in Wikipedia or elsewhere, so maybe it would be the best idea to link to code.nasa.gov since it proves that NASA really does "endorse" the project and that

[2017-04-03 05:09] amin007 commented on #286
Good. Cdn?

[2017-04-03 08:31] aleen42 commented on #286
@amin007, badges are not stored on CDN

[2017-04-03 16:19] Silmar commented on #3
There is a plugin for jQuery that fixes it. Google4it.

[2017-04-03 21:32] wopian commented on #286
Ah yeah, should've been using the production URL instead of the development URL of RawGit which uses StackPath's CDN.

[2017-04-04 01:24] aleen42 commented on #286
@wopian great.

[2017-04-05 11:11] 1337ninja commented on #3
And that's why we have not sent anyone to the moon for 47 years! Please use upcoming Android O which comes with blazing vibration support for stirring ([android.os.Vibrator.vibrate()](https://developer.android.com/reference/android/os/Vibrator.html#vibrate(long)))

[2017-04-05 11:35] orcaman commented on #3
I think it's time we re-write this node.js code in golang.

[2017-04-09 22:10] #287 closed

[2017-04-09 22:11] wopian commented on #287
General consensus was in support for the Apollo 11 mission page 👍

[2017-04-10 22:53] oldmud0 commented on #287
But, what about my argument for code.nasa.gov?

[2017-04-17 10:28] chrislgarry commented on #287
I agree it does give us credibility, but code.nasa.gov will just link users
back to this repo. So for reputation it is great but in terms of usefulness
for users it's not helpful I think. The readme is for understanding the
project, so the apollo missions page makes sense.

On Tue, Apr 11, 2017 at 7:53 oldmud0 <notifications@github.com> wrote:

But, what about my argument for code.nasa.gov?

—
You

[2017-04-30 05:08] #272 closed

[2017-04-30 12:09] Feliix42 commented on #259
I just proof read this section. As far as I can tell, the transcript is correct.

[2017-04-30 19:51] wopian commented on #259
Thanks 👌

[2017-04-30 19:51] #259 closed

[2017-05-01 06:41] #216 closed

[2017-05-01 16:34] Feliix42 commented on #258
I'm currently working on this one. But the question is: Is it `GOTOPOOH` (7 occurrences throughout the repository) or `GOTOP00H` (199 occurrences throughout the repository)?

[2017-05-02 01:06] #246 closed

[2017-05-02 11:23] victorleblais commented on #258
@Feliix42 I'm pretty sure it's `GOTOPOOH`.

If you look closely, the O is wider and more "square-shaped" than a zero. Compare `GOTO` and any number such as `00748` (on page 527). If needed, I can provide a close-up comparison of both characters.

[2017-05-02 11:38] Feliix42 commented on #258
This is exactly what I thought, but apparently all previous readers thought that it's `GOTOP00H` (~200 occurrences vs. 7).

So what now? One huge PR that fixes this?

[2017-05-03 11:35] victorleblais commented on #258
I guess. Most (if not all?) occurences of `GOTOP00H` are there since the initial commits. It's very likely it's an error from the OCR since both characters are incredibly similar to one another.

I've cloned the commit [dc4ea67](https://github.com/chrislgarry/Apollo-11/tree/dc4ea6735c464608d704fa183f3e3d08b013c42f), one of the earliest ones, and with a quick cat/grep, there's 180+ lines containing

[2017-05-03 15:03] wopian commented on #258
It's supposed to be `POOH`. It was fixed late last year in [Virtual AGC](https://github.com/virtualagc/virtualagc/blob/58aa21b8621ca7d9eb162729d7f74b613e900992/LUM99R2/P30%2CP37.agc#L16).

`VNP00H` is another that should be `VNPOOH` (well everything `**P00H`)

[2017-05-03 23:06] #258 closed

[2017-05-04 08:57] Feliix42 commented on #258
So are we opening another issue for the `**P00H`-> `**POOH` thing? (I would have to fix it for `STABLE_ORBIT.agc` too, I guess).

[2017-05-04 09:43] Dimmerworld opened #295 "Spaceship won't power on."
Trying to get to moon for a business meeting and the code is throwing the error "322 - Mainframe missing", any idea?

[2017-05-04 09:45] Dimmerworld commented on #295
Someone already did my joke :(

[2017-05-04 09:45] #295 closed

[2017-05-10 20:00] #191 closed

[2017-06-06 03:52] chrislgarry commented on #38
@rburkey2005 This is essentially an open source project now, and therefore accreditation is implicit in their activity in this repo as with most OSS. Perhaps you can simply make a note/link that you have integrated work from this repository. @wopian @oldmud0 thoughts? So far we have closed 41 issues related to enhancements/corrections.

[2017-06-06 04:48] oldmud0 commented on #38
@chrislgarry @rburkey2005 Well, the fact that the source's license is "public domain" somewhat complicates things. As you know, the phrase "public domain" is legally tricky as some countries do not even recognize that it means "no copyright at all." As we have not taken any CLA from contributors, it is difficult to determine whether or not the contributors wished to ultimately be attributed for th

[2017-06-06 06:23] wopian commented on #38
If the git trees are [merged](https://stackoverflow.com/a/10548919), all the contributions from either side would remain.

[2017-06-06 06:32] chrislgarry commented on #38
@wopian are you referring to --allow-unrelated-histories flag? Would that interleave our two histories? If it doesnt interfere with them reviewing their own history and tracking down changes internally within the VirtualAGC project, this is a good idea. Otherwise, it could add noise to their project with little benefit.

[2017-06-19 11:00] #261 closed

[2017-07-13 00:07] lgeurts commented on #295
Still funny :).

[2017-07-20 05:14] chrislgarry commented on #295
@Dimmerworld Apollo 11 has been deprecated. Sorry for the inconvenience.

[2017-07-20 09:16] amin007 commented on #295
Meeting at where?

[2017-10-31 23:16] #270 closed

[2017-11-15 17:53] Inari-Whitebear commented on #269
So I was going to help out with this, but I'm really confused on how this works. It says tab indentation and tab-size 8, but when I do that, stuff doesn't line up..

Like here: https://github.com/chrislgarry/Apollo-11/blob/master/Comanche055/TVCMASSPROP.agc#L36

In the file http://www.ibiblio.org/apollo/ScansForConversion/Comanche055/0951.jpg the ":" two lines above that lines up with the space af

[2017-11-15 23:40] wopian commented on #269
The 8 tab width is for the alignment of the assembly code. The comments are (annoyingly) rarely correctly aligned by tabs.

For example, it needs 5 spaces instead:

![](https://i.imgur.com/UiMSbIr.png)

[2017-11-16 15:46] Inari-Whitebear commented on #269
Ah, I see ^^ Thanks

[2017-11-24 14:48] amin007 opened #305 "Make translate in malay language?"

[2017-11-24 17:09] oldmud0 commented on #305
Sorry, I don't know anyone who knows Malay.

[2017-11-28 01:06] amin007 commented on #305
ok. :(

[2017-12-06 05:15] chrislgarry commented on #305
@amin007 If you know somebody who can translate, we would be very happy. Please recommend them! Thank you.

[2017-12-06 06:23] johnhigginsavila commented on #305
Does any one already translate this to Filipino language?

On Wed, Dec 6, 2017 at 12:15 PM, Chris Garry <notifications@github.com>
wrote:

[2018-03-03 20:24] #250 closed

[2018-03-10 12:40] #219 closed

[2018-03-10 12:40] #221 closed

[2018-03-10 23:47] #222 closed

[2018-03-11 19:19] dwiyatci commented on #226
@wopian Which are the corresponding scans for this one?

[2018-03-11 23:05] oldmud0 commented on #226
There are no scans for this file; it is a meta-file. I will close this since there isn't much to proofread here, except maybe the page numbers.

[2018-03-11 23:19] wopian commented on #226
@dwiyatci just a general proof reading of the comments/file references

[2018-03-13 10:31] chrislgarry commented on #226
This is a header file made by virtualAGC folks to compile the individual source files for their project. The comments near each include statement were just an index for them to know which physical pages the source files corresponded to.

This was not in the AGC original code, however as an index for the source code, it is valuable. We should rename this file to something like Comanche055_Index.md,

[2018-03-14 15:48] chrislgarry opened #320 "Add links to original scans in CONTRIBUTING.md"
We need to add links to the original scans in contributing.md and mention that any commits should be checked against those scans before making a PR. Example of confused contributor: https://github.com/chrislgarry/Apollo-11/pull/319

[2018-03-14 16:21] ameerthehacker commented on #320
@chrislgarry if you dont mind shall i take this issue and if so it would be of hreat help if you can tell what are the scans to be linked

[2018-03-14 16:30] chrislgarry commented on #320
Sure that’d be great! In the README.md, you will see two links in the
description for all of the images for Comanche and Luminary pages. We just
want to include those links in CONTRIBUTING.md with a note saying before
you make a PR, please make sure your changes are consistent with the
original AGC printouts. Thanks!

On Thu, Mar 15, 2018 at 1:22 Ameer Jhan <notifications@github.com> wrote:

[2018-03-14 16:50] ameerthehacker commented on #320
Thanks @chrislgarry i will start working on it right away

[2018-03-14 23:25] oldmud0 commented on #320
Closed by 87610c5e527b977541b73e95e7cb9e659d04bdeb

[2018-03-14 23:25] #320 closed

[2018-03-23 02:05] #256 closed

[2018-03-23 02:07] #254 closed

[2018-03-23 02:08] #224 closed

[2018-03-23 02:22] #207 closed

[2018-03-23 03:18] #226 closed

[2018-03-23 05:13] chrislgarry commented on #267
Thanks @Gaboso

[2018-03-23 05:13] #267 closed

[2018-03-23 12:52] #239 closed

[2018-03-27 11:47] keller0 commented on #273
![p2](https://user-images.githubusercontent.com/19371712/37963935-648b34b4-31f2-11e8-961f-179467c2b477.png)
It seems like a print error,is that right?
I changed that to:
![p4](https://user-images.githubusercontent.com/19371712/37965181-cd176580-31f6-11e8-8587-b2083f39bf40.png)
Like [code in Luminary099/UPDATE_PROGRAM.agc](https://github.com/chrislgarry/Apollo-11/blob/master/Luminary099/UPDATE_PROG

[2018-03-28 04:17] amin007 commented on #305
@chrislgarry I can offer myself if no one else is interested

[2018-03-28 09:39] dwiyatci commented on #269
@Inari-Whitebear Have you been working on this? If not, may I take over this one? ^^

[2018-03-28 09:43] Inari-Whitebear commented on #269
I had a bit, but found the code part formatting confusing to proofread/adjust, and didn't have as much time for it. So feel free to do it.

[2018-04-02 10:19] #210 closed

[2018-04-02 10:21] #273 closed

[2018-04-02 14:27] keller0 commented on #251
#327

[2018-04-11 05:16] alhazmy13 commented on #190
I'll start working on this

[2018-04-21 15:51] #190 closed

[2018-04-21 15:53] wopian commented on #193
Closed by #289

[2018-04-21 15:56] wopian commented on #124
Closing as its part of what the many proofing issues tracked in the [Comanche055] milestone are doing 👍

[Comanche055]:https://github.com/chrislgarry/Apollo-11/milestone/1

[2018-04-21 15:56] #124 closed

[2018-04-23 14:32] #251 closed

[2018-04-25 01:03] danialhx commented on #305
Hi, still need a Malay translator?

[2018-04-25 08:58] chrislgarry commented on #305
@danialhx sure! Thatd be great :)

[2018-05-01 14:55] #269 closed

[2018-05-09 13:31] brave-orange commented on #127
good idea

[2018-05-25 19:30] #194 closed

[2018-05-25 19:37] #199 closed

[2018-05-28 02:05] #274 closed

[2018-05-28 13:42] #192 closed

[2018-05-28 13:43] #195 closed

[2018-05-31 16:10] #159 closed

[2018-06-09 10:03] #202 closed

[2018-07-18 21:58] #193 closed

[2018-07-18 22:08] #196 closed

[2018-07-18 22:10] #212 closed

[2018-08-20 18:07] wasquared9 commented on #305
Umm, I don't know if anyone knows, but google translate does Malay. you might be able to just copy and paste to it.

[2018-09-05 17:50] #268 closed

[2018-09-24 13:05] RandomGuyDTB commented on #240
Proofread page 1404, looks good to me but I made a pull request for a possible error in transcription.

[2018-09-24 14:33] RandomGuyDTB commented on #240
Proofread 1406, added another pull request for my corrections.

[2018-10-05 15:46] lorenzonotaro opened #353 "Include an Italian readme file"

[2018-10-09 08:16] #205 closed

[2018-10-11 01:50] #353 closed

[2018-10-19 14:31] donquxiote commented on #227
hey @wopian if this is still available, I'd like to take it and do the proof reading.

[2018-10-19 14:38] wopian commented on #227
@donquxiote it's still available :+1:

[2018-10-23 08:35] #263 closed

[2018-11-13 16:12] #227 closed

[2018-11-14 15:18] Dr-LGY opened #361 "555"

[2018-11-14 16:53] wopian commented on #361
?

[2018-11-14 16:53] #361 closed

[2018-12-02 21:42] brianmay commented on #3
Why hasn't anybody submitted a PR to fix this issue yet?

[2019-01-10 03:39] #197 closed

[2019-01-25 03:32] #245 closed

[2019-01-28 02:21] chrislgarry commented on #53
Reopening to reflect that Matt Damon is indeed still on Mars.

[2019-01-30 14:39] ghost opened #373 "Extension Pack for locating and saving Tony Stark!!"
Please review ASAP! Thanos is getting away with all this.

[2019-02-03 10:37] Lukeade815 commented on #373
first man 2

[2019-02-03 10:37] Lukeade815 commented on #373
sECOND MAN

[2019-02-03 13:27] #373 closed, assigned to nobody

[2019-02-05 15:18] LuisAlejandro commented on #53
This bug has been hijacked by Jimmy Kimmel.

[2019-02-12 23:03] #253 closed

[2019-03-26 23:19] j-degreef commented on #3
Who ?

[2019-03-27 16:10] #252 closed

[2019-04-15 20:30] #200 closed

[2019-04-21 21:50] dwiyatci commented on #201
I'm taking this one. 🙇🏻

[2019-04-22 16:20] dwiyatci commented on #203
I'm taking this one. 🙇🏻

[2019-04-23 18:38] dwiyatci commented on #223
I'm taking this one. 🙇🏻

[2019-04-24 18:17] dwiyatci commented on #240
@RandomGuyDTB Are you planning to finish this? Or may I take over from pp. 1409-1413? :)

[2019-04-25 10:19] RandomGuyDTB commented on #240
Yeah, got sidetracked and forgot about this. Go ahead, maybe when school gets out I'll start helping again. Thanks.

[2019-04-25 18:04] dwiyatci commented on #243
I'm taking this one. 🙇🏻

[2019-04-27 08:40] dwiyatci commented on #244
I'm taking this one. 🙇🏻

[2019-04-27 09:07] dwiyatci commented on #247
I'm taking this one. 🙇🏻

[2019-04-28 08:54] dwiyatci commented on #265
I'm taking this one. 🙇🏻

[2019-04-28 09:09] dwiyatci commented on #220
I'm taking this one. 🙇🏻

[2019-04-30 14:24] dwiyatci commented on #229
I'm taking this one. 🙇🏻

[2019-05-01 09:05] dwiyatci commented on #230
I'm taking this one. 🙇🏻

[2019-05-01 09:55] dwiyatci commented on #232
I'm taking this one. 🙇🏻

[2019-05-02 14:04] #201 closed

[2019-05-02 14:06] #203 closed

[2019-05-02 14:11] #223 closed

[2019-05-02 14:13] #240 closed

[2019-05-02 19:31] dwiyatci commented on #242
I'm taking this one. 🙇🏻

[2019-05-03 19:04] dwiyatci commented on #249
I'm taking this one. 🙇🏻

[2019-05-04 07:40] dwiyatci commented on #255
I'm taking this one. 🙇🏻

[2019-05-05 07:57] dwiyatci commented on #260
I'm taking this one. 🙇🏻

[2019-05-05 17:40] dwiyatci commented on #264
I'm taking this one. 🙇🏻

[2019-05-07 18:27] dwiyatci commented on #266
I'm taking this one. 🙇🏻

[2019-05-08 18:41] #247 closed

[2019-05-08 23:17] #265 closed

[2019-05-09 04:40] #220 closed

[2019-05-09 21:13] dwiyatci commented on #204
Wow, this one is definitely **HUGE** - almost 100 pages and nearly all of them are densely texted 😪

[2019-05-11 18:46] #229 closed

[2019-05-12 12:07] #266 closed

[2019-05-18 16:58] dwiyatci commented on #206
I'm taking this one. 🙇🏻

[2019-05-19 17:07] dwiyatci commented on #208
I'm taking this one. 🙇🏻

[2019-05-22 18:06] dwiyatci commented on #211
I'm taking this one. 🙇🏻

[2019-05-23 21:57] dwiyatci commented on #213
I'm taking this one. 🙇🏻

[2019-06-15 08:53] #260 closed

[2019-06-16 15:07] #255 closed

[2019-07-15 20:37] #249 closed

[2019-07-15 20:37] #242 closed

[2019-07-16 14:44] fhajji opened #407 "Adding a video with Margaret Hamilton to README?"
Please consider adding a link to this very instructive talk by Margaret Hamilton
to the README:

https://www.youtube.com/watch?v=ZbVOF0Uk5lU

[2019-07-18 01:08] CoralineAda opened #411 "How about a code of conduct?"
https://www.contributor-covenant.org/version/1/4/code-of-conduct

:)

[2019-07-18 01:27] vsartor opened #412 "P61 mismatch with scan on page 789"
The following line has an incorrect comment:

https://github.com/chrislgarry/Apollo-11/blob/8a16947a2d5f0dac02fb747d6a6ed91ed35c1d9c/Comanche055/P61-P67.agc#L78

This is based on the scan available here [Page 789](https://www.ibiblio.org/apollo/ScansForConversion/Comanche055/0789.jpg).

The mistake is that the comment should read `RV 60GENRET` whereas the code in the repo reads `RV 50GENRET`.

Thi

[2019-07-18 02:05] jerdog commented on #411
Any project, especially one that has a public call for contributions like this one, needs a Code of Conduct. Great suggestion.

[2019-07-18 08:53] wopian commented on #407
You can add her talk (and others) to the Wiki page!

https://github.com/chrislgarry/Apollo-11/wiki/Online-resources-related-to-the-AGC

[2019-07-18 08:53] #407 closed

[2019-07-18 09:47] socram8888 commented on #411
They literally went to the moon using this code without having one. I really fail to see why this __needs__ it.

[2019-07-18 11:16] crispycookies commented on #411
I dont think any repository needs a code of conduct...
If you feel mistreated, leave the repo...
This is no Kindergarden where some supervisor punishes you for bad behaviour.
Only merits count... Not behaviour.

[2019-07-18 11:39] vizakenjack commented on #411
How about a code of conduct in your project? https://github.com/CoralineAda/lftm/issues/2

[2019-07-18 11:42] tannisroot commented on #411
Do you actually **_want_** people to hate you?

[2019-07-18 12:09] spiritworldcorp commented on #411
How about coming up with a real issue?

[2019-07-18 12:21] Valmar33 commented on #411
Ah... it's the infamous Coraline, the woman who's been pushing their CoC down the throats of innumerable projects, and who goes on insane tirades on Twitter.

[2019-07-18 12:37] kshithijiyer opened #420 "Project missing LICENSE file."

[2019-07-18 13:04] honestabe10 commented on #411
Dumb idea

[2019-07-18 13:06] cortical-iv commented on #411
She literally put a smiley face

[2019-07-18 13:28] wopian commented on #420
Duplicate of https://github.com/chrislgarry/Apollo-11/pull/324

[2019-07-18 13:28] #420 closed

[2019-07-18 13:38] #412 closed

[2019-07-18 14:07] wopian commented on #411
Please keep discussion in this repository civil.

[2019-07-18 20:10] cthpw103 commented on #411
i personally agree, apollo 11 NEEDS a code of conduct.

[2019-07-18 20:50] v1ruben commented on #411
how about no

[2019-07-18 21:26] rlperez commented on #411
No and quit going around trying to destroy code base communities with your nonsense.

[2019-07-18 21:42] aljex commented on #411
I think a good code of conduct is one where you don't do things like submit codes of conduct.

[2019-07-19 00:00] LethalManBoob commented on #411
No and people like you who have activist in your name should be banned

[2019-07-19 00:18] dbouquin opened #426 "Archive the Apollo-11 repo"
It would be great to be able to cite this repo directly in papers. There is a version of a fork of this on Zenodo ("[Apollo-11 v1](https://doi.org/10.5281/zenodo.59157)") from about 3 years ago but there aren't any archived releases of the repo itself. There's a guide on how to archive the repo and mint a doi for it [here](https://guides.github.com/activities/citable-code/). Willing to create an a

[2019-07-19 00:51] ShadowHatesYou commented on #411
https://geekfeminism.wikia.org/wiki/OpalGate_incident

https://github.com/opal/opal/issues/941

[2019-07-19 00:58] dm17 commented on #411
1) We didn't go to the moon - or have a live stream from there in '69 - and then "destroy all of the technology required to go"
2) Your activism is inherently authoritarian - the opposite of what you claim.

[2019-07-19 01:24] SpawnOrion commented on #411
No. The problem is that people such as Coraline, who brag about being activists in their bio, frequently use these codes of conduct to kudgel everyone not like them into submission while acting in reprehensible ways without being held to account for their own bigotry.
Submitting to Coraline's polite demand, and let's be honest, her history shows that this will soon turn into a demand, gives her th

[2019-07-19 01:29] bunnyml opened #427 "我现在真是膨胀了，都敢看阿波罗登月的代码了"

[2019-07-19 02:05] oldmud0 commented on #411
All right, all right, I think there is enough opposition to make the point. Locking as a precaution, to prevent this thread from, er, going too far.

[2019-07-19 02:05] #411 closed

[2019-07-19 02:20] oldmud0 commented on #426
Unfortunately, we are not sure at what point in time it would be appropriate to create a tag/release. The goal is to make the code here fall in line exactly with the GAP printouts, but we've still got a long way to go. @wopian what do you think?

[2019-07-19 02:31] #427 closed

[2019-07-19 04:45] k-horton commented on #204
Hi all! I'm trying to tackle as much of this bit as I can :) I'm new to open-source and GitHub etiquette, though, so please let me know if I'm ever doing anything improperly.

[2019-07-19 06:11] pwcs opened #428 "火钳留名"
在线等。

[2019-07-19 06:16] SweetSalts opened #429 "兄弟，上天的代码我给你准备好了"

[2019-07-19 06:26] thinkcodee commented on #429
就差融资了

[2019-07-19 06:33] 4352570 commented on #429
众筹吧，我出1块

[2019-07-19 06:38] sakura999999999 opened #431 "膨胀膨胀，都敢看阿波罗的代码了"

[2019-07-19 07:00] MaidongAndYida opened #432 "太好了，有这代码我就可以登月了"
太好了，有这代码我就可以登月了

[2019-07-19 07:01] Eastion opened #433 "兄dei，登月的代码已经有了，就差一笔钱和一个程序员了，有兴趣的可以投简历，记得带上钱"
现在就差五十个亿和一个程序员了， 有没有人带着钱加入我们？

[2019-07-19 07:08] MaskEgo opened #434 "这是我参与的第二个大型开源项目"

[2019-07-19 07:12] Mehoo10 opened #435 "我终于看到这段代码了，感觉有点膨胀啊"
Arision

[2019-07-19 07:13] yanchaols opened #436 "膨胀了，我居然也敢来看阿波罗11号登月代码！"

[2019-07-19 07:19] wengchina opened #437 "赶紧搞一份，回头找两个兄弟去登月了。我真是太猖狂了，吹牛都不打草稿了"

[2019-07-19 07:23] wengchina commented on #437
Hurry up and get one. Look back for two brothers to go to the moon. I'm so rampant that I don't boast about drafting.

[2019-07-19 07:23] zonghezheng opened #438 "代码我已经仔细研读了，汇编的很简单，就是几个动作而已"

[2019-07-19 07:25] lixiaodongisme commented on #438
第一个动作是滋尿

[2019-07-19 07:35] Moveofself commented on #434
第一个是什么

[2019-07-19 07:39] jiangzheny opened #439 "Does American law protect the devil?"
Does American law protect the devil?

[2019-07-19 07:40] li010101 opened #440 "代码已准备好了，现在你们大佬投资了"

[2019-07-19 07:42] jiangzheny commented on #434
第一个是996ICU

[2019-07-19 07:53] jmheart opened #441 "农民工徒手登月计划第一天！"
农民工徒手登月计划第一天！

[2019-07-19 07:56] Hz12306 opened #442 "Do U want me to review THE code?"
**At present**
the structure has a low degree of coupling and low coupling.
NICE JOB
*********************Translation*****************************
*zh_ch*:  CodeReview 这套代码 臣妾看不懂 做不到

[2019-07-19 07:58] Resident-Evil opened #443 "落魄前端，月球在线炒粉"

[2019-07-19 08:01] yuefei7746 commented on #427
你可以把这段话放到你自己的朋友圈或者微博，但请不要发布到**issues**。这里是对项目提问题的地方，不是灌水发评论的地方。

[2019-07-19 08:05] billijoe opened #444 "伞兵一号卢本伟准备就绪！！！"

[2019-07-19 08:06] 11341684 opened #445 "汇编不好理解，我花了八年把他改成了高级语言的写法，不会汇编的或者想看高级语言版本的可以看过来"
[code]

[2019-07-19 08:07] honokazy commented on #444
准备你🐎的香蕉棒棒锤

[2019-07-19 08:10] JackJoeHome opened #446 "亲测可用！我现在在月球，生命体征平稳！"

[2019-07-19 08:10] zzzzzzzdot commented on #445
该说你是大佬呢？
还是沙雕呢……

[2019-07-19 08:11] AyagawaSeirin commented on #446
记得拍张地球的照片，微信的启动图该换换了

[2019-07-19 08:15] edfeff opened #447 "￥招聘航天员￥，吃苦耐劳、有经验者优先，薪资面议"
RT

[2019-07-19 08:15] 11341684 commented on #445
合并成大雕倒是符合我

[2019-07-19 08:17] edfeff commented on #447
RT

[2019-07-19 08:18] Albelt opened #448 "长大了我要当太空员，老师可高兴了，给我看最爱的汇编源代码。"
![image](https://user-images.githubusercontent.com/35684393/61520329-89521e80-aa40-11e9-9c8f-717c4a8f3314.png)

[2019-07-19 08:26] JackJoeHome commented on #446
![1](https://user-images.githubusercontent.com/12382626/61520963-d682c000-aa41-11e9-8ac8-d2d593dbe339.png)
地球很美

[2019-07-19 08:28] qq1037861239 opened #449 "哇塞! 好屌哦！ 妈妈再也不用担心我上不了天了"
issues区全是汉语2333333333

[2019-07-19 08:29] qq1037861239 commented on #448
图没发绿，差评！

[2019-07-19 08:30] qq1037861239 commented on #447
秒薪8888￥吗？

[2019-07-19 08:32] liuhaibo0303 opened #450 "听起来高大上，可惜只有中国人在评论"
听起来高大上，可惜只有中国人在评论

[2019-07-19 08:33] qq1037861239 commented on #445
![image](https://user-images.githubusercontent.com/31364101/61521501-ea7af180-aa42-11e9-9de7-094640f58294.png)
（手动滑稽）

[2019-07-19 08:33] jianjiandamowang commented on #445
陈智炜我知道 你在看  别看了 回去改bug

[2019-07-19 08:34] AyagawaSeirin commented on #450
还全是沙雕评论。

[2019-07-19 08:34] Rainyn opened #451 "全是中文，哈哈，要笑死"

[2019-07-19 08:36] AyagawaSeirin commented on #444
难受啊,马飞

[2019-07-19 08:37] qq1037861239 commented on #444
舒服啊相赫

[2019-07-19 08:39] qq1037861239 commented on #432
阿波罗 加燃料  打钱

[2019-07-19 08:39] JackCapillary opened #452 "capillary 前端炒粉 10元一份。"

[2019-07-19 08:41] qq1037861239 opened #453 "阿波罗 加燃料 带你 打钱。。。。"

[2019-07-19 08:41] JackCapillary opened #454 "招聘前端，中级，简历投送346916672@qq.com"

[2019-07-19 08:42] zzzzzzzdot opened #455 "老猫这么多中国人的嘛？"
好端端的问题反馈版被玩成了灌水……

[2019-07-19 08:46] JerryBaojin commented on #454
what's your problem?

[2019-07-19 08:47] JerryBaojin commented on #452
what's your problem?

[2019-07-19 08:48] monstertsl opened #456 "亲测可用，等你们"
![57B705CA-AD20-4811-B703-45774E8FC381](https://user-images.githubusercontent.com/39371736/61522441-f1a2ff00-aa44-11e9-855d-f550c70cdfa5.jpeg)

[2019-07-19 08:49] AyagawaSeirin commented on #454
what's your problem?

[2019-07-19 08:52] qq1037861239 commented on #455
因为正经的时候都用英文嘛  233333

[2019-07-19 08:52] 623034345 opened #457 "我已完全读懂,打钱十亿,带你们上月球找嫦娥"

[2019-07-19 08:53] qq1037861239 commented on #454
what's your problem?

[2019-07-19 08:54] qq1037861239 commented on #454
what's your problem?

[2019-07-19 08:56] qq1037861239 commented on #433
what's your problem?

[2019-07-19 08:56] donghuixin opened #458 "确实是伟大的工程，不过点进issues笑哭了"
![image](https://user-images.githubusercontent.com/38607632/61523020-1e0b4b00-aa46-11e9-88b9-3c79efd236a8.png)

[2019-07-19 08:57] heweidaren opened #459 "你们是有病吗，在全世界丢人灌水"
What`s your problem？

[2019-07-19 08:57] ALiSir opened #460 "star一下，日后有用"
star一下，日后有用

[2019-07-19 08:57] bugcatsuran commented on #452
what's your problem? hh

[2019-07-19 08:58] qq1037861239 commented on #459
what's your problem?

[2019-07-19 08:58] bugcatsuran commented on #459
What`s your problem？

[2019-07-19 08:59] jiangzheny commented on #459
What`s your problem？

[2019-07-19 08:59] LiHerman commented on #459
What`s your problem？

[2019-07-19 09:01] zzzzzzzdot commented on #459
很快国内媒体应该就会报道了🙃不过都是些死宅，很正常

[2019-07-19 09:03] AyagawaSeirin commented on #459
是啊，还有发招聘广告的，很恶心

[2019-07-19 09:03] #460 closed

[2019-07-19 09:04] zzzzzzzdot commented on #439
QQmail？

[2019-07-19 09:06] desiresss opened #461 "我们cbchot马上就搞登月项目..正好用得上！！"
nice！

[2019-07-19 09:08] wangrenjun12 opened #462 "别把github issues当贴吧和BBS灌水啊 别丢人显眼 赶紧把凑热闹issues删了"

[2019-07-19 09:10] Vi-jay commented on #445
这个机灵抖的可以

[2019-07-19 09:10] Vi-jay commented on #445
You "dou ji ling" is very well

[2019-07-19 09:11] Vi-jay commented on #459
What`s your problem？

[2019-07-19 09:11] chendacan opened #463 "别找了， 我删了"

[2019-07-19 09:13] qq1037861239 commented on #454
本人精通C、C++、Java、C#、VB、HTML、Delphi、JavaScript、PHP等语言的拼写,熟练掌握PhotoShop、Illustrator CS、CorelDraw、Flash CS、AutoCAD、Office等软件的安装与卸载，精通Windows Server、OSX、Unix、Lunix等操作系统的开关机，现求一份互联网科技公司端茶倒水的工作，不知您司能给到年薪888吗？

[2019-07-19 09:15] xchandroid opened #464 "请你们不要破坏github的风气，不要把这里当作贴吧、微博"

[2019-07-19 09:17] #463 closed

[2019-07-19 09:21] Albelt commented on #448
偶尔皮一下很开心:)

[2019-07-19 09:21] #448 closed

[2019-07-19 09:25] MaosanDao commented on #456
关了吧，别影响别人。

[2019-07-19 09:28] qq1037861239 commented on #462
开个玩笑至于么，你是要issue区讨论源码重构么？本来就是社区，何必跟机械一样

[2019-07-19 09:31] zzzzzzzdot commented on #464
没办法啦

[2019-07-19 09:43] wopian commented on #426
The final checks of the Comanche055 digitisation is almost complete - we're only a few subroutines from having checked everything is 100% identical to the GAP printouts. Will tag a release when that's done, before moving on to do the same with Luminary099.

[2019-07-19 09:45] #428 closed

[2019-07-19 09:45] #429 closed

[2019-07-19 09:45] hjhzsat commented on #461
nverygood

[2019-07-19 09:45] #431 closed

[2019-07-19 09:45] #435 closed

[2019-07-19 09:46] #436 closed

[2019-07-19 09:46] MustangYM opened #465 "资本主义列强全是纸老虎!"
打到列强!

[2019-07-19 09:46] #437 closed

[2019-07-19 09:47] #441 closed

[2019-07-19 09:48] #443 closed

[2019-07-19 09:48] #446 closed

[2019-07-19 09:48] #449 closed

[2019-07-19 09:49] #447 closed

[2019-07-19 09:49] zzzzzzzdot commented on #465
之前灌水的还好，你这个过分了

[2019-07-19 09:49] JerryBaojin commented on #465
都9021了 还那么蠢？

[2019-07-19 09:49] #450 closed

[2019-07-19 09:49] #451 closed

[2019-07-19 09:50] #444 closed

[2019-07-19 09:50] #434 closed

[2019-07-19 09:50] #432 closed

[2019-07-19 09:51] #453 closed

[2019-07-19 09:51] #455 closed

[2019-07-19 09:51] wenyuming opened #466 "团贷网还我血汗钱！！~"
缺钱造飞船了！

[2019-07-19 09:51] #457 closed

[2019-07-19 09:52] #433 closed

[2019-07-19 09:52] #458 closed

[2019-07-19 09:52] #452 closed

[2019-07-19 09:53] #445 closed

[2019-07-19 09:53] LRH-iOS opened #467 "你们都是魔鬼吗"
你们都是魔鬼吗？这么疯狂

[2019-07-19 09:53] #459 closed

[2019-07-19 09:53] #454 closed

[2019-07-19 09:54] qq1037861239 commented on #467
啊    中文全被删掉了

[2019-07-19 09:54] #456 closed

[2019-07-19 09:54] #438 closed

[2019-07-19 09:54] #464 closed

[2019-07-19 09:55] zzrdark commented on #467
好多魔鬼

[2019-07-19 09:55] #462 closed

[2019-07-19 09:55] oovwall commented on #465
这要是在『朝鲜』，应该会处以泄露国家机密罪判处死刑吧。。

[2019-07-19 09:55] #461 closed

[2019-07-19 09:56] #465 closed

[2019-07-19 09:57] #467 closed

[2019-07-19 09:57] bhabgs commented on #442
汇编

[2019-07-19 10:01] #53 closed

[2019-07-19 10:03] ZoeLeee opened #468 "I can fly"

[2019-07-19 10:04] #468 closed

[2019-07-19 10:18] #232 closed

[2019-07-19 10:21] mengzhibin opened #469 "有意思了,我们一起review这个代码啊"
我们先找到main入口函数啊

[2019-07-19 10:23] shuizhengqi1 commented on #469
别tm给国人抹黑了

[2019-07-19 10:25] TheKingOfDuck opened #470 "我有阿波罗11号的源代码你信不信？"
以后出去有牛逼可以吹了

[2019-07-19 10:34] jianggle commented on #469
PHP is the best language in the world

[2019-07-19 10:35] #470 closed

[2019-07-19 10:35] jianggle commented on #442
一脸懵逼

[2019-07-19 10:55] xiantang commented on #469
kidding me?

[2019-07-19 11:11] #469 closed

[2019-07-19 11:28] wepost commented on #469
18007888843   mengzhibin321@163.com

广西桂林市七星区金鸡路1号（邮编：541004）

教育背景

Ø  2014.9—2017.7     桂林电子科技大学       信息与通信工程      工学硕士

Ø  2010.9—2014.7     山东建筑大学           电子信息工程        工学学士

技能特长

Ø  熟悉计算机言语C++/C/JAVA/Verilog，熟悉面向对象编程。

Ø  熟练使用matlab仿真平台进行仿真实验

Ø  熟练Android软件开发

Ø  熟练使用Altium Designer PCB绘图软件

Ø  熟练单片机开发，熟悉FPGA开发

Ø  了解Linux操作系统以及liunx的常用命令

主修课程

Ø  本科：C语言程序设计、模电、数电、电路分析基础，高频电子电路、数字信号处理、V

[2019-07-19 11:28] yaozheng opened #472 "我就说GFW的存在是为了保护外国人你们还不信"
看看都被玩坏了，难道你们不想登月了？
话说去哪里可以领到飞船呢？

[2019-07-19 11:30] wuyugege commented on #448
傻屌

[2019-07-19 11:49] zyjking commented on #472
人家开源有什么问题吗
（Is anything wrong with open source?）

[2019-07-19 12:07] wepost commented on #442
杭州仰天信息科技
18758861624@163.com

我寻思你这公司就职过的以后就别找工作了，你这手机号以后也别用来找工作了。

[2019-07-19 12:13] #472 closed

[2019-07-19 13:07] DanFoad commented on #215
I'd like to take this on

[2019-07-19 14:15] dbouquin commented on #426
Glad it's getting close. Until there's an archived release I'll just plan on using a commit hash. In the meantime it would be helpful if you just listed a preferred citation with the attribution info (or you could make a [CITATION.cff](https://citation-file-format.github.io/) file) just so it's clear whether or not there are specific people who should be listed as "authors".

[2019-07-19 14:56] liangchenhe55 opened #476 "Apologize for some Chinese issues | 为一些中文 Issues 致歉"
As you can see, there are some low quality chinese issues. As a chinese student I want to apologize first.

But please believe that uncivilized chinese people are only a few. There are many people in China who love technology and are willing to share it. We want to build an excellent community together.

Forgive me for poor english :(

---

正如你所见，Issues 有一些低质量的中文条目。作为一名中国学生我想先向各位道歉。

但是请相信，不文明的人只是

[2019-07-19 14:56] #476 closed

[2019-07-19 15:28] #442 closed

[2019-07-19 22:09] njmarui opened #478 "啤酒饮料矿泉水;香烟瓜子火腿肠，来来来，腿收一收"

[2019-07-19 22:16] #478 closed

[2019-07-19 22:19] #271 closed

[2019-07-20 01:53] lawrencewu opened #479 "Salute to the GREAT FIRST STEP"
Salute  to the GREAT FIRST STEP

[2019-07-20 01:55] drewster99 commented on #479
I seriously wish I could get this thread to STOP emailing me.  I’ve muted the thread.  I’ve unsubscribed.  And I’m still getting dozens of emails a day.

[2019-07-20 02:07] panfeng-Hn opened #480 "代码我已经下载下来了，请问飞船我去哪领？"

[2019-07-20 02:09] CheneyH commented on #480
我做个申请页面？

[2019-07-20 02:10] hsun924 commented on #480
http://www.cmse.gov.cn

[2019-07-20 02:14] kakaxi-lin opened #481 "都是汇编，看不懂啊"

[2019-07-20 02:19] KennyWho commented on #480
去你妈逼里领。

[2019-07-20 02:23] jvedi commented on #480
丢人丢到国际上来了，别人致敬技术和这个伟大的项目，而一些有害垃圾到这里秀下限。

[2019-07-20 02:25] panfeng-Hn commented on #480
傻X

[2019-07-20 02:25] #480 closed

[2019-07-20 02:27] watershade commented on #476
Apologize too. I don't believe our people can be so follish and boorish to technology. Give my respect to this project.

[2019-07-20 02:28] Sigmn opened #482 "据说某国特工九死一生拿到了NASA太空火箭发射程序源代码的最后几页"
据说某国特工九死一生偷到了NASA太空火箭发射程序源代码的最后几页，代码是：}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}

[2019-07-20 02:32] hooverwang commented on #482
hahahaha

[2019-07-20 02:35] KennyWho commented on #482
我想给你妈烧个香

[2019-07-20 02:36] huanglilei commented on #480
你妈死了 臭傻逼 恶心死了

[2019-07-20 02:41] panfeng-Hn commented on #480
就是要恶心死你这个杠精

[2019-07-20 02:42] xiaohuilam commented on #482
别出来丢人现眼了， 小鳖三。滚出 Github。
Get back and fuck you ass, xb3. Leave the plannet earth alone.

[2019-07-20 02:44] yoyo837 commented on #482
不要在这里发些技术无关的，有其他兴趣的应该去twitter发言...

[2019-07-20 02:45] watershade commented on #482
Close it as soon as possible